-# frozen_string_literal: true
= simple_form_for(@service) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :service_category, autofocus: true
    = f.input :name
    = f.input :description
    = f.input :duration
    = f.input :client_price_cents
    = f.input :employee_percent
    /= f.input :employee_price
    /= f.input :quantity
    /= f.input :status
    - unless f.object.new_record?
      = f.input :status, :as => :radio_buttons, :collection => Service.statuses.keys.to_a, label:false

  .form-actions
    = f.button :submit
