- model_class = Service
= search_form_for @q, url: services_path do |f|
  %br
  .card.card-default
    .container
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          %b
            =t '.title', :default => model_class.model_name.human.pluralize.titleize
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          %button.btn.btn-sm.btn-default{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
            .fa.fa-search
            Search
          = link_to t('.new', :default => t("helpers.links.new")), new_service_path, class: 'btn btn-sm btn-primary'
    #accordion.collapse
      %table
        %thead
          %tr
            %th 
              Category
              = f.search_field :service_category_name_cont, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Category"
            %th
              Name
              = f.text_field :name_cont, class: "form-control", placeholder: "Name", autofocus: true
            %th= f.submit
            %th= link_to '', services_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'

%table
  %thead
    %tr
      %th= sort_link @q, :service_category_name, "Category"
      %th= sort_link @q, :name, "Name"
      %th Description
      %th= sort_link @q, :duration, "Duration"
      %th= sort_link @q, :client_price, "Client $"
      %th= sort_link @q, :employee_percent, "Employee %"
      %th= sort_link @q, :employee_price, "Employee $"
      /%th Quantity
      %th= sort_link @q, :status, "Status"
      %th= sort_link @q, :jobs_count, "Jobs"
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.service_category
        %td= service.name
        %td= service.description
        %td= service.duration
        %td= number_to_currency(service.client_price_cents, :unit => "$")
        %td= service.employee_percent
        %td= number_to_currency(service.employee_price_cents, :unit => "$")
        /%td= service.quantity
        %td= status_label(service.status)
        %td= service.jobs_count
        %td= link_to 'Show', service, class: 'btn btn-sm btn-primary'
        %td= link_to 'Edit', edit_service_path(service), class: 'btn btn-sm btn-warning'
        %td= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
.container
  = will_paginate @services, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
