%h1 Listing services

%table
  %thead
    %tr
      %th Category
      %th Name
      %th Description
      %th Duration
      %th Client price
      %th Employee percent
      %th Employee price
      %th Quantity
      %th Status
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.category
        %td= service.name
        %td= service.description
        %td= service.duration
        %td= service.client_price
        %td= service.employee_percent
        %td= service.employee_price
        %td= service.quantity
        %td= service.status
        %td= link_to 'Show', service
        %td= link_to 'Edit', edit_service_path(service)
        %td= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Service', new_service_path
