%h1 Listing services

%table
  %thead
    %tr
      %th Category
      %th Name
      %th Description
      %th Duration
      %th Client $
      %th Employee %
      %th Employee $
      %th Quantity
      %th Status
      %th Jobs
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        %td= service.category
        %td= service.name
        %td= service.description
        %td= service.duration
        %td= number_to_currency(service.client_price, :unit => "#{service.client_price_currency}, ")
        %td= service.employee_percent
        %td= number_to_currency(service.employee_price, :unit => "#{service.employee_price_currency}, ")
        %td= service.quantity
        %td= status_label(service.status)
        %td= service.jobs_count
        %td= link_to 'Show', service
        %td= link_to 'Edit', edit_service_path(service)
        %td= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Service', new_service_path
