- model_class = Service
.card#pills-background
  .card-header
    .row
      .col-lg-3
        %h5
          .far.fa-hand-paper
          %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
          .badge.badge-info
            = @services.count
      .col-lg-6
        = search_form_for @q, url: services_path do |f|
          .input-group
            .mr-md-2
            = f.text_field :name_cont, class: "form-control-sm", placeholder: "#{model_class.human_attribute_name(:name)}", :autocomplete => :off
            = f.select :service_category_id_eq, options_from_collection_for_select(ServiceCategory.all, :id, :name, @q.service_category_id_eq), { :include_blank => true }, :class => "form-control-sm", style: 'width: 120px'
            /= f.submit
            %span.input-group-append
              %button.btn.btn-primary.btn-sm{:type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
      .col-lg-3
        .float-right
          .form-inline
            - if params.has_key?(:q)
              = link_to '', services_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
            .mr-1
            - if policy(Service).create?
              = link_to t('.new', :default => t("helpers.links.new")), new_service_path, class: 'btn btn-sm btn-primary'
.table-responsive-xl
  %table#table1
    %thead
      %tr
        %th
        %th= sort_link @q, :name
        %th= sort_link @q, :service_category_id
        %th= sort_link @q, :duration
        %th= sort_link @q, :client_price
        %th= sort_link @q, :member_percent
        %th= sort_link @q, :member_price
        %th= sort_link @q, :description
        %th= sort_link @q, :active
        %th= sort_link @q, :online_booking
        %th= sort_link @q, :updated_at
        %th= sort_link @q, :created_at
        %th Employees
    /%thead
    /  = search_form_for @q, url: services_path do |f|
    /    %tr
    /      %td= f.submit
    /      %td= f.text_field :name_cont, class: "form-control-sm", placeholder: "#{model_class.human_attribute_name(:name)}", :autocomplete => :off
    /      %td= f.select :service_category_id_eq, options_from_collection_for_select(ServiceCategory.all, :id, :name, @q.service_category_id_eq), { :include_blank => true }, :class => "form-control-sm", style: 'width: 120px'
    /      %td
    /        %button.btn.btn-outline-primary{:onclick => "location.href='#'", :type => "button"} Edit
    %tbody
      - @services.each do |service|
        %tr
          %td
            .btn-group
              = link_to '', edit_service_path(service), class: "btn btn-warning fa fa-edit btn-sm" if policy(service).edit?
              = link_to '', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service).destroy?
          %td= link_to service.name, service_path(service)
          %td= service.service_category
          %td= service.duration
          %td= service.client_price_cents
          %td= number_to_percentage(service.member_percent, precision: 0)
          %td= service.member_price_cents
          %td= service.description
          %td= active_label(service.active)
          %td= active_label(service.online_booking)
          %td= l(service.updated_at, format: "%a %d/%b/%Y %H:%M")
          %td= l(service.created_at, format: "%a %d/%b/%Y %H:%M")
          %td
            - service.members.each do |member|
              = link_to member.full_name, member_path(member)
          /%td= service.members.pluck(:first_name, :last_name).compact.join(' ')
.container.table-responsive
  != pagy_bootstrap_nav(@pagy)
%br