- model_class = Service
.card
  .card-header
    .row
      .col-lg-6
        %h5
          .fa.fa-hand-paper
          %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
          .badge.badge-info
            = @services.count
      .col-lg-6
        .float-right
          .form-inline
            /= search_form_for @q, url: services_path do |f|
            /  %span.input-group-append
            /    %button.btn.btn-primary.btn-sm{:type => "submit"}
            /      %span.fa.fa-search{"aria-hidden" => "true"}
            /  = f.submit
            - if params.has_key?(:q)
              = link_to '', services_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
            .mr-1
            - if policy(Service).create?
              = link_to t('.new', :default => t("helpers.links.new")), new_service_path, class: 'btn btn-sm btn-primary'
.table-responsive-xl
  %table#table1
    %thead
      %tr
        %th= sort_link @q, :name
        %th= sort_link @q, :service_category_id
        %th= sort_link @q, :duration
        %th= sort_link @q, :client_price
        %th= sort_link @q, :member_percent
        %th= sort_link @q, :member_price
        %th= sort_link @q, :description
        %th= sort_link @q, :active
        %th= sort_link @q, :online_booking
        %th= sort_link @q, :updated_at
        %th= sort_link @q, :created_at
        %th
    = search_form_for @q, url: services_path do |f|
      %thead
        %tr
          %th= f.text_field :name_cont, class: "form-control-sm", placeholder: "#{model_class.human_attribute_name(:name)}", :autocomplete => :off
          %th
            = f.select :service_category_id_eq, options_from_collection_for_select(ServiceCategory.all, :id, :name, @q.service_category_id_eq), { :include_blank => true }, :class => "form-control-sm", style: 'width: 120px'
          %th
            = f.submit
    %tbody
      - @services.each do |service|
        %tr
          %td= link_to service.name, service_path(service)
          %td= link_to service.service_category, services_path(q: {service_category_id_eq: service.service_category_id})
          %td= service.duration
          %td= service.client_price_cents
          %td= number_to_percentage(service.member_percent, precision: 0)
          %td= service.member_price_cents
          %td
            %small= service.description
          %td= active_label(service.active)
          %td= active_label(service.online_booking)
          %td= service.updated_at.strftime('%d/%m/%Y %H:%M')
          %td= service.created_at.strftime('%d/%m/%Y %H:%M')
          %td
            .btn-group
              = link_to '', edit_service_path(service), class: "btn btn-warning fa fa-edit btn-sm" if policy(service).edit?
              = link_to '', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service).destroy?
.container.table-responsive
  = will_paginate @services, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
