%p#notice= notice

%p
  %b Category:
  = @service.service_category
%p
  %b Name:
  = @service.name
%p
  %b Description:
  = @service.description
%p
  %b Duration:
  = @service.duration
%p
  %b Client price:
  = number_to_currency(@service.client_price_cents, :unit => "$")
%p
  %b Employee percent:
  = @service.employee_percent
%p
  %b Employee price:
  = number_to_currency(@service.employee_price_cents, :unit => "$")

%p
  %b Quantity:
  = @service.quantity
%p
  %b Status:
  = status_label(@service.status)

= link_to 'Edit', edit_service_path(@service)
\|
= link_to 'Back', services_path
