-# frozen_string_literal: true
= simple_form_for(@inbound_payment) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    - unless @client.present?
      = f.label :client
      = f.error :client, class: 'text-danger'
      = f.select :client_id, @clients.map{|c| [c.full_name, c.id]}, {include_blank: true}, class: 'selectize'
    - else
      = f.input :client_id, input_html: {value: @client.id}, as: :hidden

    = f.input :amount_cents, input_html: { value: '', autocomplete: 'off' }, placeholder: "0"

    = f.input :payment_method, collection: InboundPayment.payment_methods, include_blank: false, as: :radio_buttons

  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success"
