- model_class = InboundPayment
- @inbound_payments.each do |inbound_payment|
  .card
    .card-header.bg-light
      .row
        .col-lg-4
          .text-center
            = link_to inbound_payment.slug, inbound_payment_path(inbound_payment) if policy(inbound_payment).show?
            .row
            = link_to "", inbound_payment_path(inbound_payment, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank  if policy(inbound_payment).show?
            = link_to "", inbound_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(inbound_payment).destroy?
        .col-lg-4
          .fa.fa-address-book
          - if inbound_payment.client.present?
            = link_to inbound_payment.client, client_path(inbound_payment.client)
          .row
          .fa.fa-hand-holding-usd
          = number_to_currency(inbound_payment.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          .badge.badge-secondary
            = I18n.t(inbound_payment.payment_method, scope: [:activerecord, :attributes, :inbound_payment, :payment_methods])
          .row
          - if inbound_payment.payable.present?
            - if inbound_payment.payable_type == "Event"
              .fa.fa-calendar
              %b= model_class.human_attribute_name(:event) + ':'
              = link_to inbound_payment.payable, event_path(inbound_payment.payable)
        .col-lg-4
          .fa.fa-clock
          = l(inbound_payment.created_at, format: "%a %d/%b/%Y %H:%M")

/.table-responsive
/  %table#table1
/    %thead
/      %tr
/        %th= sort_link @q, :id, model_class.human_attribute_name(:id)
/        %th= sort_link @q, :client_last_name, model_class.human_attribute_name(:client)
/        %th= sort_link @q, :amount, model_class.human_attribute_name(:amount_cents)
/        %th= sort_link @q, :payment_method, model_class.human_attribute_name(:payment_method)
/        %th= sort_link @q, :created_at, model_class.human_attribute_name(:created_at)
/        %th
/    %tbody
/      - @inbound_payments.each do |inbound_payment|
/        %tr
/          %td= link_to inbound_payment.slug, inbound_payment_path(inbound_payment) if policy(inbound_payment).show?
/          %td
/            = link_to inbound_payment.client, client_path(inbound_payment.client)
/            .row
/            - if inbound_payment.payable.present?
/              - if inbound_payment.payable_type == "Event"
/                .fa.fa-calendar
/                %b= model_class.human_attribute_name(:event) + ':'
/                = link_to inbound_payment.payable, event_path(inbound_payment.payable)
/          %td= number_to_currency(inbound_payment.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
/          %td
/            .badge.badge-secondary
/              = I18n.t(inbound_payment.payment_method, scope: [:activerecord, :attributes, :inbound_payment, :payment_methods])
/
/          %td= l(inbound_payment.created_at, format: "%a %d/%b/%Y %H:%M")
/          %td
/            = link_to "", inbound_payment_path(inbound_payment, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank  if policy(inbound_payment).show?
/            = link_to '', inbound_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(inbound_payment).destroy?
