%h1 Listing inbound_payments

%table
  %thead
    %tr
      %th Tenant
      %th Event
      %th Client
      %th Amount
      %th Payment method
      %th
      %th
      %th

  %tbody
    - @inbound_payments.each do |inbound_payment|
      %tr
        %td= inbound_payment.tenant
        %td= inbound_payment.event
        %td= inbound_payment.client
        %td= inbound_payment.amount
        %td= inbound_payment.payment_method
        %td= link_to 'Show', inbound_payment
        %td= link_to 'Edit', edit_inbound_payment_path(inbound_payment)
        %td= link_to 'Destroy', inbound_payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Inbound payment', new_inbound_payment_path
