- model_class = InboundPayment
= search_form_for @q, url: inbound_payments_path do |f|
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          .input-group
            .mr-sm-2
              %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          = link_to "", inbound_payments_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          - if policy(InboundPayment).create?
            = link_to t('.new', :default => t("helpers.links.new")), new_inbound_payment_path, class: 'btn btn-sm btn-primary'
    .card-header
      .row
        .col-md-4
          .input-daterange
            = model_class.human_attribute_name(:after)
            = f.text_field :created_at_gteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date >= to", :autocomplete => :off
            = model_class.human_attribute_name(:before)
            = f.text_field :created_at_lteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date <= to", :autocomplete => :off
        .col-md-4
          = model_class.human_attribute_name(:id)
          = f.text_field :id_eq, class: "form-control", placeholder: "#", style: 'float: left; width: 100%; display: block'
          .row
          = model_class.human_attribute_name(:client_id)
          = f.select :client_full_name_cont, Client.all.map{|c| [c.full_name, c.last_name]}, {include_blank: Client.all.length > 1}, class: 'selectize'
        .col-md-4
          .row
          = f.submit

.table-responsive
  %table#table1
    %thead
      %tr
        %th= sort_link @q, :id, model_class.human_attribute_name(:id)
        %th= sort_link @q, :client_last_name, model_class.human_attribute_name(:client)
        %th= sort_link @q, :amount, model_class.human_attribute_name(:amount_cents)
        %th= sort_link @q, :payment_method, model_class.human_attribute_name(:payment_method)
        %th= sort_link @q, :created_at, model_class.human_attribute_name(:created_at)
        %th
    %tbody
      - @inbound_payments.each do |inbound_payment|
        %tr
          %td= link_to inbound_payment.id, inbound_payment_path(inbound_payment) if policy(inbound_payment).show?
          %td
            - if inbound_payment.client.present?
              = link_to inbound_payment.client, client_path(inbound_payment.client)
          %td= number_to_currency(inbound_payment.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          %td= inbound_payment.payment_method
          %td
            #{l(inbound_payment.created_at, format: "%a")} #{l(inbound_payment.created_at, format: "%d/%b/%Y %H:%M")}
          %td
            = link_to '', edit_inbound_payment_path(inbound_payment), class: "btn btn-warning fa fa-edit btn-sm"  if policy(inbound_payment).edit?
            = link_to '', inbound_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(inbound_payment).destroy?
.container
  = will_paginate @inbound_payments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
