%br
%b #:
= @inbound_payment.id
%br
%b Client:
= link_to @inbound_payment.client, client_path(@inbound_payment.client)
%br
%b Amount:
= @inbound_payment.amount_cents
%br
%b Payment method:
= @inbound_payment.payment_method

= link_to 'Edit', edit_inbound_payment_path(@inbound_payment)
\|
= link_to 'Back', inbound_payments_path
%br
.card.card-default
  .container-fluid
    .card-heading
      %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
        %b Activity
  =  render 'home/activity'
