- model_class = InboundPayment
.row
  .container
    .card
      .card-header
        =t '.title', :default => model_class.model_name.human.titleize
      .card-body
        %b= model_class.human_attribute_name(:id) + ':'
        = @inbound_payment.slug
        .row
        %b= model_class.human_attribute_name(:client_id) + ':'
        = @inbound_payment.client
        .row
        %b= model_class.human_attribute_name(:amount) + ':'
        = number_to_currency(@inbound_payment.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        .row
        %b= model_class.human_attribute_name(:payment_method) + ':'
        = @inbound_payment.payment_method
        - if @inbound_payment.payable.present?
          - if @inbound_payment.payable_type == "Event"
            .row
            %b= model_class.human_attribute_name(:event) + ':'
            = link_to @inbound_payment.payable, event_path(@inbound_payment.payable)
        %br
        - @activities.each do |a|
          %b= model_class.human_attribute_name(:created_at) + ':'
          #{l(a.created_at, format: "%d/%b/%Y %H:%M")}
          .row
          %b= t('member') + ':'
          = link_to a.owner.to_s, member_path(a.owner.member.id) if a.owner.member
