.row
  .col-md-3
  .col-md-6
    - model_class = InboundPayment
    .row
      .container
        .card
          .card-header
            .fa.fa-dollar-sign
            =t '.title', :default => model_class.model_name.human.titleize
            .float-right
              = link_to "", inbound_payment_path(@inbound_payment, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank
              = link_to '', @inbound_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@inbound_payment).destroy?
          .card-body
            %b= model_class.human_attribute_name(:id) + ':'
            = @inbound_payment.slug
            %br
            .fa.fa-user
            %b= model_class.human_attribute_name(:client_id) + ':'
            = link_to @inbound_payment.client, client_path(@inbound_payment.client)
            %br
            %b= model_class.human_attribute_name(:amount) + ':'
            = number_to_currency(@inbound_payment.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            %br
            %b= model_class.human_attribute_name(:payment_method) + ':'
            .badge.badge-secondary
              = I18n.t(@inbound_payment.payment_method, scope: [:activerecord, :attributes, :inbound_payment, :payment_methods])
            - if @inbound_payment.payable.present?
              - if @inbound_payment.payable_type == "Event"
                %br
                .fa.fa-calendar
                %b= model_class.human_attribute_name(:event) + ':'
                = link_to @inbound_payment.payable, event_path(@inbound_payment.payable)
    %p
    =  render 'dashboard/activity'
