%br#notice= notice

%br
%b #:
= @inbound_payment.id
%br
%b Event:
= @inbound_payment.event
%br
%b Client:
= @inbound_payment.client
%br
%b Amount:
= @inbound_payment.amount
%br
%b Payment method:
= @inbound_payment.payment_method

= link_to 'Edit', edit_inbound_payment_path(@inbound_payment)
\|
= link_to 'Back', inbound_payments_path
