%p#notice= notice

%p
  %b Employee:
  = @employee_category.employee
%p
  %b Category:
  = @employee_category.category

= link_to 'Edit', edit_employee_category_path(@employee_category)
\|
= link_to 'Back', employee_categories_path
