- model_class = Tenant
.row
  .col-lg-3
  .col-lg-6
    .card
      .card-body
        %h5
          .fa.fa-cog
          =t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
          .badge.badge-dark admin
        %hr
        = simple_form_for @tenant, url: update_tenant_path do |f|
        
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        
          = f.input :name, required: true, class: "form-control"
          
          = f.input :locale, collection: [['Русский', 'ru'], ['English', 'en'], ['Polski', 'pl']], include_blank: false

          /= f.label :default_currency
          /= f.error :default_currency, class: 'text-danger'
          /= f.select :default_currency, Money::Currency.table, {include_blank: true}, class: 'selectize'
          = f.input :default_currency, collection: [ "usd", "eur", "pln", "uah", "rub"], include_blank: false

          /= f.input :time_zone

          = f.input :online_booking

          = f.input :industry, collection: Tenant.industries, include_blank: false

          = f.input :website

          = f.input :description, :input_html => {:rows => 5}

          ///ACTIVE_STORAGE LOGO
          .text-center
            - if @tenant.logo.attached?
              = image_tag @tenant.logo, height: "50px", class: "mx-auto d-inline align-top rounded"
              /%img.rounded{:alt => "XLPLAN", :src => "#{url_for(@tenant.logo)}", :height => "200px"}/
            - else
              .far.fa-calendar-check{:style => "font-size:60px"}
              .row
              = f.label :logo
            %p
            = f.file_field :logo
          ///END ACTIVE_STORAGE LOGO
          %hr
          = f.button :submit, class: "btn btn-success"
          %p
        = link_to t('.cancel', :default => t("helpers.links.cancel")), settings_show_path, :class => 'btn btn-danger'