- model_class = Tenant
.card
  .card-body
    %h4=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    %hr
    = simple_form_for @tenant, url: update_plan_path do |f|
    
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    
      = f.input :name, required: true, class: "form-control"
    
      = f.label :default_currency
      = f.error :default_currency, class: 'text-danger'
      = f.select :default_currency, Money::Currency.table, {include_blank: true}, class: 'selectize'
    
      = f.input :locale, collection: [['English', 'en'], ['Русский', 'ru'], ['Polski', 'pl']], include_blank: false

      = f.label :plan
      = f.error :plan, class: 'text-danger'
      = f.select :plan, options_for_select(Plan.options, @tenant.plan ), {include_blank: false}, class: "form-control"
      
      %hr
      = f.button :submit, class: "btn btn-success"
      %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), settings_show_path, :class => 'btn btn-danger'
