- model_class = Tenant
.card
  .card-body
    %h4
      .fa.fa-shopping-cart
      =t '.title'
    %hr
    = simple_form_for @tenant, url: update_tenant_path do |f|

      / #### plan FIELD STARTS HERE ####
      %p
      = f.label :plan

      %table.table.table-bordered.table-sm.table-striped.table-hover
        %thead
          %tr
            %th
            %th
              = f.radio_button :plan, :demo
              = f.label :plan_demo, "Demo", class: 'badge badge-info'
            %th
              = f.radio_button :plan, :bronze
              = f.label :plan_bronze, "Bronze", class: 'badge badge-danger'
            %th
              = f.radio_button :plan, :silver
              = f.label :plan_silver, "Silver", class: 'badge badge-secondary'
            %th
              = f.radio_button :plan, :gold
              = f.label :plan_gold, "Gold", class: 'badge badge-warning'

        %tbody
          %tr
            %td= t('static_pages.pricing.price')
            %td 0$
            %td 7$
            %td 15$
            %td 50$
          %tr
            %td= t('static_pages.pricing.period')
            %td
              14
              = t('static_pages.pricing.days')
            %td
              1
              = t('static_pages.pricing.month')
            %td
              1
              = t('static_pages.pricing.month')
            %td
              1
              = t('static_pages.pricing.month')
          %tr
            %td= t('static_pages.pricing.employees')
            %td 1
            %td 1
            %td 5
            %td= t('static_pages.pricing.unlimited')
          %tr
            %td= t('static_pages.pricing.locations')
            %td 1
            %td 1
            %td 1
            %td= t('static_pages.pricing.unlimited')
      / #### plan FIELD ENDS HERE ####

      /= f.label :plan
      /= f.error :plan, class: 'text-danger'
      /= f.select :plan, options_for_select(Plan.options, @tenant.plan ), {include_blank: false}, class: "form-control"
      
      %hr
      = f.button :submit, class: "btn btn-success"
      %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), settings_show_path, :class => 'btn btn-danger'
