- model_class = Tenant
.card
  .card-body
    %h5
      .fa.fa-shopping-cart
      =t '.title'
      .badge.badge-dark admin
    %hr
    = simple_form_for @tenant, url: update_tenant_path do |f|

      / #### plan FIELD STARTS HERE ####
      %p
      = f.label :plan
      .table-responsive
        %table.table.table-bordered.table-sm.table-striped.table-hover
          %thead
            %tr.text-center
              %th
              %th
                %h3
                  = f.radio_button :plan, :demo
                  .row
                  = f.label :plan_demo, "Demo", class: 'badge badge-info'
              %th
                %h3
                  = f.radio_button :plan, :bronze
                  .row
                  = f.label :plan_bronze, "Bronze", class: 'badge badge-danger'
              %th
                %h3
                  = f.radio_button :plan, :silver
                  .row
                  = f.label :plan_silver, "Silver", class: 'badge badge-secondary'
              %th
                %h3
                  = f.radio_button :plan, :gold
                  .row
                  = f.label :plan_gold, "Gold", class: 'badge badge-warning'
          %tbody.text-center
            %tr
              %td= t('static_pages.pricing.price')
              %td
                %b
                  0€ / 7
                  = t('static_pages.pricing.days')
              %td
                %b
                  84€ / 
                  = t('static_pages.pricing.year')
                .row
                (
                7€ / 
                = t('static_pages.pricing.month')
                )
              %td
                %b
                  180€ / 
                  = t('static_pages.pricing.year')
                .row
                (
                15€ / 
                = t('static_pages.pricing.month')
                )
              %td
                %b
                  600€ /
                  = t('static_pages.pricing.year')
                .row
                (
                50€ / 
                = t('static_pages.pricing.month')
                )
            %tr
              %td
                .fa.fa-user-tie
                = t('static_pages.pricing.employees')
              %td= t('static_pages.pricing.unlimited')
              %td 1
              %td 5
              %td= t('static_pages.pricing.unlimited')
            %tr
              %td
                .fa.fa-map-marker-alt
                = t('static_pages.pricing.locations')
              %td= t('static_pages.pricing.unlimited')
              %td 1
              %td 1
              %td= t('static_pages.pricing.unlimited')
      / #### plan FIELD ENDS HERE ####

      /= f.label :plan
      /= f.error :plan, class: 'text-danger'
      /= f.select :plan, options_for_select(Plan.options, @tenant.plan ), {include_blank: false}, class: "form-control"
      
      %hr
      = f.button :submit, class: "btn btn-success"
      %p
    = link_to t('.cancel', :default => t("helpers.links.cancel")), settings_show_path, :class => 'btn btn-danger'
