- model_class = Tenant
.row
  .col-lg-6
    .card
      .card-header
        .fa.fa-cog
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_plan_path, :class => 'btn btn-warning btn-sm'
      .card-body
        %b= model_class.human_attribute_name(:id) + ':'
        %b= @tenant.id
        %br
        %b= model_class.human_attribute_name(:name) + ':'
        %b= @tenant.name
        %br
        %b= model_class.human_attribute_name(:plan) + ':'
        = plan_label(@tenant.plan)
        %br
        %b= model_class.human_attribute_name(:locale) + ':'
        %b= @tenant.locale.upcase
        %br
        %b= model_class.human_attribute_name(:default_currency) + ':'
        %b= @tenant.default_currency.upcase
  .col-lg-6
    %h3.text-center
      .badge.badge-secondary.btn-block
        = t('.counters')
    .row
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-calendar
          = Event.count
          %div 
            %b= t('.events')
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-calendar
          = Job.count
          %div 
            %b= t('.jobs')
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-user
          = Client.count
          %div 
            %b= t('.clients')
    %p
    .row
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-user-tie
          = Member.count
          %div 
            %b= t('.members')
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-hand-paper
          = Service.count
          %div 
            %b= t('.services')
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-industry
          = Location.count
          %div 
            %b= t('.locations')
    %p
    .row
      .col-lg-4
        .card-header.bg-default
          %i.fa.fa-user-tie
          = InboundPayment.count
          %div 
            %b= t('.inbound_payments')
%p
