.row
  .col-6
    .card
      .card-header
        %h4
          %b= t('.my_organization')
      .card-body
        Name:
        %b= @tenant.name
        %p
        Plan:
        = plan_label(@tenant.plan)
        %p
        Language:
        %b= @tenant.locale.upcase
        %p
        Default Currency:
        %b= @tenant.default_currency.upcase
        %p
        = link_to t(".edit"), edit_plan_path, class: "btn btn-warning btn-sm"
    %p
    %h3.text-center
      .badge.badge-secondary.btn-block
        = t('.counters')
    .row
      .col-4
        .card-header.bg-default
          %i.fa.fa-calendar
          = Event.count
          %div 
            %b= t('.events')
      .col-4
        .card-header.bg-default
          %i.fa.fa-calendar
          = Job.count
          %div 
            %b= t('.jobs')
      .col-4
        .card-header.bg-default
          %i.fa.fa-user
          = Client.count
          %div 
            %b= t('.clients')
    %p
    .row
      .col-4
        .card-header.bg-default
          %i.fa.fa-user-tie
          = Member.count
          %div 
            %b= t('.members')
      .col-4
        .card-header.bg-default
          %i.fa.fa-hand-paper
          = Service.count
          %div 
            %b= t('.services')
      .col-4
        .card-header.bg-default
          %i.fa.fa-industry
          = Location.count
          %div 
            %b= t('.locations')

  .col-6
    .card
      .card-header
        .fa.fa-rocket
        = t('.getting_started')
      .card-body
        %h5
          - if Tenant.current_tenant.plan != 'basic'
            - unless Member.count >= 2
              %span.badge.badge-pill.badge-danger 0
              = link_to t('.new_member'), new_member_path
            - else
              %span.badge.badge-pill.badge-success 0
              %del
                = t('.new_member')
            %hr
          - unless Location.any?
            %span.badge.badge-pill.badge-danger 1
            = link_to t('.new_location'), new_location_path
          - else
            %span.badge.badge-pill.badge-success 1
            %del
              = t('.new_location')
          %hr
          - unless Service.any?
            %span.badge.badge-pill.badge-danger 2
            = link_to t('.new_service'), new_service_path
          - else
            %span.badge.badge-pill.badge-success 2
            %del
              = t('.new_service')
          %hr
          - unless Client.any?
            %span.badge.badge-pill.badge-danger 3
            = link_to t('.new_client'), new_client_path
          - else
            %span.badge.badge-pill.badge-success 3
            %del
              = t('.new_client')
          %hr
          - unless Event.any?
            %span.badge.badge-pill.badge-danger 4
            = link_to t('.new_event'), new_event_path
          - else
            %span.badge.badge-pill.badge-success 4
            %del
              = t('.new_event')
            %hr
              Great! Now you can checkout the event
%p
