- model_class = Tenant
.row
  .col-lg-5
    .card
      .card-header
        .fa.fa-cog
        %b=t '.title', :default => model_class.model_name.human.titleize
        .badge.badge-dark admin
        .float-right
          = link_to '', edit_tenant_path, class: "btn btn-warning fa fa-edit btn-sm"
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @tenant.name
        .row
        %b= model_class.human_attribute_name(:subdomain) + ':'
        = @tenant.subdomain
        .row
        %b= model_class.human_attribute_name(:theme) + ':'
        = @tenant.theme
        .row
        %b= model_class.human_attribute_name(:locale) + ':'
        = @tenant.locale.upcase
        .row
        %b= model_class.human_attribute_name(:default_currency) + ':'
        = @tenant.default_currency.upcase
        .row
        %b= model_class.human_attribute_name(:time_zone) + ':'
        = @tenant.time_zone
        %hr
        %b= model_class.human_attribute_name(:online_booking) + ':'
        = active_label(@tenant.online_booking)
        .row
        %b= model_class.human_attribute_name(:industry) + ':'
        = I18n.t(@tenant.industry, scope: [:static_pages, :landing_page])
        .row
        %b= model_class.human_attribute_name(:website) + ':'
        - if @tenant.website.present?
          = link_to @tenant.website, "http://#{@tenant.website}", target: :_blank
        .row
        %b= model_class.human_attribute_name(:instagram) + ':'
        - if @tenant.instagram.present?
          = link_to @tenant.instagram, "http://www.instagram.com/#{@tenant.instagram}", target: :_blank
        .row
        %b= model_class.human_attribute_name(:logo) + ':'
        .row
        - if @tenant.logo.attached?
          = image_tag @tenant.logo, height: "50px", class: "mx-auto d-inline align-top rounded"
          /= url_for @tenant.logo.variant resize: "100x100"
          /= image_tag url_for(@tenant.logo)
        /%b= @tenant.logo
        .row
        %b= model_class.human_attribute_name(:description) + ':'
        %small= simple_format(@tenant.description)
      .card-footer
        %b= model_class.human_attribute_name(:id) + ':'
        %b= @tenant.id
        .row
        %b= model_class.human_attribute_name(:created_at) + ':'
        %b
          = @tenant.created_at.strftime('%d/%h/%Y')
          (#{distance_of_time_in_words Time.now, @tenant.created_at})
    %p
  .col-lg-7
    .card
      .card-header
        %b= model_class.human_attribute_name(:plan) + ':'
        = plan_label(@tenant.plan)
        .float-right
          = link_to edit_plan_path, class: 'btn btn-sm btn-danger' do 
            .fa.fa-shopping-cart
            - if Tenant.current_tenant.plan == "demo"
              = t('sidebar.order_system')
            - else
              = t('sidebar.change_plan')
    .table-responsive
      %table#table1
        %thead
          %tr
            %th #
            %th 
              .badge.badge-info
                Demo
            %th
              .badge.badge-danger
                Solo
            %th 
              .badge.badge-secondary
                Mini
            %th 
              .badge.badge-warning
                Max
        %tbody
          %tr
            %td= t('static_pages.pricing.price')
            %td
              %b
                0€ / 7
                = t('static_pages.pricing.days')
            %td
              %b
                84€ / 
                = t('static_pages.pricing.year')
              .row
              (
              7€ / 
              = t('static_pages.pricing.month')
              )
            %td
              %b
                180€ / 
                = t('static_pages.pricing.year')
              .row
              (
              15€ / 
              = t('static_pages.pricing.month')
              )
            /NOT DISCOUNTED GOLD
            %td
              %b
                600€ /
                = t('static_pages.pricing.year')
              .row
              (
              50€ / 
              = t('static_pages.pricing.month')
              )
            /DISCOUNTED GOLD
            /%td
            /  %s.text-danger
            /    600€ /
            /    = t('static_pages.pricing.year')
            /    .row
            /    (
            /    50€ /
            /    = t('static_pages.pricing.month')
            /    )
            /  .row
            /  %b.text-success.ml-1.mr-1
            /    540€ /
            /    = t('static_pages.pricing.year')
            /    .row
            /    (
            /    45€ / 
            /    = t('static_pages.pricing.month')
            /    )
          %tr
            %td
              .fa.fa-users
              = t('static_pages.pricing.employees')
            %td= t('static_pages.pricing.unlimited')
            %td
              1
            %td
              5
            %td= t('static_pages.pricing.unlimited')
          %tr
            %td
              .fa.fa-map-marker-alt
              = t('static_pages.pricing.locations')
            %td= t('static_pages.pricing.unlimited')
            %td
              1
            %td
              1
            %td= t('static_pages.pricing.unlimited')
    .card
      .card-header
        %b
          PROMOCODE:
          /XL#{Tenant.current_tenant.id}
        %input#myInput{:readonly => "readonly", :type => "text", :value => "XL#{Tenant.current_tenant.id}"}
        / The button used to copy the text
        %button{:onclick => "myFunction()"}
          .fa.fa-copy
        :javascript
          function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select(); 
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/
            document.execCommand("copy");
          }
