- model_class = Tenant
.row
  .col-lg-6
    .card
      .card-header
        .fa.fa-cog
        %b=t '.title', :default => model_class.model_name.human.titleize
        .badge.badge-dark admin
        .float-right
          = link_to '', edit_tenant_path, class: "btn btn-warning fa fa-edit btn-sm"
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @tenant.name
        .row
        %b= model_class.human_attribute_name(:locale) + ':'
        = @tenant.locale.upcase
        .row
        %b= model_class.human_attribute_name(:default_currency) + ':'
        = @tenant.default_currency.upcase
        %hr
        %b= model_class.human_attribute_name(:online_booking) + ':'
        - if @tenant.online_booking?
          .far.fa-check-circle
          /= @tenant.online_booking
        - else
          .fa.fa-ban
        .row
        %b= model_class.human_attribute_name(:industry) + ':'
        = I18n.t(@tenant.industry, scope: [:static_pages, :landing_page])
        .row
        %b= model_class.human_attribute_name(:website) + ':'
        = @tenant.website
        .row
        %b= model_class.human_attribute_name(:logo) + ':'
        .row
        - if @tenant.logo.attached?
          = image_tag @tenant.logo, height: "50px", class: "mx-auto d-inline align-top rounded"
          /= image_tag url_for(@tenant.logo)
        /%b= @tenant.logo
        .row
        %b= model_class.human_attribute_name(:description) + ':'
        %small= simple_format(@tenant.description)
        %hr
        %b= model_class.human_attribute_name(:id) + ':'
        %b= @tenant.id
        .row
        %b= model_class.human_attribute_name(:created_at) + ':'
        %b
          = @tenant.created_at.strftime('%d/%h/%Y')
          (#{distance_of_time_in_words Time.now, @tenant.created_at})
    %p
    .card
      .card-header
        %b= model_class.human_attribute_name(:plan) + ':'
        = plan_label(@tenant.plan)
        .float-right
          = link_to edit_plan_path, class: 'btn btn-sm btn-danger mb-1 mt-1' do 
            .fa.fa-shopping-cart
            - if Tenant.current_tenant.plan == "demo"
              = t('sidebar.order_system')
            - else
              = t('sidebar.change_plan')
    .table-responsive
      %table#table1
        %thead
          %tr
            %th #
            %th 
              .badge.badge-info
                Demo
            %th
              .badge.badge-danger
                Bronze
            %th 
              .badge.badge-secondary
                Silver
            %th 
              .badge.badge-warning
                Gold
        %tbody
          %tr
            %td= t('static_pages.pricing.price')
            %td
              %b
                0$ / 7
                = t('static_pages.pricing.days')
            %td
              %b
                84$ / 
                = t('static_pages.pricing.year')
              .row
              (
              7$ / 
              = t('static_pages.pricing.month')
              )
            %td
              %b
                180$ / 
                = t('static_pages.pricing.year')
              .row
              (
              15$ / 
              = t('static_pages.pricing.month')
              )
            %td
              %s.text-danger
                600$ /
                = t('static_pages.pricing.year')
                .row
                (
                50$ /
                = t('static_pages.pricing.month')
                )
              .row
              %b.text-success.ml-1.mr-1
                540$ /
                = t('static_pages.pricing.year')
                .row
                (
                45$ / 
                = t('static_pages.pricing.month')
                )
          %tr
            %td= t('static_pages.pricing.employees')
            %td 5
            %td 1
            %td 5
            %td= t('static_pages.pricing.unlimited')
          %tr
            %td= t('static_pages.pricing.locations')
            %td 5
            %td 1
            %td 1
            %td= t('static_pages.pricing.unlimited')
    %p
  .col-lg-6
    .card
      .card-header
        %h6= t('.counters')
    %ul.list-group
      %li.list-group-item
        %i.fa.fa-user-tie
        %b= t('.members')
        %span.badge.badge-success
          = Member.count
      %li.list-group-item
        %i.fa.fa-map-marker-alt
        %b= t('.locations')
        %span.badge.badge-success
          = Location.count
      %li.list-group-item
        %i.fa.fa-user
        %b= t('.clients')
        %span.badge.badge-secondary
          = Client.count
      %li.list-group-item
        %i.fa.fa-hand-holding-usd
        %b= t('.inbound_payments')
        %span.badge.badge-secondary
          = InboundPayment.count
      %li.list-group-item
        %i.fa.fa-calendar-alt
        %b= t('.events')
        %span.badge.badge-secondary
          = Event.count
      %li.list-group-item
        %i.fa.fa-calendar
        %b= t('.jobs')
        %span.badge.badge-secondary
          = Job.count
      %li.list-group-item
        %i.fa.fa-hand-paper
        %b= t('.services')
        %span.badge.badge-secondary
          = Service.count
      %li.list-group-item
        %i.fa.fa-hand-paper
        %b= t('.service_categories')
        %span.badge.badge-secondary
          = ServiceCategory.count
      %li.list-group-item
        %i.fa.fa-map-marker-alt
        %b= t('.comments')
        %span.badge.badge-secondary
          = Comment.count
      /%li.list-group-item
      /  %i.fa.fa-user-plus
      /  %b= t('sidebar.import_contacts')
      /  %span.badge.badge-secondary
      /    = Contact.count
%p