- model_class = Tenant
.row
  .col-lg-6
    .card
      .card-header
        .fa.fa-landmark
        %b=t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_tenant_path, class: "btn btn-warning fa fa-edit btn-sm"
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        %b= @tenant.name
        %br
        %b= model_class.human_attribute_name(:locale) + ':'
        %b= @tenant.locale.upcase
        %br
        %b= model_class.human_attribute_name(:default_currency) + ':'
        %b= @tenant.default_currency.upcase
        %hr
        %b= model_class.human_attribute_name(:id) + ':'
        %b= @tenant.id
        %br
        %b= model_class.human_attribute_name(:plan) + ':'
        = plan_label(@tenant.plan)
        = link_to "<i class='fa-color-1 fa-fw fa fa-shopping-cart'></i> #{t('sidebar.order_system')}".html_safe, edit_plan_path, class: 'btn btn-sm btn-danger mb-1 mt-1'
        %br
        %b= model_class.human_attribute_name(:created_at) + ':'
        %b
          = @tenant.created_at.strftime('%d/%h/%Y')
          (#{distance_of_time_in_words Time.now, @tenant.created_at})
    %p
    %table#table1
      %thead
        %tr
          %th{:scope => "col"} #
          %th{:scope => "col"} Demo
          %th{:scope => "col"} Bronze
          %th{:scope => "col"} Silver
          %th{:scope => "col"} Gold
      %tbody
        %tr
          %td= t('static_pages.pricing.price')
          %td 0$
          %td 7$
          %td 15$
          %td 50$
        %tr
          %td= t('static_pages.pricing.period')
          %td
            14
            = t('static_pages.pricing.days')
          %td
            1
            = t('static_pages.pricing.month')
          %td
            1
            = t('static_pages.pricing.month')
          %td
            1
            = t('static_pages.pricing.month')
        %tr
          %td= t('static_pages.pricing.employees')
          %td 1
          %td 1
          %td 5
          %td= t('static_pages.pricing.unlimited')
        %tr
          %td= t('static_pages.pricing.locations')
          %td 1
          %td 1
          %td 1
          %td= t('static_pages.pricing.unlimited')
    %p
  .col-lg-6
    .card
      .card-header
        %h6= t('.counters')
    %ul.list-group
      %li.list-group-item
        %i.fa.fa-user
        %b= t('.clients')
        %span.badge.badge-secondary
          = Client.count
      %li.list-group-item
        %i.fa.fa-hand-holding-usd
        %b= t('.inbound_payments')
        %span.badge.badge-secondary
          = InboundPayment.count
      %li.list-group-item
        %i.fa.fa-calendar-alt
        %b= t('.events')
        %span.badge.badge-secondary
          = Event.count
      %li.list-group-item
        %i.fa.fa-calendar
        %b= t('.jobs')
        %span.badge.badge-secondary
          = Job.count
      %li.list-group-item
        %i.fa.fa-user-tie
        %b= t('.members')
        %span.badge.badge-secondary
          = Member.count
      %li.list-group-item
        %i.fa.fa-hand-paper
        %b= t('.services')
        %span.badge.badge-secondary
          = Service.count
      %li.list-group-item
        %i.fa.fa-hand-paper
        %b= t('.service_categories')
        %span.badge.badge-secondary
          = ServiceCategory.count
      %li.list-group-item
        %i.fa.fa-map-marker-alt
        %b= t('.locations')
        %span.badge.badge-secondary
          = Location.count
      %li.list-group-item
        %i.fa.fa-map-marker-alt
        %b= t('.comments')
        %span.badge.badge-secondary
          = Comment.count
%p