- set_var 'locale', Tenant.current_tenant.locale
- if controller_name == 'dashboard' && action_name == 'calendar'
  - set_var 'resources', @members.map{|z| {id: z.id, title: z.short_name.to_s, location: z.location.to_s}}
  - set_var 'events', @jobs.map{|(event, member), services| { id: event.id, 
    title: event.client.full_name.to_s + "// " + services.collect{|r| r.service.name}.join(", ").to_s, 
    resourceId: member.id.to_s, 
    start: event.starts_at, 
    end: event.ends_at, 
    url: event_path(event), 
    color: event.status_color}}
- elsif controller_name == 'members' && action_name == 'calendar'
  - set_var 'resources', [id: @member.id, title: @member.short_name.to_s]
  - set_var 'events', @jobs.map{|(event, member), services| { id: event.id, 
    title: event.client.full_name.to_s + "// " + services.collect{|r| r.service.name}.join(", ").to_s, 
    resourceId: member.id.to_s, 
    start: event.starts_at, 
    end: event.ends_at, 
    url: event_path(event), 
    color: event.status_color}}
- elsif controller_name == 'workplaces' && action_name == 'show'
  - set_var 'resources', [id: @workplace.id, title: @workplace.short_name.to_s]
  - set_var 'events', @events.map{|e| {id: e.id, 
    title: e.client.full_name.to_s + "/" + e.services.collect{|r| r.name}.join(", ").to_s, 
    resourceId: e.workplace_id.to_s, 
    start: e.starts_at, 
    end: e.ends_at, 
    url: event_path(e), 
    color: e.status_color}}
- elsif controller_name == 'locations' && action_name == 'show'
  - set_var 'resources', @location.workplaces.map{|z| {id: z.id, title: z.short_name.to_s, location: z.location.to_s}}
  - set_var 'events', @events.map{|e| {id: e.id, 
    title: e.client.full_name.to_s + "/" + e.services.collect{|r| r.name}.join(", ").to_s, 
    resourceId: e.workplace_id.to_s, 
    start: e.starts_at, 
    end: e.ends_at, 
    url: event_path(e), 
    color: e.status_color}}

.row
  .col-lg-9
    #remote_container
    #event_calendar
    %p
  .col-lg-3
    #datepicker
    %ul
      /%li{class: "#{'active' if current_page?(calendar_path)}"}
      %li
        - if controller_name == 'dashboard'
          %b= link_to t('sidebar.members'), calendar_path
        - else
          %small= link_to t('sidebar.members'), calendar_path
      %ul
        - @members.each do |member|
          %li
            - if @member.present? && @member.id == member.id
              %b= link_to member.short_name, calendar_member_path(member)
            - else
              %small= link_to member.short_name, calendar_member_path(member)
  
      - @locations.each do |location|
        %li
          - if controller_name == 'locations' && @location.id == location.id
            %b= link_to location.name, location_path(location)
          - else
            %small= link_to location.name, location_path(location)
    
          %ul
            - location.workplaces.each do |workplace|
              %li
                - if @workplace.present? && @workplace.id == workplace.id
                  %b= link_to workplace.name, workplace_path(workplace)
                - else
                  %small= link_to workplace.name, workplace_path(workplace)
