.text-center
  %h5= t('.client_stats')
.row
  .col-lg-12
    .card
      .card-header
        .fa.fa-chart-line
        = t('.clients_registered_per_month')
      .card-body
        = line_chart Client.group_by_month(:created_at).count, download: true
    %p
.row
  .col-lg-12
    .card
      .card-header
        .fa.fa-chart-line
        = t('.client_birthdays_per_year')
      .card-body
        = line_chart Client.group_by_month(:date_of_birth).count, download: true
    %p
.row
  .col-lg-6
    .card
      .card-header
        .fa.fa-chart-line
        = t('.status_popularity')
      .card-body
        = pie_chart Client.group(:status).count, download: true
    %p
  .col-lg-6
    .card
      .card-header
        .fa.fa-chart-line
        = t('.gender_popularity')
      .card-body
        = pie_chart Client.group(:gender).count, download: true
    %p
  .col-lg-6
    .card
      .card-header
        .fa.fa-chart-line
        = t('.lead_source_popularity')
      .card-body
        = pie_chart Client.group(:lead_source).count, download: true
    %p
