.far.fa-plus-square
= I18n.localize Date.today, format: :short
= t('.created') + ':'
= link_to events_path(q: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'btn btn-outline-info btn-block' do
  %i.fa.fa-calendar-check
  = t('tenants.show.events')
  %span.badge.badge-secondary
    = @events_today
= link_to transactions_path(q: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'btn btn-outline-info btn-block' do
  %i.fa.fa-hand-holding-usd
  = t('tenants.show.transactions')
  %span.badge.badge-secondary
    = @payments_today


