.row
  .col-md-6
    .card
      .card-header
        .text-center
          %h5
            .fa.fa-heartbeat
            = t('sidebar.dashboard')
      .card-body
        %b= t('sidebar.online_booking')
        
        = link_to leads_path, class: "btn btn-outline-secondary btn-block " do
          .fa-fw.fa.fa-globe-africa
          #{t('sidebar.online_booking')} #{content_tag :span, Lead.count, class: 'badge badge-danger'} 
        
        %b= t('sidebar.events')
        
        = link_to close_events_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.fa.fa-calendar-check
          #{t('sidebar.close_events')} #{content_tag :span, Event.close.count, class: 'badge badge-danger'} 
        = link_to today_events_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.fa.fa-calendar-check
          #{t('sidebar.events_today')} #{content_tag :span, Event.today.count, class: 'badge badge-info'} 
        = link_to tomorrow_events_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.fa.fa-calendar-check
          #{t('sidebar.events_tomorrow')} #{content_tag :span, Event.tomorrow.count, class: 'badge badge-info'} 
        
        %b= t('sidebar.clients')
        
        = link_to debtors_clients_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.far.fa-address-book
          #{t('clients_debtors')} #{content_tag :span, Client.debtors.count, class: 'badge badge-danger'} 
        = link_to no_gender_clients_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.far.fa-address-book
          #{t('clients_no_gender')} #{content_tag :span, Client.no_gender.count, class: 'badge badge-warning'} 
        = link_to no_events_clients_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.far.fa-address-book
          #{t('clients_no_events')} #{content_tag :span, Client.no_events.count, class: 'badge badge-warning'} 
        = link_to bday_today_clients_path, class: "btn btn-outline-secondary btn-block" do
          .fa-fw.fa.fa-birthday-cake
          #{t('clients_bday_today')} #{content_tag :span, Client.bday_today.count, class: 'badge badge-warning'} 
        ////link to ransack search query
        - Tag.all.each do |tag|
          .mt-1
          = link_to clients_path(clients_search: {client_tags_tag_name_cont: tag.name}), class: 'btn btn-outline-info btn-block' do 
            = I18n.t(tag.name, scope: [:activerecord, :attributes, :client, :tags])
            .badge.badge-secondary
              = tag.client_tags_count
  .col-md-6
    .card
      .card-header
        .text-center
          %h5
            /.far.fa-plus-square
            = I18n.localize Date.today, format: :short
            = t('.today') + ':'
      .card-body
        = link_to events_path(q: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'btn btn-outline-info btn-block' do
          .fa.fa-calendar-check
          = t('tenants.show.events')
          %span.badge.badge-secondary
            = Event.where("created_at >= ?", Time.zone.now.beginning_of_day).count
        = link_to clients_path(clients_search: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'btn btn-outline-info btn-block' do
          %i.fa.fa-address-book
          = t('tenants.show.clients')
          %span.badge.badge-secondary
            = Client.where("created_at >= ?", Time.zone.now.beginning_of_day).count
        = link_to inbound_payments_path(q: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'btn btn-outline-info btn-block' do
          %i.fa.fa-hand-holding-usd
          = t('tenants.show.inbound_payments')
          %span.badge.badge-secondary
            = InboundPayment.where("created_at >= ?", Time.zone.now.beginning_of_day).count
