.text-center
  %h4= t('.event_stats')
.row
  .col-lg-6
    .card
      .card-header
        .fa.fa-chart-line
        = t('.confirmed_event_price_per_day')
    %table.table.table-sm.table-bordered
      %tbody
        - Event.is_confirmed.group_by_day(:starts_at).sum("client_price/100").each do |k, v|
          %tr
            %td= k.strftime('%d/%m/%Y')
            %td= v
            /%td= number_to_currency(v, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
    %p
  .col-lg-6
    .card
      .card-header
        .fa.fa-chart-line
        = t('.confirmed_event_price_per_day')
      .card-body
        = bar_chart charts_events_per_day_path
%p
.row
  .col-lg-12
    .card
      .card-header
        .fa.fa-chart-line
        = t('.events_per_month_quantity')
      .card-body
        = column_chart charts_monthly_events_path, download: true
%p
.row
  .col-lg-12
    .card
      .card-header
        .fa.fa-chart-line
        = t('.unique_clients_per_month_quantity')
      .card-body
        = column_chart Event.group_by_month(:starts_at, format: "%b %Y").distinct.count('client_id'), download: true
%p
.row
  .col-lg-3
    .card
      .card-header
        .fa.fa-chart-line
        = t('.status_popularity')
      .card-body
        = pie_chart Event.group(:status).count, download: true
    %p
  .col-lg-3
    .card
      .card-header
        .fa.fa-chart-line
        = t('.location_popularity')
      .card-body
        = pie_chart Event.joins(:location).group(:'locations.name').count, download: true
    %p
  .col-lg-3
    .card
      .card-header
        .fa.fa-chart-line
        = t('.service_popularity')
      .card-body
        = pie_chart Job.joins(:service).group(:'services.name').count, download: true
  .col-lg-3
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = number_to_currency(@average_confirmed_earnings, :unit => "")
      %div 
        %b= t('.average_confirmed_check')
