.text-center
  %h5= t('.member_stats')
.row
  .col-12
    .card
      .card-header
        = t('.productivity')
      .table-responsive
        %table#table1
          %thead
            %tr
              %th
              %th.text-center{:colspan => "4"}= t('.planned')
              %th.text-center{:colspan => "4"}= t('.confirmed')
              %th.text-center{:colspan => "4"}= t('.cancelled')
              %th
          %thead
            %tr
              %th= t('.name')
              /%th Events, Q
              /%th Total jobs
              %th.bg-info= t('.jobs')
              %th.bg-info= t('.hours_worked')
              %th.bg-info= t('.payments')
              %th.bg-info= t('.expences')
              %th.bg-success= t('.jobs')
              %th.bg-success= t('.hours_worked')
              %th.bg-success= t('.payments')
              %th.bg-success= t('.expences')
              %th.bg-danger= t('.jobs')
              %th.bg-danger= t('.hours_worked')
              %th.bg-danger= t('.payments')
              %th.bg-danger= t('.expences')
              %th.bg-success= t('.revenue_share')
              /%th Cost per hour
              /%th Average service price
          %tbody
            - @members.each do |member|
              %tr
                %td= link_to member.full_name, member_path(member)
                /%td= member.events_count
                /%td= member.jobs_count
                %td.bg-info= member.planned_jobs_count
                %td.bg-info= member.planned_work_hours.round(2)
                %td.bg-info= member.planned_revenue/100.to_d
                %td.bg-info= member.planned_salary/100.to_d
                %td.bg-success= member.confirmed_jobs_count
                %td.bg-success= member.confirmed_work_hours.round(2)
                %td.bg-success= member.confirmed_revenue/100.to_d
                %td.bg-success= member.confirmed_salary/100.to_d
                %td.bg-danger= member.cancelled_jobs_count
                %td.bg-danger= member.cancelled_work_hours.round(2)
                %td.bg-danger= member.cancelled_revenue/100.to_d
                %td.bg-danger= member.cancelled_salary/100.to_d
                %td.bg-success= number_to_percentage(member.share_of_revenue, precision: 1)
                /%td= member.cost_per_hour.round(2)
                /%td= member.average_service_price
          %thead
            %tr
              %th= t('.total')
              %th= @planned_job_q
              %th= @planned_hours_worked.round(0)
              %th= @total_planned_earnings
              %th= @total_planned_expences
              /%th= @total_planned_net_income
              %th= @confirmed_job_q
              %th= @confirmed_hours_worked.round(0)
              %th= @total_confirmed_earnings
              %th= @total_confirmed_expences
              /%th= @total_confirmed_net_income
              %th= @lost_job_q
              %th= @lost_hours_worked.round(0)
              %th= @total_lost_earnings
              %th= @total_lost_expences
              /%th= @total_net_losses
              %th 100%
%br
.row
  .col-12
    .card
      .card-header
        = t('.confirmed_jobs_per_month_quantity')
      .card-body
        = line_chart charts_members_jobs_per_member_per_month_quantity_path
    %p
  .col-12
    .card
      .card-header
        = t('.confirmed_jobs_per_month_client_price')
      .card-body
        = line_chart charts_members_confirmed_client_price_per_month_path, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
    %p
  .col-12
    .card
      .card-header
        = t('.confirmed_jobs_per_month_member_price')
      .card-body
        = line_chart charts_members_confirmed_earnings_per_month_path, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
  /  %p
  /.col-12
  /  .card
  /    .card-header
  /      = t('.expences_per_month_amount')
  /    .card-body
  /      = line_chart charts_members_expences_per_month_path, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
%p
