.text-center
  %h4= t('.payment_stats')
%ul#myTab.nav.nav-tabs{:role => "tablist"}
  %li.nav-item
    %a#zero-tab.nav-link.active{"aria-controls" => "zero", "aria-selected" => "true", "data-toggle" => "tab", :href => "#zero", :role => "tab"}
      = t('.per_day')
  %li.nav-item
    %a#first-tab.nav-link{"aria-controls" => "first", "aria-selected" => "true", "data-toggle" => "tab", :href => "#first", :role => "tab"}
      = t('.per_month')
#myTabContent.tab-content
  #zero.tab-pane.fade.show.active{"aria-labelledby" => "zero-tab", :role => "tabpanel"}
    .text-center
      - if params.has_key?(:select)
        = params[:select][:month]
        = params[:select][:year]
      - else
        = Time.now.month
        /= Time.now.strftime("%B")
        /= l(Time.now, format: '%B')
        = Time.now.year
    %p
    .text-center
      = form_tag dashboard_payments_path, method: :get do
        = select_month(Date.today, {use_two_digit_numbers: true, prefix: 'select'},{:field_name => 'month', :id => 'start-month'})
        /= select_month(Date.today, {use_short_month: true, prefix: 'select'},{:field_name => 'month', :id => 'start-month'})
        = select_year(Date.today, {:start_year => DateTime.now.year,:end_year => Tenant.current_tenant.created_at.year, prefix: 'select'},{:field_name => 'year', :id => 'start-year'})
        = submit_tag("Search", :id=>"button", :class=>"Test", :name=>"submit")
        = link_to "", dashboard_payments_path, class: "btn btn-secondary fa fa-redo mb mb-1", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
    /  = select_tag :product,  options_for_select(["Product1", "Product2"], params[:product]), id: "different_option_value_html", onchange: "this.form.submit();", include_blank: "Which product ?"
    .row
      .col-lg-6
        .card
          .card-header
            .fa.fa-chart-line
            = t('.payments_per_day')
        %table.table.table-sm.table-bordered
          %tbody
            - @inbound_payments.group_by_day(:created_at).sum("amount/100").each do |k, v|
              %tr
                %td= k.strftime('%d/%m/%Y')
                %td= v
        %p
      .col-lg-6
        .card
          .card-header
            .fa.fa-chart-line
            = t('.payments_per_day')
          .card-body
            /= bar_chart charts_payments_per_day_path
            = bar_chart @inbound_payments.group_by_day(:created_at).sum("amount/100")
            /= bar_chart InboundPayment.group_by_day(:created_at, format: "%B %Y").sum("amount/100")
  #first.tab-pane.fade.show{"aria-labelledby" => "first-tab", :role => "tabpanel"}
    %p
    .row
      .col-lg-6
        .card
          .card-header
            .fa.fa-chart-line
            = t('.payments_per_month')
        %table.table.table-sm.table-bordered
          %tbody
            - @inbound_payments.group_by_month(:created_at).sum("amount/100").each do |k, v|
              %tr
                %td= k.strftime('%m/%Y')
                %td= v
        %p
      .col-lg-6
        .card
          .card-header
            .fa.fa-chart-line
            = t('.payments_per_month')
          .card-body
            = bar_chart charts_payments_per_month_path
%br