.card
  .card-header
    .fa.fa-rocket
    = t('.start')
  .card-body
    %h5

      - if (Tenant.current_tenant.plan == "silver") || (Tenant.current_tenant.plan == "gold")
        - unless Member.count >= 2
          %span.badge.badge-pill.badge-danger -
          = link_to t('.new_member'), new_member_path
        - else
          %span.badge.badge-pill.badge-success +
          %del
            = t('.new_member')



        %hr
      - unless current_user.member.phone_number.present?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.edit_my_page'), edit_member_path(current_user.member)
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_service')



      %hr
      - unless Location.any?
        %span.badge.badge-pill.badge-danger 1
        = link_to t('.new_location'), new_location_path
      - else
        %span.badge.badge-pill.badge-success 1
        %del
          = t('.new_location')


      %hr
      - unless Service.any?
        %span.badge.badge-pill.badge-danger 2
        = link_to t('.new_service'), new_service_path
      - else
        %span.badge.badge-pill.badge-success 2
        %del
          = t('.new_service')



      %hr
      - unless Client.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_client'), new_client_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_client')



      %hr
      - unless Event.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_event'), new_event_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_event')
        %hr
          Great! Now you can checkout the event
