.card
  .card-body
    %h5
      /Personal data & time zone
      - if current_user.member.first_name == "Super"
        %span.badge.badge-pill.badge-warning -
        = link_to t('.select_time_zone'), edit_member_path(current_user.member)
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.select_time_zone')
      %hr
      %span.badge.badge-pill.badge-warning -
      = link_to t('.select_currency'), edit_tenant_path
      %hr
      /Currency
      /CREATE MEMBER
      - if Tenant.current_tenant.can_create_members?
        - if Member.count < 2
          %span.badge.badge-pill.badge-warning -
          = link_to t('.new_member'), new_member_path
        - else
          %span.badge.badge-pill.badge-success +
          %del
            = t('.new_member')
        %hr
      /CREATE LOCATION
      - if Tenant.current_tenant.can_create_locations?
        - unless Location.any?
          %span.badge.badge-pill.badge-danger -
          = link_to t('.new_location'), new_location_path
        - else
          %span.badge.badge-pill.badge-success +
          %del
            = t('.new_location')
        %hr
      /CREATE SERVICE CATEGORY
      - unless ServiceCategory.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_service_category'), new_service_category_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_service_category')
      %hr
      /CREATE SERVICE
      - unless Service.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_service'), new_service_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_service')
      %hr
      /CREATE CLIENT
      - unless Client.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_client'), new_client_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_client')
      %hr
      /CREATE EVENT
      - unless Event.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_event'), new_event_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_event')
      %hr
      /CREATE PAYMENT
      - unless InboundPayment.any?
        %span.badge.badge-pill.badge-danger -
        = link_to t('.new_payment'), new_inbound_payment_path
      - else
        %span.badge.badge-pill.badge-success +
        %del
          = t('.new_payment')
%br
