- content_for :title do
  XLPLAN | About us
.jumbotron.bg-white.text-center
  %h1.display-4= t('.about')
  /%br 
  /%h5 Lorem ipsum dolor sit
.container
  .row.text-center
    .col-lg-4
    .col-lg-4
      %img.rounded-circle{:alt => "Yaroslav Shmarov", :src => "https://i.imgur.com/oQNA52Q.jpg", :width => "100%"}/
      .team-member
        %h4 Yaroslav Shmarov / Ярослав Шмаров
        /%h4 Iryna Shmarova / Ирина Шмарова
        /%h4 Yuliia Zahoruiko / Юлия Загоруйко
        %p Founder, developer
      %p
        %li.list-inline-item
          = link_to "https://www.facebook.com/1yarotheslav", target: :_blank do
            %i.fab.fa-facebook{:style => "font-size:25px;"}
        %li.list-inline-item
          = link_to "https://www.instagram.com/yaro_the_slav", target: :_blank do
            %i.fab.fa-instagram{:style => "font-size:25px;"}
        %li.list-inline-item
          = link_to "https://www.linkedin.com/in/yaroslav-shmarov", target: :_blank do
            %i.fab.fa-linkedin{:style => "font-size:25px;"}
      %hr
      /Since I was 18 years old, I've been helping my parents to manage their appointment-based business (a language school).
      /Salary calculation based on appointments was a time-consuming challange each month.
      /Having different information abouth the business in different formats, something in paper, something in excel or other formats...
      /I noticed so many things that can be improved with modern technology like moving all the data from many different formats
      /I've been working in a 
      /problems with 
      /.row
      /I decided to make a tool that would automate the processes - Myclass.com
      /I studied all the business processes and created a tailored application to digitalize all the workflows and automate as much as possible. It took me 3 years to do 
      /.row
      /Now, I proudly present to you XLPLAN - a software product to manage business opreations and customer relations in an appointment-based service business.
      /I created XLPLAN with close collaboration with industry professionals.
      /A light tool to manage your business
</div>
= render 'layouts/footer'