- content_for :title do
  XLPLAN | Features
= provide(:description, 'XLPLAN features. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, features, salon, management software, crm, erp, employee calendar, calendar')
.jumbotron.bg-primary.text-white.text-center
  .mx-auto.text-center
    %h1.display-4.font-weight-bold= t('.features')
  .mt-5
  %h6
    = t('.one_system_to_manage_everything') 
    %p
    = t('.fast_to_learn_simple_to_use')
%p
.container
  .row
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.clients')
      %small= t('.all_in_one')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.unlimited_clients')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.appointment_history')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.payment_history')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.loyalty_program')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.client_stats')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.import_contacts')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.personal_data_protection')
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.calendar')
      %small= t('.why_online_calendar')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.remote_access')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.easy_to_use')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.control_change_data_and_cancellation')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.calendar_for_all_employees')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.send_invites_to_clients_and_employees')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.export_to_google_calendar')
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.online_booking')
      = t('.online_booking_description')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.online_booking_social')
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.employees')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.salary_calc')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.work_schedules')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.work_reports')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.user_access_rights')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.activity_history')
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.stats')
      %small= t('.precise_stats')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.employee_stats')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.finance_stats')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.service_stats')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.client_stats')
    .col-lg-6
      %h2
        %b.bg-warning.rounded= t('.process_automation')
      %ol.list-unstyled.mt-4
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.remind_clients_about_visits')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.automatic_salary')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.automatic_stats')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.automatic_client_segmentation')
        %li.d-flex.mb-2.mt-2.aos-init{"data-aos" => "fade-up"}
          %i.fas.fa-check-circle.fa-lg.text-primary.mr-1.mt-2.mb-2.ml-0{"aria-hidden" => "true"}
          %span.pl-2.pt-1
            = t('.smart_reminders')
  %b= t('.other')
