= provide(:description, 'XLPLAN features. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, features, salon, management software, crm, erp, employee calendar, calendar')

/%head
/  %meta{:content => "xlplan features", :name => "description"}/
/https://www.versum.com/m/features/
%p
.row
  .col-lg-5
    %h2 Appointment calendar
    /%li Location, services, price, client, employee
    /%li No more paper 
    /%li One calendar for all employees
    %li No more booking errors
    %li Manage employee workload
    %li Remote access to the calendar (for employees and managers)
  .col-lg-7
    = image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
%hr
.row
  .col-lg-7
    = image_tag "https://i.imgur.com/35bJwqE.png", style: 'height:auto;width:70%;'
  .col-lg-5
    %h2 Client records
    %li Appointment history & details
    %li Payment history
    %li Client data protection
%hr
.row
  .col-lg-5
    %h2 Employee management
    %li Automatic calculation of commissions (Salary calculation)
    %li Salary history
    %li Work schedules
    %li Detailed work reports
    %li Organisation of work and assignment of tasks
  .col-lg-7
    = image_tag "https://i.imgur.com/4ExSRFH.png", style: 'height:auto;width:100%;'
%hr
.row
  .col-lg-7
    = image_tag "https://i.imgur.com/xqDvUIj.png", style: 'height:auto;width:100%;'
  .col-lg-5
    %h2 Automatic statistics and reports
    %li Employee performance reports
    %li Detailed financial report
    %li Real-time cash reports
    %li Appointment statistics and popularity of services
    %li Customer rebooking rate report
    %li Work time analysis

%hr
.row
  .col-lg-7
    /= image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
  .col-lg-5
    %h2 Appointment reminders
    %li Increase attendance rate
    %li Send automatic reminders via email / SMS / Messenger/ Whatsapp / Telegram / Viber
%hr
.row
  .col-lg-5
    %h2 Automatic marketing
    %li Notify about promotion & special events via Viber, Whatsapp, email, SMS!
  .col-lg-7
    /= image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
/%hr
/.row
/  .col-lg-7
/    /= image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
/  .col-lg-5
/    %h2 Loyalty program
/    %li Increase retention rate
/%hr
/.row
/  .col-lg-5
/    %h2 Online reservation
/  .col-lg-7
/    /= image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
</div>
= render 'layouts/footer'