= provide(:description, 'XLPLAN is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, salon, management software, crm, erp, employee calendar, calendar')
/%title UKR.NET: Всі новини України, останні новини дня в Україні та Світі
/%meta{:content => "Свіжі новини України, останні новини з-за кордону, новини політики, економіки, спорту, культури, технологій, шоу-бизнесу...", :name => "description"}/
/%meta{:content => "новини, україна, відео, новини україни, україна новини, політика, економіка, випадки, технології, спорт, здоров'я, культура, за кордоном, курйози, фоторепортаж, фото, відеорепортаж, відео", :name => "keywords"}/

/- if I18n.locale == :en
/  %h1 ENG
/- elsif I18n.locale == :ru
/  %h1 RUS
/- elsif I18n.locale == :pl
/  %h1 POL
/- else
/  %h1 ELSER

/_________________________________
/HIGHLIGHT A SHIFT IN THE WORLD, NOT A PROBLEM?
/there are more effective ways/tools of running the business
/don't lose clients
/spend less time 
/All in one place
/Be modern, do not stay behind competition
/Your strongest competitors are already using XLPLAN!
/Say goodbye to paper and excel accounting!
/%small.text-muted.container
/How much did I earn last month? Who are my most active clients? How many appointments did I have? What's planned?
/XLPLAN - your personal marketer, admin, accountant, salesman, financial analyst
/_________________________________
/VALUE
/Generate more Money (upsales, loyalty, special offers, event reminders, repeat reminders) / earn more
/Passive
/Control - all info in 1 place. signle source of truth.
/Time (salary calculation, schedule management, audit [jobs, income, expences])
/Growth (analytics = business descisions), instrument for growing your business / Competitive advantage
/_________________________________
/Today:
/Excel
/Google calendar
/Diary
/Phone contacts
/Email
/Tomorrow:
/XLPLAN
/_________________________________
/Full supervised setup in 5 days. No special skill required
/Day 1
/Interviews with your experts, identification of problems and needs
/Day 2
/Onboarding and setup
/Day 3
/Feedback-based fine-tuning
/Day 4
/Software training
/Day 5
/Ready to use
/The exact integration period depends on the size of your business, your customer base and inventory amount
/_________________________________
/:css
/  .parallax { 
/    /* The image used */
/    background-image: url("https://i.imgur.com/kbOXzsH.jpg");
/    /* Set a specific height */
/    height: 300px; 
/    /* Create the parallax scrolling effect */
/    background-attachment: fixed;
/    background-position: center;
/    background-repeat: no-repeat;
/    background-size: cover;
/  }
// Container element
/.parallax
</div>
.container
  .text-center
    %p
    .row
      .col-lg-6
        .text-left
          .display-4= t('.hero')
          %p
          %h5= t('.hero_description')
          %p= link_to "#{t(".try_for_free")}", new_user_registration_path(plan: 'bronze'), class: 'btn btn-lg btn-warning'
          %p
      .col-lg-6
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ojXjR33bPOY?rel=0", :width => "560"}
%hr
.container.text-center
  .display-4= t('.designed_for')
  %p
  .card-deck
    .card
      .card-body.bg-light
        %i.fa.fa-hand-holding-heart{:style => "font-size:40px;color:orange"}
        %h5.card-title Beauty industy
        /%p.card-text ddsdsdvsd
        .fa.fa-spa
        SPA
        /%p
        /.fa.fa-hot-tub
        %p
        .fa.fa-sun
        Solarium
        %p
        .fa.fa-syringe
        Cosmetology
        %p
        .fa.fa-dragon
        Tattoo studio
        %p
        .fa.fa-cut
        Hair & beauty saloons, Barbershops
    .card
      .card-body.bg-light
        %i.fa.fa-hospital{:style => "font-size:40px;color:orange"}
        %h5.card-title Private medicine
        /%p.card-text Psychologist Psychologist
        %p
        .fa.fa-tooth
        Dentists
        %p
        .fa.fa-eye
        Ophthalmologists
        %p
        .fa.fa-hospital
        .fa.fa-user-md
        Therapist
        %p
        .fa.fa-notes-medical
        Psychologist
        %p
        .fa.fa-dog
        Veterinary clinic
        %p
        .fa.fa-sign-language
        Massage
    .card
      .card-body.bg-light
        %i.fa.fa-user-tie{:style => "font-size:40px;color:orange"}
        %h5.card-title Professional services
        /%p.card-text Tutors (language, dance, sport, music), guides
        %p
        .fa.fa-car-side
        Car services
        %p
        .fa.fa-gavel
        Legal consulting
        %p
        .fa.fa-user-tie
        Business Consulting
        %p
        .fa.fa-wrench
        .fa.fa-people-carry
        Field services
        %p
        .fa.fa-broom
        Cleaning Services
        %p
        .fa.fa-user-graduate
        Tutors (language, dance, sport, music), guides
%hr
.container
  .text-center.display-4 How it works
  .row
    .col-lg-8
      = image_tag "https://i.imgur.com/lKo0S0U.png", style: 'height:100%;width:100%;'
    .col-lg-4
      .card.card-body.bg-light
        %li Employee provides a service to a client at a specific time in a specific location. This is an event.
        %li Based on the event, employee receives salary, material expenses are calculated, client provides payments & gets automatic reminders about upcoming visits. 
        %li You have all your business data in one place and can control everything in real time with live automatic statistics and reports.
      %p
      .text-center
        = link_to 'More about XLPLAN features', features_path, class: 'btn btn-lg btn-outline-warning text-dark'
%hr
.container
  .row
    .col-lg-5
      .text-center.display-4 Online calendar
      .card.card-body.bg-light
        Still using a paper diary in #{Time.now.year}?
        %p
        XLPLAN is a professional tool for a serious business.
        %p
        Now you can have all employee calendars in one place.
      %p
      .text-center
        = link_to 'Start using now >>', new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-outline-warning text-dark'
    .col-lg-7
      = image_tag "https://i.imgur.com/BnGHfIf.png", style: 'height:auto;width:100%;'
%hr
.container.text-center
  .display-4 Technology
  %p
  .card-group
    .card
      .card-body.bg-light
        %i.fa.fa-cloud-upload-alt.fa-3x{:style => "font-size:50px;color:orange;"}
        %h5.card-title In the cloud
        %p.card-text
          %small.text-muted No installation or download required
    .card
      .card-body.bg-light
        %i.fa.fa-mobile-alt.fa-3x{:style => "font-size:50px;color:orange;"}
        %i.fa.fa-laptop.fa-3x{:style => "font-size:50px;color:orange;"}
        %h5.card-title Any device
        %p.card-text
          %small.text-muted On your phone or computer. Open in your browser (Google Chrome, Safari, Mozilla, Opera)
    .card
      .card-body.bg-light
        %i.fa.fa-user-secret.fa-3x{:style => "font-size:50px;color:orange;"}
        %h5.card-title Anonimity
        %p.card-text
          %small.text-muted XLPLAN is not a free service. We do not analyze your data, or share it with 3rd parties
    .card
      .card-body.bg-light
        %i.fa.fa-lock.fa-3x{:style => "font-size:50px;color:orange;"}
        %h5.card-title Security
        %p.card-text
          %small.text-muted
            Your company data is private and encrypted. Only you can see it
    .card
      .card-body.bg-light
        %i.fa.fa-cloud-download-alt.fa-3x{:style => "font-size:50px;color:orange;"}
        %h5.card-title Export
        %p.card-text
          %small.text-muted You own your data. Export to PDF and Excel.
= render 'layouts/footer'