= provide(:description, 'XLPLAN is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, salon, management software, crm, erp, employee calendar, calendar')
.row
  .col-md-4
  .col-md-4
    .card.text-center
      .card-header
        .badge.badge-default
          .far.fa-calendar-check
          XLPLAN
        .row
        %small CRM for appointment-based business management
      .card-body
        = link_to new_user_session_path, class: 'btn btn-success btn-block' do
          = t("header.sign_in")
        %p
        = link_to new_user_registration_path, class: 'btn btn-success btn-block' do
          = t("header.sign_up")
        %p
        = link_to new_booking_path(2), class: 'btn btn-success btn-block' do
          .far.fa-calendar-check
          = t(".apply_for_a_demo")
      .card-footer
        © #{Time.now.year}
        = link_to "https://xlplan.corsego.com", target: :_blank do
          xlplan.corsego.com
        %p
        .fa.fa-envelope
        = mail_to 'hello@corsego.com'