%h3.text-center
  .badge.badge-secondary.btn-block
    Counters
.row
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-calendar
      = Job.count
      %div 
        %b Jobs
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-user
      = Client.count
      %div 
        %b Clients
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-user
      = Employee.count
      %div 
        %b Employees
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-hand-paper
      = Service.count
      %div 
        %b Services
  .col-md-4
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = number_to_currency(@average_confirmed_earnings, :unit => "")
      %div 
        %b Average confirmed check
.row
  .col-md-4
    %h3.text-center
      Upcoming birthdays
    - @clients.each do |client|
      .card.text-center= link_to "#{client.date_of_birth.strftime('%b, %d')} - #{client}", client_path(client)
  .col-md-4
    %h3.text-center
      Job Status Pie
    - @job_status_pie.each do |key, value|
      .card.text-center= "#{key}: #{value}"
  .col-md-4
    %h3.text-center
      Client Status Pie
    - @client_status_pie.each do |key, value|
      .card.text-center= "#{key}: #{value}"
  .col-md-4
    %h3.text-center
      Service Pie
    - @job_service_pie.each do |key, value|
      .card.text-center= "#{key}: #{value}"
  .col-md-4
    %h3.text-center
      Jobs per month
    - @monthly_jobs.each do |key, value|
      .card.text-center= "#{key}: #{value}"
  .col-md-4
    %h3.text-center
      Client Gender Pie
    - @client_sex_pie.each do |key, value|
      .card.text-center= "#{key}: #{value}"
