- content_for :title do
  XLPLAN | Pricing
= provide(:description, 'XLPLAN pricing. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, pricing, price, salon, management software, crm, erp, employees calendar, calendar')
/%head
/  %meta{:content => "xlplan pricing", :name => "description"}/
.jumbotron.bg-warning.text-dark.text-center
  .mx-auto.text-center
    %h1.display-4.font-weight-bold= t('.pricing')
  .mt-5
  %h6
    = t('.small_investment')
    %p
    = t('.best_for_you')
/.text-center
/  = link_to features_path do
/    .btn.btn-info
/      %p
/      %b #{t('.larger_plan')}
/      %p #{t('.additional_functions')}
/%br
/.container
/  %hr
/  %h3.text-center
/    .far.fa-question-circle
/    #{t('.faq')}
/  %br
/  .card
/    .card-header
/      How to pay for the service?
/    .card-body
/      r
/  %br
/  .card
/    .card-header
/      Is VAT included?
/    .card-body
/      r
/  %br
//We can have a paper contract, if you need it. However it is not required for using the service and paying legaly. In most cases, our clients work with us 


/ Cards container
.container.text-center
  .row
    / Card #1, Starter
    .col-lg-4.col-md-6.col-sm-10.pb-4.d-block.m-auto
      .bg-light{:style => "box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);"}
        / Indicator of subscription type
        .pt-4.pb-3{:style => "letter-spacing: 2px"}
          %h4= t('.bronze')
        / Price class
        .card-body
          %small= t('.for_individuals')
        .pricing-price.pb-1.text-success.color-success-text
          %h1{:style => "font-weight: 1000; font-size: 3.5em;"}
            %span{:style => "   font-size: 20px;"}> €
            7
            %small.text-muted / #{t(".month")}
        / Perks of said subscription
        .pricing-description
          %ul.list-unstyled.mt-3.mb-4
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: 1
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: 1
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
        .pricing-button.pb-4
        /  = link_to t('.try_for_free_html'), new_user_registration_path, class: 'btn btn-lg btn-success w-75'
    / Card #2, Intermediate
    .col-lg-4.col-md-6.col-sm-10.pb-4.d-block.m-auto
      .bg-light{:style => "box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);"}
        .pt-4.pb-3{:style => "letter-spacing: 2px"}
          %h4= t('.silver')
        .card-body
          %small= t('.for_small')
        .pricing-price.pb-1.text-success.color-success-text
          %h1{:style => "font-weight: 1000; font-size: 3.5em;"}
            %span{:style => "font-size: 20px;"}> €
            15
            %small.text-muted / #{t(".month")}
        .pricing-description
          %ul.list-unstyled.mt-3.mb-4
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: 2-5
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: 1
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
        .pricing-button.pb-4
        /  = link_to t('.try_for_free_html'), new_user_registration_path, class: 'btn btn-lg btn-success w-75'
    / Card #3, Professional
    .col-lg-4.col-md-6.col-sm-10.pb-4.d-block.m-auto
      .bg-light{:style => "box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);"}
        .pt-4.pb-3{:style => "letter-spacing: 2px"}
          %h4= t('.gold')
        .card-body
          %small= t('.for_big')
        .pricing-price.pb-1.text-success.color-success-text
          %h1{:style => "font-weight: 1000; font-size: 3.5em;"}
            %span{:style => "font-size: 20px;"}> €
            50
            %small.text-muted / #{t(".month")}
        .pricing-description
          %ul.list-unstyled.mt-3.mb-4
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: #{t('.unlimited')}
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: #{t('.unlimited')}
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
        .pricing-button.pb-4
        /  = link_to t('.try_for_free_html'), new_user_registration_path, class: 'btn btn-lg btn-success w-75'
