= provide(:description, 'XLPLAN pricing. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, pricing, price, salon, management software, crm, erp, employees calendar, calendar')
/%head
/  %meta{:content => "xlplan pricing", :name => "description"}/
.jumbotron.bg-white.text-center
  .display-4= t('.pricing')
  %br
  %h5= t('.small_investment')
  %br
  %h5= t('.best_for_you')
  /For individual professionals. Everything you need to manage your schedule, sell services, and streamline everyday tasks.
  /For small business. Build relationships and keep clients coming back with elegant email campaigns and smart contact lists.
  /For bigger companies. Take your business to the next level with advanced marketing tools, automations, and analytics. Сетевой бизнес
.container
  .card-deck.mb-3.text-center
    .card.mb-4.box-shadow.border-danger
      .card-header.bg-danger
        %h4.my-0.font-weight-normal= t('.bronze')
      .card-body
        %h1.card-title.pricing-card-title
          $7
          %small.text-muted / #{t(".month")}
        %hr
        %h2.card-title.pricing-card-title
          $84
          %small.text-muted / #{t(".year")}
        %ul.list-unstyled.mt-3.mb-4
          %b
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: 1
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: 1
            %hr
            = link_to t('.try_for_free_html'), new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-block btn-danger'
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
    .card.mb-4.box-shadow.border-secondary
      .card-header.bg-secondary
        %h4.my-0.font-weight-normal= t('.silver')
      .card-body
        %h1.card-title.pricing-card-title
          $15
          %small.text-muted / #{t(".month")}
        %hr
        %h2.card-title.pricing-card-title
          $180
          %small.text-muted / #{t(".year")}
        %ul.list-unstyled.mt-3.mb-4
          %b
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: 2-5
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: 1
            %hr
            = link_to t('.try_for_free_html'), new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-block btn-secondary'
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
    .card.mb-4.box-shadow.border-warning
      .card-header.bg-warning
        %h4.my-0.font-weight-normal= t('.gold')
      .card-body
        %h1.card-title.pricing-card-title
          $50
          %small.text-muted / #{t(".month")}
        %hr
        %h2.card-title.pricing-card-title
          .form-inline
            %s.text-danger
              $600
            .text-success.ml-3
              $499
              %small.text-muted / #{t(".year")}
        %ul.list-unstyled.mt-3.mb-4
          %b
            %hr
            .fa.fa-user-tie
            #{t('.employees')}: #{t('.unlimited')}
            %hr
            .fa.fa-map-marker-alt
            #{t('.locations')}: #{t('.unlimited')}
            %hr
            /.fa.fa-plus
            /Automatic reminders (SMS, email, Viber, Telegram, WhatsApp)
            /IP-telephony
            /Material expences
            /Physical Product sales & inventory management
            /Client portal
            /Online booking
            /Phone and email support
            /Help center access
            = link_to t('.try_for_free_html'), new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-block btn-warning'
            %hr
            .fa.fa-rocket
            #{t('.free_implementation')}
            %hr
            .fa.fa-phone
            #{t('.free_support')}
/.text-center
/  = link_to features_path do
/    .btn.btn-info
/      %p
/      %b #{t('.larger_plan')}
/      %p #{t('.additional_functions')}
/%br
/.container
/  %hr
/  %h3.text-center
/    .far.fa-question-circle
/    #{t('.faq')}
/  %br
/  .card
/    .card-header
/      How to pay for the service?
/    .card-body
/      r
/  %br
/  .card
/    .card-header
/      Is VAT included?
/    .card-body
/      r
/  %br
//We can have a paper contract, if you need it. However it is not required for using the service and paying legaly. In most cases, our clients work with us 
</div>
= render 'layouts/footer'