= provide(:description, 'XLPLAN pricing. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, pricing, price, salon, management software, crm, erp, employee calendar, calendar')
/%head
/  %meta{:content => "xlplan pricing", :name => "description"}/
.text-center
  .display-4
    Pricing
  %p
  %h5 We offer free implementation & support with all options!
.container.mb-5.mt-5
  .pricing.card-deck.flex-column.flex-md-row.mb-3
    .card.card-pricing.text-center.px-3.mb-4
      %span.h6.w-60.mx-auto.px-4.py-1.rounded-bottom.bg-warning.text-black.shadow-sm demo
      .bg-transparent.card-header.pt-4.border-0
        %h1.h1.font-weight-normal.text-warning.text-center.mb-0{"data-pricing-value" => "7"}
          $
          %span.price 0
          %span.h6.text-muted.ml-2 / 14 days
      .card-body.pt-0
        = link_to 'Try for free!', new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-warning'
        %ul.list-unstyled.mb-4
          %li 1 Employee
          %li 1 Location
    .card.card-pricing.text-center.px-3.mb-4
      %span.h6.w-60.mx-auto.px-4.py-1.rounded-bottom.bg-warning.text-black.shadow-sm bronze
      .bg-transparent.card-header.pt-4.border-0
        %h1.h1.font-weight-normal.text-warning.text-center.mb-0{"data-pricing-value" => "7"}
          $
          %span.price 7
          %span.h6.text-muted.ml-2 / month
        %h4.text-secondary
          84 $ / year
      .card-body.pt-0
        = link_to 'Start now', new_user_registration_path(plan: 'bronze'), class: 'btn btn-lg btn-warning'
        %ul.list-unstyled.mb-4
          %li 1 Employee
          %li 1 Location
    .card.card-pricing.text-center.px-3.mb-4.border.border-warning.rounded
      %span.h6.w-60.mx-auto.px-4.py-1.rounded-bottom.bg-warning.text-black.shadow-sm silver
      .bg-transparent.card-header.pt-4.border-0
        %h1.h1.font-weight-normal.text-warning.text-center.mb-0{"data-pricing-value" => "15"}
          $
          %span.price 15
          %span.h6.text-muted.ml-2 / month
        %h4.text-secondary
          180 $ / year
      .card-body.pt-0
        = link_to 'Start now', new_user_registration_path(plan: 'silver'), class: 'btn btn-lg btn-warning'
        %ul.list-unstyled.mb-4
          %li 2-5 Employees
          %li 1 Location
    .card.card-pricing.text-center.px-3.mb-4
      %span.h6.w-60.mx-auto.px-4.py-1.rounded-bottom.bg-warning.text-black.shadow-sm gold
      .bg-transparent.card-header.pt-4.border-0
        %h1.h1.font-weight-normal.text-warning.text-center.mb-0{"data-pricing-value" => "50"}
          $
          %span.price 50
          %span.h6.text-muted.ml-2 / month
        %h4.text-secondary
          600 $ / year
      .card-body.pt-0
        = link_to 'Start now', new_user_registration_path(plan: 'gold'), class: 'btn btn-lg btn-warning'
        %ul.list-unstyled.mb-4
          %li Unlimited Employees
          %li Unlimited Locations
          %li Automatic reminders (SMS, email, Viber)
          %li Material expences
          %li Physical Product sales & inventory management
          %li Client portal
          %li Online booking
    /.card.card-pricing.text-center.px-3.mb-4
    /  %span.h6.w-60.mx-auto.px-4.py-1.rounded-bottom.bg-warning.text-black.shadow-sm gold
    /  .bg-transparent.card-header.pt-4.border-0
    /    %h1.h1.font-weight-normal.text-warning.text-center.mb-0{"data-pricing-value" => "500"}
    /      $
    /      %span.price 1099
    /      %span.h6.text-muted.ml-2 / forever
    /  .card-body.pt-0
    /    = link_to 'Try for free', new_user_registration_path(plan: 'gold'), class: 'btn btn-lg btn-warning'
    /    %ul.list-unstyled.mb-4
    /      %li Everything Unlimited
</div>
= render 'layouts/footer'