/- if I18n.locale == :en
/  %h1 ENG
/- elsif I18n.locale == :ru
/  %h1 RUS
/- elsif I18n.locale == :pl
/  %h1 POL
/- else
/  %h1 ELSER

= provide(:description, 'XLPLAN pricing. It is a cloud-based service business management software. Employee calendars, business processes automation, analytics and reporting. Save time while managing your salon easily. Free trial!')
= provide(:keywords, 'xlplan, pricing, price, salon, management software, crm, erp, employees calendar, calendar')
/%head
/  %meta{:content => "xlplan pricing", :name => "description"}/
.text-center
  .display-4
    = t('.pricing')
%p
.container
  .card-deck.mb-3.text-center
    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal= t('.bronze')
      .card-body
        %h1.card-title.pricing-card-title
          $7
          %small.text-muted / #{t(".month")}
        %ul.list-unstyled.mt-3.mb-4
          %hr
          %li #{t('.employees')}: 1
          %hr
          %li #{t('.locations')}: 1
          %hr
          = link_to t('.try_for_free'), new_user_registration_path(plan: 'bronze'), class: 'btn btn-lg btn-block btn-warning'
          %hr
          %li #{t('.free_implementation')}
          %hr
          %li #{t('.free_support')}
    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal= t('.silver')
      .card-body
        %h1.card-title.pricing-card-title
          $15
          %small.text-muted / #{t(".month")}
        %ul.list-unstyled.mt-3.mb-4
          %hr
          %li #{t('.employees')}: 2-5
          %hr
          %li #{t('.locations')}: 1
          %hr
          = link_to t('.try_for_free'), new_user_registration_path(plan: 'silver'), class: 'btn btn-lg btn-block btn-warning'
          %hr
          %li #{t('.free_implementation')}
          %hr
          %li #{t('.free_support')}
    .card.mb-4.box-shadow
      .card-header
        %h4.my-0.font-weight-normal= t('.gold')
      .card-body
        %h1.card-title.pricing-card-title
          $50
          %small.text-muted / #{t(".month")}
        %ul.list-unstyled.mt-3.mb-4
          %hr
          %li #{t('.employees')}: #{t('.unlimited')}
          %hr
          %li #{t('.locations')}: #{t('.unlimited')}
          %hr
          /%li 
          /  .fa.fa-plus
          /  Automatic reminders (SMS, email, Viber)
          /Automatic reminders (SMS, email, Viber, Telegram, WhatsApp)
          /IP-telephony
          /Material expences
          /Physical Product sales & inventory management
          /Client portal
          /Online booking
          /Phone and email support
          /Help center access
          = link_to t('.try_for_free'), new_user_registration_path(plan: 'gold'), class: 'btn btn-lg btn-block btn-warning'
          %hr
          %li #{t('.free_implementation')}
          %hr
          %li #{t('.free_support')}
</div>
= render 'layouts/footer'