%p
%h3.text-center
  Counters
.row
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-user
      = Client.count
      %div 
        %b Clients
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = (Job.all.map(&:service_duration).sum)/60.to_d
      %div 
        %b Hours worked
%h3.text-center
  Planned
.row
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-calendar
      = @planned_job_q
      %div 
        %b Jobs
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_planned_earnings, :unit => "USD, ")
      %div 
        %b Earnings
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_planned_expences, :unit => "USD, ")
      %div 
        %b Expences
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_planned_net_income, :unit => "USD, ")
      %div
        %b Net income
%h3.text-center
  Confirmed
.row
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-calendar
      = @confirmed_job_q
      %div 
        %b Jobs
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_confirmed_earnings, :unit => "USD, ")
      %div 
        %b Earnings
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_confirmed_expences, :unit => "USD, ")
      %div 
        %b Expences
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_confirmed_net_income, :unit => "USD, ")
      %div
        %b Net income
%h3.text-center
  Lost
.row
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-calendar
      = @lost_job_q
      %div 
        %b Jobs
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_lost_earnings, :unit => "USD, ")
      %div 
        %b Earnings
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_lost_expences, :unit => "USD, ")
      %div 
        %b Expences
  .col-md-2
    %button.btn.btn-info.btn-block{:style => "cursor:default;"}
      %i.fa.fa-dollar-sign
      = number_to_currency(@total_net_losses, :unit => "USD, ")
      %div
        %b Net income

%br
.row
  .col-md-4
    %h3.text-center
      Upcoming birthdays
    - @people.each do |person|
      .card.text-center= link_to "#{person.date_of_birth.strftime('%b, %d')} - #{person}", person_path(person)
  .col-md-4
    %h3.text-center
      Job Status
    - @job_statuses.each do |key, value|
      .card.text-center= "#{key} - #{value}"
