%h1 Listing employee_service_categories

%table
  %thead
    %tr
      %th Employee
      %th Service category
      %th
      %th
      %th

  %tbody
    - @employee_service_categories.each do |employee_service_category|
      %tr
        %td= employee_service_category.employee
        %td= employee_service_category.service_category
        %td= link_to 'Show', employee_service_category, class: 'btn btn-sm btn-primary'
        %td= link_to 'Edit', edit_employee_service_category_path(employee_service_category), class: 'btn btn-sm btn-warning'
        %td= link_to 'Destroy', employee_service_category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

%br

= link_to 'New Employee service category', new_employee_service_category_path
