%p#notice= notice

%p
  %b Employee:
  = @employee_service_category.employee
%p
  %b Service category:
  = @employee_service_category.service_category

= link_to 'Edit', edit_employee_service_category_path(@employee_service_category)
\|
= link_to 'Back', employee_service_categories_path
