-# frozen_string_literal: true
= simple_form_for(@employee) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :last_name, autofocus: true
    = f.input :first_name
    = f.input :phone_number
    = f.input :email
    %p
    %button.btn.btn-primary{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
      .fa.fa-cog
      More details
    #accordion.collapse
      %p
      = f.label :'Date of birth'
      = f.date_field :date_of_birth, value: @employee.date_of_birth || nil, class: "form-control"
      %p
      = f.label :'sex'
      %br
      /= f.input :sex
      = f.radio_button :sex, 'undisclosed'
      = f.label :sex_male, "Undisclosed"
      = f.radio_button :sex, 'female'
      = f.label :sex_female, "Female"
      = f.radio_button :sex, 'male'
      = f.label :sex_male, "Male"
      = f.radio_button :sex, 'other'
      = f.label :sex_male, "Other"
      = f.input :middle_name
      = f.input :address
      = f.input :status, :as => :radio_buttons, :collection => Employee.statuses.keys.to_a, label:false
      = f.label :location
      = f.select :location_id, Location.active.map{|c| [c.name, c.id]}, {include_blank: Location.all.length > 1}, class: 'selectize'
      = f.label :'Employment date'
      = f.date_field :employment_date, value: @employee.employment_date || (Time.now).strftime('%Y-%m-%d'), class: "form-control"
      = f.label :'Termination date'
      = f.date_field :termination_date, value: @employee.termination_date || nil, class: "form-control"
    %p
  .form-actions
    = f.button :submit
