%h1 Listing employees

%table
  %thead
    %tr
      %th Person
      %th Location
      %th Specialization
      %th Employment date
      %th Termination date
      %th Balance
      %th Status
      %th
      %th
      %th

  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.person
        %td= employee.location
        %td= employee.specialization
        %td= employee.employment_date
        %td= employee.termination_date
        %td= number_to_currency(employee.balance_cents, :unit => "$")
        %td= status_label(employee.status)
        %td= link_to 'Show', employee
        %td= link_to 'Edit', edit_employee_path(employee)
        %td= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Employee', new_employee_path
= will_paginate @employees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer