- model_class = Employee
= search_form_for @ransack_employees, as: :employees_search, url: employees_path do |f|
  %p
  .container
    = will_paginate @employees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          .input-group
            .mr-sm-2
              %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
            = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: "Name"
            %span.input-group-append
              %button.btn.btn-default{:type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          = link_to '', employees_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          = link_to 'New Employee', new_employee_path, class: 'btn btn-sm btn-primary'
%table#table-overflow
  %thead
    %tr
      %th= sort_link @ransack_employees, :last_name, "Name"
      %th
      %th
      %th Phone
      %th Email
      %th= sort_link @ransack_employees, :date_of_birth, "Birthday"
      %th= sort_link @ransack_employees, :status, "Status"
      %th= sort_link @ransack_employees, :balance, "Balance"
      %th= sort_link @ransack_employees, :jobs_count, "Jobs"
      %th Location
      %th Skills
      %th Status
      %th Roles

  %tbody
    - @employees.each do |employee|
      %tr
        %td= link_to employee.full_name, employee_path(employee), class: "btn btn-primary btn-sm", title: 'Show', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(employee).show?
        %td= link_to '', edit_employee_path(employee), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(employee).update?
        %td= link_to '', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(employee).destroy?
        %td
          = link_to "tel:#{employee.phone_number}", class: "button" do
            #{employee.phone_number}
        %td
          %a{:href => "mailto:#{employee.email}"}= employee.email
        %td
          - if employee.date_of_birth.present?
            #{employee.date_of_birth.strftime('%d/%b/%Y')} (#{employee.age})
        %td= status_label(employee.status)
        %td= number_to_currency(employee.balance_cents, :unit => "$")
        %td= employee.jobs_count
        %td= employee.location
        %td= employee.skills.collect{|r| r.service_category}.to_sentence
        %td
          /- if employee.user.present?
          /  - if employee.user.invitation_accepted_at?
          /    /= link_to 'x account', employee.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
          /  - else
          /    /= link_to 'x invitation', employee.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-info btn-sm"
          /    Invitation pending
          /- else
          /  - unless employee.termination_date.present?
          /    - if employee.email.present?
          /      = simple_form_for(User.new, url: user_invitation_path) do |z|
          /        = z.input :email, input_html: {value: employee.personal_email}, as: :hidden
          /        = z.input :employee_id, input_html: {value: employee.id}, as: :hidden
          /        = z.button :submit, 'Invite', class: "btn btn-success btn-sm"
          /    - else
          /      Add email
          /  - else
          /    Finished
          /  - unless employee.associations?
          /    - if policy(employee).destroy?
          /      = link_to 'x totally', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default btn-sm"

          - if employee.user.present?
            - if employee.user.invitation_accepted_at?
              = link_to 'x account', employee.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"
              Account Active. Can delete
            - else 
              = link_to 'x invitation', employee.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-info btn-sm"
              Invitation sent. Can delete
          - else
            - if employee.email.present?
              = simple_form_for(User.new, url: user_invitation_path) do |z|
                = z.input :email, input_html: {value: employee.email}, as: :hidden
                = z.input :employee_id, input_html: {value: employee.id}, as: :hidden
                = z.button :submit, 'Invite', class: "btn btn-success btn-sm"
            - else
              Add email to invite user
        %td
          - if current_user.has_role?(:admin) && employee.user.present?
            = link_to 'Edit roles', edit_user_path(employee.user), class: 'btn btn-warning btn-sm'
          - if employee.user.present?
            = employee.user.roles.collect{|r| r.name}.to_sentence
%br
