%p
.row
  .col-lg-4
    .card
      .card-header
        %b Personal
        .float-right
          = link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-sm btn-warning'
      .card-body
        %b Name:
        = @employee.full_name
        %br
        %b Phone number:
        = link_to "tel:#{@employee.phone_number}", class: "button" do
          #{@employee.phone_number}
        /%a{:href => "viber://chat?number=#{@employee.phone_number}"}
        /  Viber
        %br
        %b Email:
        %a{:href => "mailto:#{@employee.email}"}= @employee.email
        %br
        %b Date of birth:
        - if @employee.date_of_birth.present?
          = @employee.date_of_birth.strftime('%d/%b/%Y') 
          (#{@employee.age})
        %br
        %b Sex:
        = @employee.sex
        %br
        %b Address:
        = @employee.address
    %p
    .card
      .card-header
        %b Employment
      .card-body
        %b Balance:
        = number_to_currency(@employee.balance_cents, :unit => "$")
        %br
        %b Status:
        = status_label(@employee.status)
        %br
        %b Location:
        = link_to @employee.location, location_path(@employee.location)
        %br
        %b Employment date:
        = @employee.employment_date.strftime('%d/%b/%Y') if @employee.employment_date.present?
        %br
        %b Termination date:
        = @employee.termination_date.strftime('%d/%b/%Y') if @employee.termination_date.present?
    %p
    .card
      .card-header
        %b Skills
        .float-right
          = link_to 'Add Skill', new_employee_skill_path(@employee, @skill), class: 'btn btn-sm btn-primary'
      .card-body
        - @employee.skills.each do |skill|
          = skill.service_category
          = link_to "delete", employee_skill_path(@employee, skill), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
          \,
        /= @employee.skills.map{|p| p.service_category}.join(", ")
    %p
    .card
      .card-header
        %b Account & access
        .float-right
          = link_to 'Edit password', edit_user_registration_path(@employee.user), class: 'btn btn-sm btn-warning'
      .card-body
        - if @employee.user.present?
          %p
            %b Created:
            = @employee.user.created_at.strftime('%d/%b/%Y, %H:%M')
            %br
            %b Confirmed:
            = @employee.user.confirmed_at.strftime('%d/%b/%Y, %H:%M')
            %br
            %b Invited by:
            = @employee.user.invitor
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#dropp1-tab.nav-link.active{"aria-controls" => "dropp1", "aria-selected" => "false", "data-toggle" => "tab", :href => "#drop1", :role => "tab"} Calendar
      %li.nav-item
        %a#dropp2-tab.nav-link{"aria-controls" => "dropp2", "aria-selected" => "true", "data-toggle" => "tab", :href => "#drop2", :role => "tab"} Jobs
      %li.nav-item
        %a#dropp3-tab.nav-link{"aria-controls" => "dropp3", "aria-selected" => "true", "data-toggle" => "tab", :href => "#drop3", :role => "tab"} Stats
    #myTabContent.tab-content
      #drop1.tab-pane.fade.show.active{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
        Calendar
      #drop2.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = render 'jobs/index'
      #drop3.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        .card-header
          %i.fa.fa-calendar
          /= Job.where(employee_id: current_user.person.employee.id).count
          = @employee.jobs_count
          %b Jobs registered
        .card-header
          %i.fa.fa-clock
          = @employee.jobs.map(&:service_duration).sum/60.to_d
          %b Hours worked
        .card-header
          %i.fa.fa-dollar-sign
          = @employee_total_earnings
          %b My earnings

