%p
.row
  .col-lg-4
    .card
      .card-header
        %b Personal
      .card-body
        %p
          %b First name:
          = @employee.first_name
        %p
          %b Middle name:
          = @employee.middle_name
        %p
          %b Last name:
          = @employee.last_name
        %p
          %b Phone number:
          = link_to "tel:#{@employee.phone_number}", class: "button" do
            #{@employee.phone_number}
          /%a{:href => "viber://chat?number=#{@employee.phone_number}"}
          /  Viber
        %p
          %b Email:
          %a{:href => "mailto:#{@employee.email}"}= @employee.email
        %p
          %b Date of birth:
          - if @employee.date_of_birth.present?
            = @employee.date_of_birth.strftime('%d/%b/%Y') 
            (#{@employee.age})
        %p
          %b Sex:
          = @employee.sex
        %p
          %b Address:
          = @employee.address
    %p
    .card
      .card-header
        %b Employment
        .float-right
          = link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-sm btn-warning'
      .card-body
        %p
          %b Balance:
          = number_to_currency(@employee.balance_cents, :unit => "$")
        %p
          %b Status:
          = status_label(@employee.status)
        %p
          %b Location:
          = link_to @employee.location, location_path(@employee.location)
        %p
          %b Employment date:
          = @employee.employment_date.strftime('%d/%b/%Y') if @employee.employment_date.present?
        %p
          %b Termination date:
          = @employee.termination_date.strftime('%d/%b/%Y') if @employee.termination_date.present?
    %p
    .card
      .card-header
        %b Skills
        .float-right
          = link_to 'Add Skill', new_employee_skill_path(@employee, @skill), class: 'btn btn-sm btn-primary'
      .card-body
        - @employee.skills.each do |skill|
          %p
            = skill.service_category
            = link_to "delete", employee_skill_path(@employee, skill), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
        /= @employee.skills.map{|p| p.service_category}.join(", ")
    .card
      .card-header
        %b Account & access
      .card-body
        %p
          %b ?
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#home-tab.nav-link.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#jobs", :role => "tab"} Jobs
      %li.nav-item
        %a#profile-tab.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#categories", :role => "tab"} Categories
      %li.nav-item
        %a#contact-tab.nav-link{"aria-controls" => "contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#stats", :role => "tab"} Stats
    #myTabContent.tab-content
      #jobs.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = render 'jobs/index'
      #categories.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
        /= render 'employee_service_categories/index'
      #stats.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
        .card-header
          %i.fa.fa-calendar
          /= Job.where(employee_id: current_user.person.employee.id).count
          = @employee.jobs_count
          %b Jobs registered
        .card-header
          %i.fa.fa-clock
          = @employee.jobs.map(&:service_duration).sum/60.to_d
          %b Hours worked
        .card-header
          %i.fa.fa-dollar-sign
          = number_to_currency(@employee_total_earnings, :unit => "USD, ")
          %b My earnings

