%p#notice= notice

%p
  %b Person:
  = @employee.person
%p
  %b Location:
  = @employee.location
%p
  %b Specialization:
  = @employee.specialization
%p
  %b Employment date:
  = @employee.employment_date
%p
  %b Termination date:
  = @employee.termination_date
%p
  %b Balance:
  = @employee.balance
%p
  %b Status:
  = status_label(@employee.status)

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path

= render 'jobs/index'