
.panel.panel-default
  .panel-heading
    %h4= t('.sign_up', :default => "Sign up")
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form", class: 'cc_form' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "form-control"
      = fields_for( :tenant ) do |w|
        .form-group
          = w.label :name, 'Organization'
          %span.description (Unique name for your group or organization for the new account)
          = w.text_field :name, required: true, class: "form-control"
          = w.label :industry
          = w.select :industry, options_for_select(TenantIndustry.options, params[:tenant_industry]), {}, required: true, class: 'selectize'
          = w.label :plan
          = w.select :plan, options_for_select(Plan.options, params[:plan]), {}, required: true, class: "form-control"
          = w.label :default_currency
          /= w.error :default_currency, class: 'text-danger'
          = w.select :default_currency, Money::Currency.table, {}, required: true, class: 'selectize'
          /= w.select :locale, collection: [['English', 'en'], ['Русский', 'ru']], include_blank: false

        - if ::Milia.use_coupon
          - @coupon ||= {}
          .group
            = label_tag( 'coupon', 'Coupon code', :class => "label" )
            = text_field_tag( "coupon[coupon]", @coupon['coupon'].to_s, :size => 8, :class => "text_field" )
            %span.description optional promotional code, if any

        /- if ::Milia.use_recaptcha
        /  = recaptcha_tags( :display => { :theme => 'clean', :tabindex => 0 } )

      = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary"
= render "devise/shared/links"
