%p
.row
  .col-lg-4
  .col-lg-4
    .card.card-default
      .card-header
        %h4= t('.sign_up', :default => "Sign up")
      .card-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          /= devise_error_messages!
          = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
          = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }
          /= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          /= f.input :password_confirmation, required: true
          %hr
          = simple_fields_for(:tenant) do |w|
            = w.input :name, label: "Company name"
            = w.label :plan
            = w.select :plan, options_for_select(Plan.options, params[:plan]), {include_blank: false}, class: "form-control"
            = w.input :locale, collection: [['English', 'en'], ['Русский', 'ru'], ['Polski', 'pl']], include_blank: false, label: 'Language'
            - if ::Milia.use_coupon
              - @coupon ||= {}
              .group
                = label_tag( 'coupon', 'Coupon code', :class => "label" )
                = text_field_tag( "coupon[coupon]", @coupon['coupon'].to_s, :size => 8, :class => "text_field" )
                %span.description optional promotional code, if any
            /- if ::Milia.use_recaptcha
            /  = recaptcha_tags( :display => { :theme => 'clean', :tabindex => 0 } )
          = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary"
        %hr
        = render "devise/shared/links"
