%h1 Listing people

%table
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Date of birth
      %th Sex
      %th Email
      %th Phone number
      %th Address
      %th Description
      %th Status
      %th Invited by
      %th Account status
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.first_name
        %td= person.middle_name
        %td= person.last_name
        %td= person.date_of_birth
        %td= person.sex
        %td= person.email
        %td= person.phone_number
        %td= person.address
        %td= person.description
        %td= person.status
        %td= person.user.invited_by if person.user.present?
        /%td
        /  = person.account_status
        /  = button_to "Invite", invite_user_person_path(person), method: :patch
        %td
          - if person.user.present?
            - if person.user.invitation_accepted_at?
              Account Active. Can delete
              /= link_to 'x account', person.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"
            - else 
              Invitation sent. Can delete
              /= link_to 'x invitation', person.user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-info btn-xs"
          - else
            - if person.email.present?
              = simple_form_for(User.new, url: user_invitation_path) do |z|
                = z.input :email, input_html: {value: person.email}, as: :hidden
                = z.input :person_id, input_html: {value: person.id}, as: :hidden
                = z.button :submit, 'Invite', class: "btn btn-success btn-xs"
            - else
              Add email to invite user
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Person', new_person_path



