%h1 Listing people

%table
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Date of birth
      %th Sex
      %th Email
      %th Phone number
      %th Address
      %th Description
      %th Status
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.first_name
        %td= person.middle_name
        %td= person.last_name
        %td= person.date_of_birth
        %td= person.sex
        %td= person.email
        %td= person.phone_number
        %td= person.address
        %td= person.description
        %td= person.status
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
