%p
  %b First name:
  = @person.first_name
%p
  %b Middle name:
  = @person.middle_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Date of birth:
  = @person.date_of_birth.strftime('%d/%b/%Y')
%p
  %b Sex:
  = @person.sex
%p
  %b Email:
  = @person.email
%p
  %b Phone number:
  = @person.phone_number
%p
  %b Address:
  = @person.address
%p
  %b Description:
  = @person.description
%p
  %b Status:
  = status_label(@person.status)

%p= @person.user
%p= @person.user.email
%p= @person.user.reset_password_sent_at
%p= @person.user.remember_created_at
%p= @person.user.confirmed_at
%p= @person.user.confirmation_sent_at
%p= @person.user.unconfirmed_email
%p= @person.user.created_at
%p= @person.user.updated_at
%p= @person.user.invitation_sent_at
%p= @person.user.invitation_accepted_at
%p= @person.user.invited_by_type
%p= @person.user.invited_by_id
