-# frozen_string_literal: true
/= @job.overlapped_records.count if @job.overlapped_records.any?
= simple_form_for(@job) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs

    = f.label :service
    = f.error :service, class: 'text-danger'
    = f.select :service_id, Service.active.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize'

    = f.label :member
    = f.error :member, class: 'text-danger'
    = f.select :member_id, Member.active.map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize'

    /= f.input :service_duration
    /= f.input :service_member_percent
    /= f.input :client_price
    /= f.input :member_price
    %p
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
