-# frozen_string_literal: true
= simple_form_for(@job) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :client, autofocus: true
    = f.input :starts_at, :minute_step => 30, start_year: Date.today.year
    /= f.input :ends_at
    /= f.input :status, :as => :radio_buttons, :collection => Job.statuses.keys.to_a, label:false
    = f.association :service
    = f.association :location
    = f.association :employee
    /= f.input :service_name
    /= f.input :service_description
    /= f.input :service_duration
    /= f.input :client_price
    /= f.input :employee_price

  .form-actions
    = f.button :submit
