-# frozen_string_literal: true
= simple_form_for(@job) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    /= f.association :client, autofocus: true
    = f.label :client
    = f.select :client_id, Client.all.map{|c| [c.person, c.id]}, {include_blank: true}, class: 'selectize'
    = f.input :starts_at, :minute_step => 30, start_year: Date.today.year
    /= f.input :ends_at
    /= f.input :status, :as => :radio_buttons, :collection => Job.statuses.keys.to_a, label:false
    /= f.association :service
    = f.label :service
    = f.select :service_id, Service.all.map{|c| [c.full_name, c.id]}, {include_blank: true}, class: 'selectize'
    /= f.association :location
    = f.label :location
    = f.select :location_id, Location.all.map{|c| [c.name, c.id]}, {include_blank: false}, class: 'selectize'
    /= f.association :employee
    = f.label :employee
    = f.select :employee_id, Employee.all.map{|c| [c.person, c.id]}, {include_blank: false}, class: 'selectize'
    /= f.input :service_name
    /= f.input :service_description
    /= f.input :service_duration
    /= f.input :client_price
    /= f.input :employee_price
    = f.input :status, :as => :radio_buttons, :collection => Job.statuses.keys.to_a
    %p
  .form-actions
    = f.button :submit
