- model_class = Job
.table-responsive
  %table#table1
    %thead
      %tr
        %th #
        %th= model_class.human_attribute_name(:service_id)
        %th= model_class.human_attribute_name(:member_id)
        %th= model_class.human_attribute_name(:client_price)
        %th= model_class.human_attribute_name(:member_price)
    %tbody
      - @jobs.each_with_index do |job, index|
        %tr
          %td= index +1
          %td= link_to job.service.full_name, service_path(job.service)
          %td= link_to job.member, member_path(job.member)
          %td
            = number_to_currency(job.client_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            (#{number_to_currency(job.client_due_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")})
          %td
            = number_to_currency(job.member_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            (#{number_to_currency(job.member_due_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")})
