.table-responsive
  %table#table1
    %thead
      %tr
        %th #
        %th
        %th Service
        %th Member
        %th Client Price
        %th Member Price
        %th C due
        %th M due
    %tbody
      - @jobs.each_with_index do |job, index|
        %tr
          %td= index +1
          %td= link_to '', appointment_path(job.appointment), class: "btn btn-primary fa fa-eye btn-sm" if policy(job).show?
          %td= link_to job.service.full_name, service_path(job.service)
          %td= link_to job.member, member_path(job.member)
          %td= number_to_currency(job.client_price_cents, :unit => "#{Tenant.current_tenant.default_currency.upcase} ")
          %td= number_to_currency(job.member_price_cents, :unit => "#{Tenant.current_tenant.default_currency.upcase} ")
          %td= number_to_currency(job.client_due_price_cents, :unit => "#{Tenant.current_tenant.default_currency.upcase} ")
          %td= number_to_currency(job.member_due_price_cents, :unit => "#{Tenant.current_tenant.default_currency.upcase} ")
