%table#table-overflow
  %thead
    %tr
      %th
      %th
      %th
      %th Client
      %th Time
      %th Status
      %th Location
      %th Employee
      %th Service
      %th Client,$
      %th Employee,$
      %th Description

  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to t('.show', :default => t("helpers.links.show")), job, class: 'btn btn-sm btn-primary'
        %td= link_to t('.edit', :default => t("helpers.links.edit")), edit_job_path(job), class: 'btn btn-sm btn-warning'
        %td= link_to t('.destroy', :default => t("helpers.links.destroy")), job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
        %td= link_to job.client, client_path(job.client)
        %td #{job.starts_at.strftime('%d/%b/%Y %H:%M')} - #{job.ends_at.strftime('%H:%M')}
        %td= status_label(job.status)
        %td= link_to job.location, location_path(job.location)
        %td= link_to job.employee, employee_path(job.employee)
        %td= link_to job.service.full_name, service_path(job.service)
        /%td= job.service_duration
        %td= job.client_price_cents
        %td= job.employee_price_cents
        %td{:style => "word-wrap: break-word;min-width: 1000px;max-width: 100%;"}= job.description
        /%td= job.creator
        /%td= job.created_at.strftime('%d/%b/%Y %H:%M')
        /%td= job.updated_at.strftime('%d/%b/%Y %H:%M')
%br