= search_form_for @q, url: jobs_path do |f|
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          %b
            -
            = controller.action_name.humanize.titleize
            
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          %button.btn.btn-sm.btn-default{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
            .fa.fa-search
            Search
          = link_to "", "", class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          - if policy(Job).create?
            = link_to t('.new', :default => t("helpers.links.new")), new_job_path, class: 'btn btn-sm btn-primary'
    #accordion.collapse
      .card-header
        .row
          .col-md-4
            /= f.search_field :id_eq, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "#", :autocomplete => :off
            /%br 
            Client
            = f.search_field :appointment_client_full_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Client name", :autocomplete => :off
            %br 
              Member
              = f.search_field :member_full_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Member name", :autocomplete => :off
          .col-md-4
            Service
            /= f.select :service_name_cont, options_from_collection_for_select(Service.all, :name, :name, @q.service_name_cont), { :include_blank => true }, :class => "form-control"
            /= f.label :service
            = f.select :service_name_cont, Service.all.map{|c| [c.name, c.name]}, {include_blank: Service.all.length > 1}, class: 'selectize'
            %br
            = f.submit

.table-responsive
  %table#table1
    %thead
      %tr
        %th
        %th
        %th
        %th= sort_link @q, :member_last_name, "Member"
        %th= sort_link @q, :service_name, "Service"
        %th= sort_link @q, :client_price, "From Client, #{Tenant.current_tenant.default_currency.upcase}"
        %th= sort_link @q, :member_price, "To Member, #{Tenant.current_tenant.default_currency.upcase}"
        %th C due
        %th M due
    %tbody
      - @jobs.each do |job|
        %tr
          %td= link_to '', job, class: "btn btn-primary fa fa-eye btn-sm" if policy(job).show?
          %td= link_to '', edit_job_path(job), class: "btn btn-warning fa fa-edit btn-sm" if policy(job).update?
          %td= link_to '', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(job).destroy?
          %td= link_to job.member, member_path(job.member)
          %td= link_to job.service.full_name, service_path(job.service)
          %td= job.client_price_cents
          %td= job.member_price_cents
          %td= job.client_due_price_cents
          %td= job.member_due_price_cents
.container
  = will_paginate @jobs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
