- model_class = Job
= search_form_for @q, url: jobs_path do |f|
  %p
  .card.card-default
    .container
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          %b
            =t '.title', :default => model_class.model_name.human.pluralize.titleize
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          %button.btn.btn-sm.btn-default{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
            .fa.fa-search
            Search
          = link_to t('.new', :default => t("helpers.links.new")), new_job_path, class: 'btn btn-sm btn-primary'
    #accordion.collapse
      %table
        %thead
          %tr
            %th 
              Client
              = f.search_field :client_person_last_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Surname"
            %th
              Starts after
              .input-daterange
                = f.text_field :starts_at_gteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date >= to"
            %th
              Starts before
              .input-daterange
                = f.text_field :starts_at_lteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date <= to"
            %th 
              Status
              = f.select :status_eq, Job.statuses.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}
            %th 
              Employee
              = f.search_field :employee_person_last_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Surname"
            %th= f.submit
            %th= link_to '', jobs_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'

    %table
      %thead
        %tr
          %th= sort_link @q, :client_person_last_name, "Client"
          %th= sort_link @q, :starts_at, "Time"
          %th= sort_link @q, :status, "Status"
          %th= sort_link @q, :location_id, "Location"
          %th= sort_link @q, :employee_person_last_name, "Employee"
          %th= sort_link @q, :service_name, "Service"
          /%th= sort_link @q, :service_duration, "Duration"
          /%th Client price
          /%th Employee price
          %th= sort_link @q, :client_price, "Client,$"
          %th= sort_link @q, :employee_price, "Employee,$"
          %th ToC$
          %th ToE$
          %th
          %th
          %th
    
      %tbody
        - @jobs.each do |job|
          %tr
            %td= link_to job.client, client_path(job.client)
            %td #{job.starts_at.strftime('%d/%b/%Y %H:%M')} - #{job.ends_at.strftime('%H:%M')}
            %td= status_label(job.status)
            %td= link_to job.location, location_path(job.location)
            %td= link_to job.employee, employee_path(job.employee)
            %td= link_to job.service.full_name, service_path(job.service)
            /%td= job.service_duration
            /%td= number_to_currency(job.client_price_cents, :unit => "#{job.service.client_price_currency}, ")
            /%td= number_to_currency(job.employee_price_cents, :unit => "#{job.service.employee_price_currency}, ")
            %td= job.client_price_cents
            %td= job.employee_price_cents
            %td= job.client_due_price_cents
            %td= job.employee_due_price_cents
            %td= link_to t('.show', :default => t("helpers.links.show")), job, class: 'btn btn-sm btn-primary'
            %td= link_to t('.edit', :default => t("helpers.links.edit")), edit_job_path(job), class: 'btn btn-sm btn-warning'
            %td= link_to t('.destroy', :default => t("helpers.links.destroy")), job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    .container
      = will_paginate @jobs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br