- model_class = Job
= search_form_for @q, url: jobs_path do |f|
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          %b
            =t '.title', :default => model_class.model_name.human.pluralize.titleize
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          %button.btn.btn-sm.btn-default{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
            .fa.fa-search
            Search
          = link_to '', jobs_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          - if policy(Job).create?
            = link_to t('.new', :default => t("helpers.links.new")), new_job_path, class: 'btn btn-sm btn-primary'
    #accordion.collapse
      .card-header
        .row
          .col-md-4
            \#
            = f.search_field :id_eq, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "#", :autocomplete => :off
            %br 
              Client
              = f.search_field :client_last_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Surname"
            %br 
              Employee
              = f.search_field :member_last_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Surname"
          .col-md-4
            Starts after
            .input-daterange
              = f.text_field :starts_at_gteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date >= to", :autocomplete => :off
            Starts before
            .input-daterange
              = f.text_field :starts_at_lteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date <= to", :autocomplete => :off
            Status
            = f.select :status_eq, Job.statuses.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, :class => "form-control"
          .col-md-4
            Service
            /= f.select :service_name_cont, options_from_collection_for_select(Service.all, :name, :name, @q.service_name_cont), { :include_blank => true }, :class => "form-control"
            /= f.label :service
            = f.select :service_name_cont, Service.all.map{|c| [c.name, c.name]}, {include_blank: Service.all.length > 1}, class: 'selectize'
            %br
            = f.submit

.table-responsive
  %table#table1
    %thead
      %tr
        %th #
        %th
        %th
        %th
        %th= sort_link @q, :client_last_name, "Client"
        %th= sort_link @q, :starts_at, "Time"
        %th= sort_link @q, :status, "Status"
        %th= sort_link @q, :location_id, "Location"
        %th= sort_link @q, :member_last_name, "Employee"
        %th= sort_link @q, :service_name, "Service"
        /%th= sort_link @q, :service_duration, "Duration"
        %th= sort_link @q, :client_price, "Client,$"
        %th= sort_link @q, :member_price, "Employee,$"
        %th Description
        /%th Created by
        /%th Created at
        /%th Updated at
    %tbody
      - @jobs.each do |job|
        %tr
          %td= job.id
          %td= link_to '', job, class: "btn btn-primary fa fa-eye btn-sm", title: 'Show', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          %td= link_to '', edit_job_path(job), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(job).update?
          %td= link_to '', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(job).destroy?
          %td= link_to job.client, client_path(job.client)
          %td #{job.starts_at.strftime('%d/%b/%Y %H:%M')} - #{job.ends_at.strftime('%H:%M')}
          %td= status_label(job.status)
          %td= link_to job.location, location_path(job.location)
          %td= link_to job.member, member_path(job.member)
          %td= link_to job.service.full_name, service_path(job.service)
          /%td= job.service_duration
          %td= job.client_price_cents
          %td= job.member_price_cents
          %td= truncate(job.description, length: 25)
          /%td= job.creator
          /%td= job.created_at.strftime('%d/%b/%Y %H:%M')
          /%td= job.updated_at.strftime('%d/%b/%Y %H:%M')
.container
  = will_paginate @jobs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
