%p
.row
  .container
    .card
      .card-header
        %b Job #
        = @job.id
        .float-right
          = link_to '', edit_job_path(@job), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@job).update?
          /= link_to 'Back', jobs_path, class: 'btn btn-sm btn-secondary'
          = link_to '', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@job).destroy?

      .card-body
        %b Client:
        = link_to @job.client, client_path(@job.client)
        %br
        %b Starts at:
        = @job.starts_at.strftime('%d/%m/%Y %H:%M')
        %br
        %b Ends at:
        = @job.ends_at.strftime('%d/%m/%Y %H:%M')
        (#{@job.service_duration} min)
        %br
        %b Employee:
        = link_to @job.member, member_path(@job.member)
        %br
        %b Service:
        = link_to @job.service.full_name_with_price, service_path(@job.service)
        /%br
        /%b Service description:
        /= @job.service_description
        /%br
        /%b Service duration:
        /= @job.service_duration
        %br
        %b Location:
        = link_to @job.location, location_path(@job.location)
        %br
        %b Status:
        = status_label(@job.status)

        %p
        - if policy(@job).update?
          .form-inline
            - unless @job.status == 'planned'
              /= button_to "planned", mark_planned_job_path(@job), method: :patch
              = button_to "planned", mark_planned_job_path(@job), method: :patch, class: 'btn btn-sm btn-primary mr-sm-2'
            - unless @job.status == 'confirmed'
              /= button_to "confirmed", mark_confirmed_job_path(@job), method: :patch
              = button_to "confirmed", mark_confirmed_job_path(@job), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @job.status == 'confirmed_by_client'
              /= button_to "confirmed_by_client", mark_confirmed_by_client_job_path(@job), method: :patch
              = button_to "confirmed_by_client", mark_confirmed_by_client_job_path(@job), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @job.status == 'not_attended'
              /= button_to "not_attended", mark_not_attended_job_path(@job), method: :patch
              = button_to "not_attended", mark_not_attended_job_path(@job), method: :patch, class: 'btn btn-sm btn-danger mr-sm-2'
            - unless @job.status == 'rejected_by_us'
              /= button_to "rejected_by_us", mark_rejected_by_us_job_path(@job), method: :patch
              = button_to "rejected_by_us", mark_rejected_by_us_job_path(@job), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @job.status == 'cancelled_by_client'
              /= button_to "cancelled_by_client", mark_cancelled_by_client_job_path(@job), method: :patch
              = button_to "cancelled_by_client", mark_cancelled_by_client_job_path(@job), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'


        /%br
        /%b service_member_percent:
        /= @job.service_member_percent

        %hr
        %b Client planned price:
        = @job.client_price_cents
        /= number_to_currency(@job.client_price_cents, :unit => "$")
        %br
        %b Employee planned price:
        = @job.member_price_cents if policy(@job).update?
        /= number_to_currency(@job.member_price_cents, :unit => "$")
        %br
        %b Client due price:
        = @job.client_due_price_cents
        /= number_to_currency(@job.client_due_price_cents, :unit => "$")
        %br
        %b Employee due price:
        = @job.member_due_price_cents if policy(@job).update?
        /= number_to_currency(@job.member_due_price_cents, :unit => "$")
        %hr
        %b Description:
        = @job.description
        %hr
        %b Created by:
        = link_to @job.creator, member_path(@job.creator)
        %br
        %b Created at:
        = @job.created_at.strftime('%d/%b/%Y %H:%M')
        %br
        %b Updated at:
        = @job.updated_at.strftime('%d/%b/%Y %H:%M')

%br

/= render "comments/index"
/= render "comments/form"
