-# frozen_string_literal: true
= simple_form_for(@service_category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :name, input_html: { autocomplete: 'nope' }
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
