- model_class = ServiceCategory
.card
  .card-header
    %h5.float-left
      .fa.fa-hand-paper
      %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
      .badge.badge-info
        = @service_categories.count
    %h5.float-right
      = link_to t('.new', :default => t("helpers.links.new")), new_service_category_path, class: 'btn btn-sm btn-primary'
- @service_categories.each do |service_category|
  .card
    .card-header.bg-light
      .row
        .col-sm-6
          %b= service_category.name
        .col-sm-3
          = link_to services_path(q: {service_category_id_eq: service_category.id}) do
            .fa.fa-hand-paper
            = service_category.services_count
          .row
          = link_to members_path(members_search: {skills_service_category_id_eq: service_category.id}) do
            .fa.fa-user-tie
            = service_category.skills.count
        .col-sm-3
          = link_to '', edit_service_category_path(service_category), class: "btn btn-warning fa fa-edit btn-sm" if policy(service_category).edit?
          - unless service_category.services.any?
            = link_to '', service_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service_category).destroy?
