- model_class = ServiceCategory
.card
  .card-header
    %h5.float-left
      .fa.fa-hand-paper
      %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
    %h5.float-right
      = link_to t('.new', :default => t("helpers.links.new")), new_service_category_path, class: 'btn btn-sm btn-primary'
- @service_categories.each do |service_category|
  .card
    .card-header.bg-light
      .row
        .col-sm-6
          %b= service_category.name
        .col-sm-3
          = link_to "<i class='fa fa-hand-paper'></i> #{service_category.services_count}".html_safe, services_path(q: {service_category_id_eq: service_category.id}), class: "nav-link"
        .col-sm-3
          = link_to '', edit_service_category_path(service_category), class: "btn btn-warning fa fa-edit btn-sm" if policy(service_category).edit?
          - unless service_category.services.any?
            = link_to '', service_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service_category).destroy?
/    %table.table-sm.table-striped
/      %tbody
/        - service_category.services.each do |service|
/          %tr
/            %td
/              = link_to service.name, service_path(service)
/              .row
/              = status_label(service.status)
/            %td
/              = link_to '', service_path(service), class: "btn btn-primary fa fa-eye btn-sm" if policy(service).show?
/              = link_to '', edit_service_path(service), class: "btn btn-warning fa fa-edit btn-sm" if policy(service).edit?
/              = link_to '', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service).destroy?
/            %td
/              %small
/                = service.description
/            %td
/              .fa.fa-clock
/              = service.duration
/            %td
/              /.fa.fa-tag
/              = number_to_currency(service.client_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
/            %td= number_to_percentage(service.member_percent, precision: 0)
/            %td= number_to_currency(service.member_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
/            /ADMIN - stats
/            - if current_user.has_role?(:admin)
/              %td
/                .fa.fa-calendar-check
/                = service.jobs_count
