- model_class = ServiceCategory
.card#pills-background
  .card-header
    %h5.float-left
      .far.fa-hand-paper
      %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
      .badge.badge-info
        = @service_categories.count
    %h5.float-right
      = link_to t('.new', :default => t("helpers.links.new")), new_service_category_path, class: 'btn btn-sm btn-primary'
%p
.card-columns
  - @service_categories.each do |service_category|
    .card
      .card-header
        .far.fa-hand-paper
        = service_category.name
        .float-right
          .btn-group
            = link_to '', edit_service_category_path(service_category), class: "btn btn-warning fa fa-edit btn-sm" if policy(service_category).edit?
            = link_to '', service_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service_category).destroy?
      .card-body
        .fa.fa-hand-paper
        = model_class.human_attribute_name(:services_count) + ':'
        = service_category.services_count
        .row
        .fa.fa-user-tie
        = model_class.human_attribute_name(:members_count) + ':'
        = service_category.skills.count
/.table-responsive-xl
/  %table#table1
/    %thead
/      %tr
/        %th
/        %th= model_class.human_attribute_name(:name)
/        %th
/          .fa.fa-hand-paper
/          = model_class.human_attribute_name(:services_count)
/        %th
/          .fa.fa-user-tie
/          = model_class.human_attribute_name(:members_count)
/    %tbody
/      - @service_categories.each do |service_category|
/        %tr
/          %td
/            .btn-group
/              = link_to '', edit_service_category_path(service_category), class: "btn btn-warning fa fa-edit btn-sm" if policy(service_category).edit?
/              = link_to '', service_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(service_category).destroy?
/          %td= service_category.name
/          %td= service_category.services_count
/          %td= service_category.skills.count