.card.card-default
  .card-header
    %b= t('sidebar.user_roles')
/User types:
/Admin
/Manager
/Specialist
/Client
/Viewer
/Owner
.table-responsive
  %table#table1
    %thead
      %tr
        %th 
        %th= t('helpers.links.show')
        %th= t('helpers.links.new')
        %th= t('helpers.links.edit')
        %th= t('helpers.links.destroy')
    %tbody
      %tr
        %th
          .fa.fa-user-tie
          = t('sidebar.members')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-warning owner
        %td
          .badge.badge-dark admin
    %tbody
      %tr
        %th
          .fa.fa-lock
          = t('members.show.access_rights')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
        
        %td
          .badge.badge-dark admin
    %tbody
      %tr
        %th
          .fa.fa-calendar-check
          = t('sidebar.events')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-warning owner
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-warning owner
    %tbody
      %tr
        %th
          .fa.fa-user
          = t('sidebar.clients')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
    %tbody
      %tr
        %th
          .fa.fa-hand-paper
          = t('sidebar.services')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
    %tbody
      %tr
        %th
          .fa.fa-hand-holding-usd
          = t('sidebar.inbound_payments')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
    %tbody
      %tr
        %th
          .fa.fa-dollar-sign
          = t('sidebar.expences')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
    %tbody
      %tr
        %th
          .fa.fa-map-marker-alt
          = t('sidebar.locations')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
    %tbody
      %tr
        %th
          .fa.fa-map-marker-alt
          = t('sidebar.online_booking')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
        %td
          .badge.badge-dark admin
    %tbody
      %tr
        %th
          .fa.fa-user-plus
          = t('sidebar.import_contacts')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .fa.fa-times
        %td
          .fa.fa-times
    %tbody
      %tr
        %th
          .fa.fa-bell
          = t('sidebar.activity')
        %td
          .badge.badge-dark admin
          .badge.badge-primary manager
          .badge.badge-info specialist
        %td
          .fa.fa-times
        %td
          .fa.fa-times
        %td
          .fa.fa-times
    %tbody
      %tr
        %th
          .fa.fa-chart-line
          = t('sidebar.stats')
        %td
          .badge.badge-dark admin
        %td
          .fa.fa-times
        %td
          .fa.fa-times
        %td
          .fa.fa-times
%br