%h4 Role description
/User types:
/Admin
/Manager
/Specialist
/Client
/Viewer
/Owner

.table-responsive
  %table#table1
    %thead
      %tr
        %th 
        %th Show
        %th Create
        %th Edit
        %th Delete
    %tbody
      %tr
        %th{:scope => "row"} Members
        %td.bg-success #{'anybody'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-primary #{'admin_or_owner'.humanize}
        %td.bg-danger #{'admin'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Accounts and roles
        %td.bg-success #{'anybody'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-danger #{'admin'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Events
        %td.bg-success #{'anybody'.humanize}
        %td.bg-success #{'anybody'.humanize}
        %td.bg-info #{'admin_or_manager_or_owner'.humanize}
        %td.bg-info #{'admin_or_manager_or_owner'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Clients
        %td.bg-success #{'anybody'.humanize}
        %td.bg-success #{'anybody'.humanize}
        %td.bg-success #{'anybody'.humanize}
        %td.bg-warning #{'admin_or_manager'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Services
        %td.bg-success #{'anybody'.humanize}
        %td.bg-success #{'anybody'.humanize}
        %td.bg-warning #{'admin_or_manager'.humanize}
        %td.bg-warning #{'admin_or_manager'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Locations
        %td.bg-success #{'anybody'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-danger #{'admin'.humanize}
    %tbody
      %tr
        %th{:scope => "row"} Activity
        %td.bg-success #{'anybody'.humanize}
        %td.bg-light N/A
        %td.bg-light N/A
        %td.bg-light N/A
    %tbody
      %tr
        %th{:scope => "row"} Stats
        %td.bg-danger #{'admin'.humanize}
        %td.bg-danger #{'admin'.humanize}
        %td.bg-light N/A
        %td.bg-light N/A
%br