%h4
  Editing roles for: #{@user.email}
.card-header
  = simple_form_for @user do |f|
    = f.collection_check_boxes :role_ids, Role.where.not("name = 'owner'").all, :id, :name
    = f.error :roles, class: 'text-danger'
    = f.submit
  %p
  = link_to "Cancel", member_path(@user.member), class: 'btn btn-danger'
%p
= render 'users/role_description'