%br
%h4
  Editing roles for: #{@user.email}
= form_for @user do |f|
  - Role.all.each do |role|
    = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id)
    = role.name
  = f.submit
%br
= link_to "Back to Root", root_path, class: 'btn btn-secondary'


= render 'users/role_description'