%p
.row
  .col-lg-3
  .col-lg-6
    .card.card-default
      .card-header
        %h5= t('.forgot_your_password')
      .card-body
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
          .form-actions
            = f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary"
        %hr
        = render "devise/shared/links"