= simple_form_for @client do |f|

  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :first_name, autofocus: true, input_html: { autocomplete: 'nope' }
    = f.input :last_name, input_html: { autocomplete: 'nope' }
    = f.input :phone_number, input_html: { autocomplete: 'nope' } 
    = f.input :email, input_html: { autocomplete: 'nope' }
    = f.label :date_of_birth
    = f.date_field :date_of_birth, value: @client.date_of_birth || nil, class: "form-control"
    / #### GENDER FIELD STARTS HERE ####
    %p
    = f.label :gender
    %br
    = f.radio_button :gender, 'Undisclosed'
    = f.label :gender_undisclosed
    = f.radio_button :gender, 'Female'
    = f.label :gender_female
    = f.radio_button :gender, 'Male'
    = f.label :gender_male
    / #### GENDER FIELD ENDS HERE ####
    / #### ADDRESS FIELD STARTS HERE ####
    .fields
      = f.fields_for :address, OpenStruct.new(f.object.address || {}) do |a|
        = f.label :country
        = a.text_field :country, id: :country, input_html: { autocomplete: 'nope' }
        = f.label :city
        = a.text_field :city, id: :city, input_html: { autocomplete: 'nope' }
        = f.label :street
        = a.text_field :street, id: :street, input_html: { autocomplete: 'nope' }
        = f.label :zip
        = a.text_field :zip, id: :zip, input_html: { autocomplete: 'nope' }
    / #### ADDRESS FIELD ENDS HERE ####
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success"