-# frozen_string_literal: true
= simple_form_for(@client) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :phone_number
    = f.input :email
    = f.label :date_of_birth
    = f.date_field :date_of_birth, value: @client.date_of_birth || nil, class: "form-control"
    %p
    = f.label :'gender'
    %br
    = f.radio_button :gender, 'Undisclosed'
    = f.label :gender_undisclosed, "Undisclosed"
    = f.radio_button :gender, 'Female'
    = f.label :gender_female, "Female"
    = f.radio_button :gender, 'Male'
    = f.label :gender_male, "Male"
    = f.radio_button :gender, 'Other'
    = f.label :gender_other, "Other"

    / #### ADDRESS FIELD STARTS HERE ####
    .fields
      = f.fields_for :address, OpenStruct.new(f.object.address || {}) do |a|
        Street address
        = a.text_field :street_address, id: :street_address
        %label City
        = a.text_field :city, id: :city
        %label State
        = a .text_field :state, id: :state
        %label Zip
        = a.text_field :zip, id: :zip
    / #### ADDRESS FIELD ENDS HERE ####
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success"
