-# frozen_string_literal: true
= simple_form_for(@client) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :last_name, autofocus: true
    = f.input :first_name
    = f.input :phone_number
    = f.input :email
    %p
    %button.btn.btn-primary{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
      .fa.fa-cog
      More options
    #accordion.collapse
      %p
      = f.label :'Date of birth'
      = f.date_field :date_of_birth, value: @client.date_of_birth || nil, class: "form-control"
      %p
      = f.label :'gender'
      %br
      /= f.input :gender
      = f.radio_button :gender, 'undisclosed'
      = f.label :gender_male, "Undisclosed"
      = f.radio_button :gender, 'female'
      = f.label :gender_female, "Female"
      = f.radio_button :gender, 'male'
      = f.label :gender_male, "Male"
      = f.radio_button :gender, 'other'
      = f.label :gender_male, "Other"
      = f.input :middle_name
      = f.input :address
      = f.input :status, :as => :radio_buttons, :collection => Client.statuses.keys.to_a, label:false
      - unless f.object.new_record?
        = f.label :employee
        = f.select :employee_id, Employee.all.map{|c| [c.full_name, c.id]}, {include_blank: Employee.all.length > 1}, class: 'selectize'

    %p
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'

