/ Button trigger modal EVENT
%button.btn.btn-info.btn-sm{"data-target" => "#exampleModalCenterEVENT", "data-toggle" => "modal", :type => "button"}
  .fa.fa-calendar-plus
  #{t('sidebar.new_event')}
/ Modal
#exampleModalCenterEVENT.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLongTitle.modal-title #{t('sidebar.new_event')}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = simple_form_for Event.new do |f|
        .modal-body
          - set_var 'locale', Tenant.current_tenant.locale
          .form-inputs
            = f.input :client_id, input_html: {value: @client.id}, as: :hidden
            = f.text_field :starts_at, id: 'datetimepicker', :value => (f.object.starts_at.blank? ? '' : f.object.starts_at.strftime('%d/%m/%Y %H:%M')), hidden: true
            = f.label :location_id
            = f.error :location, class: 'text-danger'
            = f.select :location_id, Location.all.map{|c| [c.name, c.id]}, {include_blank: Location.all.length > 1}, class: 'selectize'
            .table-responsive
              %table.table-sm
                %thead
                  %tr
                    %th= t('service')
                    %th= t('member')
                    %th
                %tbody.jobs
                  = f.simple_fields_for :jobs do |f|
                    = render 'job_fields', f: f
              .links
                = link_to_add_association t('events.form.add_service'), f, :jobs, data: {"association-insertion-node" => "tbody.jobs", "association-insertion-method" => "append"}, class: 'btn btn-primary'
            = f.input :notes
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          = f.button :submit, class: "btn btn-success"
