- model_class = Client
.card-header
  .row
    .col-md-6
      = link_to debtors_clients_path, class: 'badge badge-info' do
        %i.fa.fa-hand-holding-usd
        #{t('clients_debtors')} #{content_tag :span, Client.debtors.count, class: 'badge badge-danger'} 
      .row
      = link_to clients_path(clients_search: {created_at_gteq: Time.zone.now.beginning_of_day}), class: 'badge badge-info' do
        %i.fa.fa-clock
        #{t('created_today')} #{content_tag :span, Client.where("created_at >= ?", Time.zone.now.beginning_of_day).count, class: 'badge badge-danger'} 
      .row
      = link_to no_gender_clients_path, class: 'badge badge-info' do
        %i.fa.fa-question
        #{t('clients_no_gender')} #{content_tag :span, Client.no_gender.count, class: 'badge badge-danger'} 
      .row
      = link_to no_events_clients_path, class: 'badge badge-info' do
        %i.far.fa-calendar-times
        #{t('clients_no_events')} #{content_tag :span, Client.no_events.count, class: 'badge badge-danger'} 
      .row
      = link_to bday_today_clients_path, class: 'badge badge-info' do
        %i.fa.fa-birthday-cake
        #{t('clients_bday_today')} #{content_tag :span, Client.bday_today.count, class: 'badge badge-danger'} 
    .col-md-6
      - Tag.all.each do |tag|
        = link_to clients_path(clients_search: {client_tags_tag_name_cont: tag.name}), class: 'badge badge-info' do 
          = I18n.t(tag.name, scope: [:activerecord, :attributes, :client, :tags])
          .badge.badge-danger
            = tag.client_tags_count
        .row
      .row
      = link_to untagged_clients_path, class: 'badge badge-info' do
        = t('clients_untagged')
        .badge.badge-danger
          = Client.untagged.count
