
%p
  %b Responsible:
  = @client.person
%p
  %b Created by:
  = @client.employee
%p
  %b Balance:
  = number_to_currency(@client.balance_cents, :unit => "$")

%p
  %b Status:
  = status_label(@client.status)

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path

= render "comments/index"
= render "comments/form"


= render 'jobs/index'