.row
  .col-lg-4
    .card
      .card-header
        %b Client:
        = @client.full_name
        .float-right
          = link_to '', edit_client_path(@client), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@client).edit?
      .card-body
        .text-center
          .fa.fa-user.fa-4x
        %b Phone number:
        = link_to "tel:#{@client.phone_number}", class: "button" do
          #{@client.phone_number}
        /%a{:href => "viber://chat?number=#{@client.phone_number}"}
        /  Viber
        %br
        %b Email:
        %a{:href => "mailto:#{@client.email}"}= @client.email
        %br
        %b Date of birth:
        - if @client.date_of_birth.present?
          = @client.date_of_birth.strftime('%d/%b/%Y') 
          (#{@client.age})
        %br
        %b Gender:
        = @client.gender
        %br
        %b Address:
        = @client.address
        %hr
        %b Balance, #{Tenant.current_tenant.default_currency.upcase}:
        = @client.balance_cents
        /%br
        /%b Status:
        /= status_label(@client.status)
    %p
    .card
      .card-header
        %b Comments:
        = @client.comments_count
      .card-body
        = render "comments/form"
        = render "comments/index"
    %p
  .col-lg-8
    .card
      .card-header
        %b Calendar
      .card-body
        = render 'home/calendar'
    %p
    .card
      .card-header
        %b Appointments:
        = @client.appointments_count
      = render 'appointments/index'
