%p
  %b First name:
  = @client.first_name
%p
  %b Middle name:
  = @client.middle_name
%p
  %b Last name:
  = @client.last_name
%p
  %b Date of birth:
  = @client.date_of_birth.strftime('%d/%b/%Y') if @client.date_of_birth?
%p
  %b Sex:
  = @client.sex
%p
  %b Email:
  = @client.email
%p
  %b Phone number:
  = @client.phone_number
%p
  %b Address:
  = @client.address
%p
  %b Description:
  = @client.description
%p
  %b Status:
  = status_label(@client.status)
%p
  %b Balance:
  = number_to_currency(@client.balance_cents, :unit => "$")

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path

= render "comments/index"
= render "comments/form"


= render 'jobs/index'