- model_class = Client
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-user
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_client_path(@client), class: "btn btn-warning fa fa-edit btn-sm" if policy(@client).edit?
      .card-body
        %b= model_class.human_attribute_name(:full_name) + ':'
        = @client.full_name
        %br
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = link_to "tel:#{@client.phone_number}", class: "button" do
          #{@client.phone_number}
        /%a{:href => "viber://chat?number=#{@client.phone_number}"}
        /  Viber
        %br
        %b= model_class.human_attribute_name(:email) + ':'
        %a{:href => "mailto:#{@client.email}"}= @client.email
        %br
        %b= model_class.human_attribute_name(:date_of_birth) + ':'
        - if @client.date_of_birth.present?
          = @client.date_of_birth.strftime('%d/%b/%Y') 
          (#{@client.age})
        %br
        %b= model_class.human_attribute_name(:gender) + ':'
        = @client.gender
        %br
        %b= model_class.human_attribute_name(:address) + ':'
        - if @client.address?
          /= @client.address
          /#{@client.address[:street_address]}, #{@client.address[:city]}, #{@client.address[:state]}, #{@client.address[:zip]}
          = @client.address[:country]
          = @client.address[:city]
          = @client.address[:street_address]
          = @client.address[:zip]
        
        /= link_to @client.address, "https://www.google.com/maps/search/?api=1&query=760+West+Genesee+Street+Syracuse+NY+13204", :target => '_blank'
        %hr
        %b= model_class.human_attribute_name(:balance) + ':'
        = number_to_currency(@client.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        /%br
        /%b Status:
        /= status_label(@client.status)
        %hr
        %b= model_class.human_attribute_name(:comments) + ':'
        = @client.comments_count
        = render "comments/form"
        = render "comments/index"
    %p
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#first-tab.nav-link.active{"aria-controls" => "first", "aria-selected" => "true", "data-toggle" => "tab", :href => "#first", :role => "tab"}
          .fa.fa-caret-down
          = t("sidebar.events") + ':'
          = @client.events_count
      %li.nav-item
        %a#second-tab.nav-link{"aria-controls" => "second", "aria-selected" => "false", "data-toggle" => "tab", :href => "#second", :role => "tab"}
          .fa.fa-caret-down
          = t("sidebar.inbound_payments") + ':'
          = @client.inbound_payments.count
      %li.nav-item
        %a#third-tab.nav-link{"aria-controls" => "third", "aria-selected" => "false", "data-toggle" => "tab", :href => "#third", :role => "tab"}
          .fa.fa-chart-line
          = t("sidebar.stats")
    #myTabContent.tab-content
      #first.tab-pane.fade.show.active{"aria-labelledby" => "first-tab", :role => "tabpanel"}
        = render 'events/index'
      #second.tab-pane.fade{"aria-labelledby" => "second-tab", :role => "tabpanel"}
        = render 'inbound_payments/index'
      #third.tab-pane.fade{"aria-labelledby" => "third-tab", :role => "tabpanel"}
        .card
          .card-body
            .text-center Event quantity per month
            = column_chart @client.events.group_by_month(:starts_at).count, download: true
            %hr
            .text-center Payment sum per month
            = column_chart @client.inbound_payments.group_by_month(:created_at).sum('amount/100'), prefix: "#{Tenant.current_tenant.default_currency.upcase} ", download: true
            %hr
            .text-center Event Statuses
            = pie_chart @client.events.group(:status).count, download: true
            %hr
            .text-center Favorite Services
            = pie_chart @client.services.group('name').count, download: true
