- set_var 'locale', Tenant.current_tenant.locale
- set_var 'events', @events.map{|e| {title: e.client.full_name.to_s + " (" + e.jobs.collect{|r| r.service.name}.join(",").to_s+")", start: e.starts_at, end: e.ends_at, url: event_path(e), color: e.status_color}}
- model_class = Client
.row
  .col-lg-4
    .card
      .card-header
        .far.fa-address-book
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to "", client_path(@client, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank
          = link_to '', edit_client_path(@client), class: "btn btn-warning fa fa-edit btn-sm" if policy(@client).edit?
          = link_to '', @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@client).destroy?
      .card-header
        /.text-center #also pulls the modal content
        = render 'clients/new_event'
        = render 'clients/new_payment'
      .card-body
        - if @client.avatar.attached?
          .text-center
            = image_tag @client.avatar, width: "200px", class: "mx-auto d-inline align-top rounded"
        .row
        %b= model_class.human_attribute_name(:full_name) + ':'
        = @client.full_name
        .row
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = link_to "tel:#{@client.phone_number}", class: "button" do
          #{number_to_phone(@client.phone_number)}
        /%a{:href => "viber://chat?number=#{@client.phone_number}"}
        /  Viber
        .row
        %b= model_class.human_attribute_name(:email) + ':'
        %a{:href => "mailto:#{@client.email}"}= @client.email
        .row
        %b= model_class.human_attribute_name(:date_of_birth) + ':'
        - if @client.date_of_birth.present?
          = @client.date_of_birth.strftime('%d/%b/%Y') 
          (#{@client.age})
        .row
        %b= model_class.human_attribute_name(:gender) + ':'
        - if @client.gender == "female"
          .fa.fa-female
        - elsif @client.gender == "male"
          .fa.fa-male
        - else
          .fa.fa-question
        /= @client.gender
        .row
        %b= model_class.human_attribute_name(:address) + ':'
        = @client.address_line
        .row
        %b= model_class.human_attribute_name(:lead_source) + ':'
        = I18n.t(@client.lead_source, scope: [:activerecord, :attributes, :client, :lead_sources])
        .row
        .fa.fa-clock
        %b= model_class.human_attribute_name(:created_at) + ':'
        #{l(@client.created_at, format: "%a")} #{l(@client.created_at, format: "%d/%b/%Y %H:%M")}
        %hr
        .fa.fa-calendar-check
        %b= model_class.human_attribute_name(:jobs_amount_sum) + ':'
        = number_to_currency(@client.jobs_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        (#{@client.events_count})
        .row
        .fa.fa-hand-holding-usd
        %b= model_class.human_attribute_name(:payments_amount_sum) + ':'
        = number_to_currency(@client.payments_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        (#{@client.inbound_payments_count})
        .row
        .fa.fa-balance-scale
        %b= model_class.human_attribute_name(:balance) + ':'
        = number_to_currency(@client.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        .row
        %b= model_class.human_attribute_name(:last_event) + ':'
        - if @client.last_event.present?
          = distance_of_time_in_words(Time.now, @client.last_event)
        .row
        %b= model_class.human_attribute_name(:next_event) + ':'
        - if @client.next_event.present?
          = distance_of_time_in_words(Time.now, @client.next_event) 
        /%br
        /%b Status:
        /= status_label(@client.status)
        %hr
        %b= model_class.human_attribute_name(:comments) + ':'
        = @client.comments_count
        = render "comments/form"
        = render "comments/index"
        %hr
        %small
          %b= model_class.human_attribute_name(:personal_data_consent) + ':'
          - if @client.personal_data_consent
            .fa.fa-check
          - else
            .fa.fa-times
          %br
          %b= model_class.human_attribute_name(:event_created_notifications) + ':'
          - if @client.event_created_notifications
            .fa.fa-check
          - else
            .fa.fa-times
          %br
          %b= model_class.human_attribute_name(:marketing_notifications) + ':'
          - if @client.marketing_notifications
            .fa.fa-check
          - else
            .fa.fa-times
    %p
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      /%li.nav-item
      /  %a#zero-tab.nav-link.active{"aria-controls" => "zero", "aria-selected" => "true", "data-toggle" => "tab", :href => "#zero", :role => "tab"}
      /    .fa.fa-calendar-alt
      /    = t('sidebar.calendar')
      %li.nav-item
        %a#first-tab.nav-link.active{"aria-controls" => "first", "aria-selected" => "true", "data-toggle" => "tab", :href => "#first", :role => "tab"}
          .fa.fa-caret-down
          = t("sidebar.events") + ':'
          = @client.events_count
      %li.nav-item
        %a#second-tab.nav-link{"aria-controls" => "second", "aria-selected" => "false", "data-toggle" => "tab", :href => "#second", :role => "tab"}
          .fa.fa-caret-down
          = t("sidebar.inbound_payments") + ':'
          = @client.inbound_payments.count
      %li.nav-item
        %a#third-tab.nav-link{"aria-controls" => "third", "aria-selected" => "false", "data-toggle" => "tab", :href => "#third", :role => "tab"}
          .fa.fa-chart-line
          = t("sidebar.stats")
    #myTabContent.tab-content
      /#zero.tab-pane.fade.show.active{"aria-labelledby" => "zero-tab", :role => "tabpanel"}
      /  %br
      /  #event_calendar
      /#first.tab-pane.fade.show{"aria-labelledby" => "first-tab", :role => "tabpanel"}
      /  = render 'events/index'
      #first.tab-pane.fade.show.active{"aria-labelledby" => "first-tab", :role => "tabpanel"}
        = render 'events/index'
      #second.tab-pane.fade{"aria-labelledby" => "second-tab", :role => "tabpanel"}
        = render 'inbound_payments/index'
      #third.tab-pane.fade{"aria-labelledby" => "third-tab", :role => "tabpanel"}
        .card
          .card-body
            .text-center 
              = t('.event_quantity_per_month')
            = column_chart @client.events.group_by_month(:starts_at).count, download: true
            %hr
            .text-center 
              = t('.payment_sum_per_month')
            = column_chart @client.inbound_payments.group_by_month(:created_at).sum('amount/100'), prefix: "#{Tenant.current_tenant.default_currency.upcase} ", download: true
            %hr
            .text-center 
              = t('.event_statuses')
            = pie_chart @client.events.group(:status).count, download: true
            %hr
            .text-center 
              = t('.favorite_services')
            = pie_chart @client.services.group('name').count, download: true
