%p
.row
  .col-lg-4
    .card
      .card-header
        %b Personal
      .card-body
        %b Name:
        = @client.full_name
        %br
        %b Phone number:
        = link_to "tel:#{@client.phone_number}", class: "button" do
          #{@client.phone_number}
        /%a{:href => "viber://chat?number=#{@client.phone_number}"}
        /  Viber
        %br
        %b Email:
        %a{:href => "mailto:#{@client.email}"}= @client.email
        %br
        %b Date of birth:
        - if @client.date_of_birth.present?
          = @client.date_of_birth.strftime('%d/%b/%Y') 
          (#{@client.age})
        %br
        %b Sex:
        = @client.sex
        %br
        %b Address:
        = @client.address
    %p
    .card
      .card-header
        %b Client
        .float-right
          = link_to '', edit_client_path(@client), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@client).edit?
      .card-body
        %b Balance:
        = number_to_currency(@client.balance_cents, :unit => "$")
        %br
        %b Status:
        = status_label(@client.status)
        %br
        %b Responsible:
        = link_to @client.employee, employee_path(@client.employee)
    %p
    .card
      .card-header
        %b Comments:
        = @client.comments_count
      .card-body
        = render "comments/form"
        = render "comments/index"
  .col-lg-8
    .card
      .card-header
        %b Calendar
      .card-body
        = render 'static_pages/calendar'
    %p
    .card
      .card-header
        %b Jobs:
        = @client.jobs_count
      = render 'jobs/index'
