-# frozen_string_literal: true
= simple_form_for(@lead, method: :post, url: create_lead_path) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :phone_number
    = f.input :email
    = f.input :comment
  %hr
  .form-actions
    = f.button :submit, class: 'btn btn-success'
