- model_class = Lead
.card
  .card-header
    .row
      .col-md-4
        %h5.float-left
          .fa.fa-globe-africa
          %b= t('sidebar.online_booking')
          .badge.badge-info
            = @leads.count
      - if Tenant.current_tenant.online_booking
        .col-md-4
          / COPY TO CLIPBOARD WITH JAVASCRIPT
          %input#myInput{:readonly => "readonly", :type => "text", :value => "xlplan.com/booking/#{Tenant.current_tenant.id}"}
          / The button used to copy the text
          %button{:onclick => "myFunction()"}
            .fa.fa-copy
          :javascript
            function myFunction() {
              var copyText = document.getElementById("myInput");
              copyText.select(); 
              copyText.setSelectionRange(0, 99999); /*For mobile devices*/
              document.execCommand("copy");
            }
        .col-md-4
          .float-right
            = link_to t('sidebar.public_page'), booking_path(Tenant.current_tenant), class: 'btn btn-success btn-sm'
      - else
        .col-md-8
          .float-right
            = link_to edit_tenant_path, class: 'btn btn-secondary btn-sm' do 
              .fa.fa-toggle-off
              = t('sidebar.online_booking')
.table-responsive
  %table#table1
    %thead
      %tr
        %th= model_class.human_attribute_name(:first_name)
        %th= model_class.human_attribute_name(:last_name)
        %th= model_class.human_attribute_name(:phone_number)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:comment)
        %th= model_class.human_attribute_name(:location)
        %th= model_class.human_attribute_name(:member)
        %th= model_class.human_attribute_name(:service)
        %th= model_class.human_attribute_name(:created_at)
        /%th= model_class.human_attribute_name(:updated_at)
        /%th Tenant
        /%th Tenant ID
        /%th
        /%th
        %th
    %tbody
      - @leads.each do |lead|
        %tr
          %td= lead.first_name
          %td= lead.last_name
          %td= lead.phone_number
          %td= lead.email
          %td= lead.comment
          %td
            = link_to lead.location, location_path(lead.location) if lead.location.present?
          %td
            = link_to lead.member, member_path(lead.member) if lead.member.present?
          %td
            = link_to lead.service, service_path(lead.service) if lead.service.present?
          %td= lead.created_at
          /%td= lead.updated_at
          /%td= lead.tenant.name
          /%td= lead.tenant.id
          /%td= link_to 'Show', lead
          /%td= link_to 'Edit', edit_lead_path(lead)
          %td
            = link_to '', lead, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(lead).destroy?
%br