- model_class = Lead
.table-responsive
  %table#table1
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:first_name)
        %th= model_class.human_attribute_name(:phone_number)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:comment)
        %th= model_class.human_attribute_name(:location)
        %th= model_class.human_attribute_name(:member)
        %th= model_class.human_attribute_name(:service)
        %th= model_class.human_attribute_name(:starts_at)
        %th= model_class.human_attribute_name(:created_at)
        /%th= model_class.human_attribute_name(:updated_at)
        /%th IP-address
        /%th Source
        %th= model_class.human_attribute_name(:coupon)
        %th= model_class.human_attribute_name(:status)
        /%th
        /%th
    %tbody
      - @leads.each do |lead|
        %tr
          %td
            .btn-group
              = link_to '', lead, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(lead).destroy?
              - unless lead.client.present?
                = link_to t('contacts.index.create_client'), create_client_from_lead_lead_path(lead.id), method: :patch, class: 'btn btn-sm btn-primary'
          %td
            - if lead.client.present?
              = link_to lead.client.full_name, client_path(lead.client)
            - else
              = lead.full_name
          %td
            /.fa.fa-phone
            = link_to "tel:#{lead.phone_number}", class: "button" do
              #{number_to_phone(lead.phone_number)}
          %td
            - if lead.email.present? 
              /.fa.fa-envelope
              %a{:href => "mailto:#{lead.email}"}= lead.email
          %td= lead.comment
          %td
            = link_to lead.location, location_path(lead.location) if lead.location.present?
          %td
            = link_to lead.member, member_path(lead.member) if lead.member.present?
          %td
            = link_to lead.service, service_path(lead.service) if lead.service.present?
          %td
            - if lead.starts_at.present?
              = lead.starts_at.strftime('%d/%m/%Y %H:%M')
          %td= lead.created_at.strftime('%d/%m/%Y %H:%M')
          /%td= lead.updated_at
          /%td
          /  %small= lead.ip_address
          /%td
          /  %small= lead.referer
          %td= lead.coupon
          %td= lead.status
