User types:
Admin
Manager
Specialist
Client
Viewer
Owner

%table.table.table-bordered
  %thead
    %tr
      %th 
      %th Index
      %th Show
      %th Create
      %th Edit
      %th Delete
  %tbody
    %tr
      %th{:scope => "row"} Jobs
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Clients
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Employees
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Services
      %td #{'anybody'.humanize}
      %td #{'admin_or_manager'.humanize}
      %td #{'admin_or_manager'.humanize}
      %td #{'admin_or_manager'.humanize}
      %td #{'admin_or_manager'.humanize}
  %tbody
    %tr
      %th{:scope => "row"} Locations
      %td #{'anybody'.humanize}
      %td #{'admin'.humanize}
      %td #{'admin'.humanize}
      %td #{'admin'.humanize}
      %td #{'admin'.humanize}
  %tbody
    %tr
      %th{:scope => "row"} Service_categories
      %td #{'anybody'.humanize}
      %td N/A
      %td #{'admin_or_manager'.humanize}
      %td #{'admin'.humanize}
      %td #{'admin'.humanize}
  %tbody
    %tr
      %th{:scope => "row"} User_roles
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Activity
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Stats
      %td
      %td
      %td
      %td
      %td
  %tbody
    %tr
      %th{:scope => "row"} Role_description
      %td
      %td
      %td
      %td
      %td
%br