-# frozen_string_literal: true
= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :starts_at, :minute_step => 15, start_year: Date.today.year

    = f.label :client
    = f.error :client, class: 'text-danger'
    = f.select :client_id, Client.all.map{|c| [c.full_name, c.id]}, {include_blank: Client.all.length > 1}, class: 'selectize'

    = f.label :location
    = f.error :location, class: 'text-danger'
    = f.select :location_id, Location.active.map{|c| [c.name, c.id]}, {include_blank: Location.all.length > 1}, class: 'selectize'

    /= f.input :status, :as => :radio_buttons, :collection => Appointment.statuses.keys.to_a

    %h3 Services
    /#jobs
    /  = f.simple_fields_for :jobs do |job|
    /    = render 'job_fields', f: job
    /  .links
    /    = link_to_add_association '+ Add Job', f, :jobs, class: 'btn btn-secondary'
    /%p

    %table.table
      %thead
        %tr
          %th Service
          %th Member
          %th
      %tbody.jobs
        = f.simple_fields_for :jobs do |f|
          = render 'job_fields', f: f
    .links
      = link_to_add_association "+ Add Service", f, :jobs, data: {"association-insertion-node" => "tbody.jobs", "association-insertion-method" => "append"}, class: 'btn btn-primary'
    %p
    = f.input :notes

    %hr

  .form-actions
    = f.button :submit, class: 'btn btn-success'
