-# frozen_string_literal: true
- set_var 'locale', Tenant.current_tenant.locale

/= simple_form_for @event, remote: true do |f|
= simple_form_for @event do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.text_field :starts_at, id: 'datetimepicker', :value => (f.object.starts_at.blank? ? '' : f.object.starts_at.strftime('%d/%m/%Y %H:%M')), hidden: true
    .row
    - unless @client.present?
      = f.label :client
      = f.error :client, class: 'text-danger'
      = f.select :client_id, @clients.map{|c| [c.full_name, c.id]}, {include_blank: true}, class: 'selectize'
    - else
      = f.input :client_id, input_html: {value: @client.id}, as: :hidden

    /= f.association :location, collection: f.object.location_id ? Location.active_or_id(f.object.location_id) : Location.active, :include_blank => false, as: :radio_buttons, checked: Location.first.id
    = f.association :workplace, collection: Workplace.order(:location_id), label_method: :short_name, selected: Workplace.first.id
    /= f.association :workplace, as: :radio_buttons, collection: Workplace.order(:location_id), label_method: :short_name, checked: Workplace.first.id

    .jobs
      = f.simple_fields_for :jobs do |job|
        = render 'events/job_fields', f: job
      .links
        = link_to_add_association t('.add_service'), f, :jobs, class: 'btn btn-primary', :partial => 'events/job_fields'
    = f.input :notes, :input_html => {:rows => 5}

    = f.file_field :files, multiple: true
    - if @event.files.any?
      - @event.files.each do |file|
        .row
        = file.filename
    %hr
  .form-actions
    = f.button :submit
    /= link_to 'Delete', event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, remote: true unless @event.new_record?
