- @events.each do |event|
  .card
    .card-header.bg-light
      .row
        .col-lg-2
          .text-center
            = link_to status_label(event.status), event
            .row
            = number_to_currency(event.client_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            .row
            = link_to '', event, class: "btn btn-primary fa fa-eye btn-sm" if policy(event).show?
            = link_to '', edit_event_path(event), class: "btn btn-warning fa fa-edit btn-sm" if policy(event).update?
            = link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(event).destroy?
        .col-lg-4
          .fa.fa-user
          = link_to event.client, client_path(event.client)
          .row
          .fa.fa-map-marker-alt
          = link_to event.location, location_path(event.location)
          .row
          .fa.fa-clock
          #{l(event.starts_at, format: "%a")} #{l(event.starts_at, format: "%d/%b/%Y %H:%M")} -  #{l(event.ends_at, format: "%H:%M")} (#{event.duration} min)
        .col-lg-6
          .table-responsive
            - event.jobs.each do |job|
              .row
              .badge.badge-secondary
                = link_to job.service.full_name_with_price, service_path(job.service), class: 'text-white'
                \/
                = link_to job.member, member_path(job.member), class: 'text-white'
            .row
            = event.notes
