- model_class = Event
.table-responsive
  %table#table1
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:client_id)
        %th= model_class.human_attribute_name(:location_id)
        %th= model_class.human_attribute_name(:time)
        %th= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:services)
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to '', event, class: "btn btn-primary fa fa-eye btn-sm" if policy(event).show?
          %td= link_to event.client, client_path(event.client)
          %td= link_to event.location, location_path(event.location)
          %td
            #{l(event.starts_at, format: "%A")} #{l(event.starts_at, format: "%d/%b/%Y %H:%M")} -  #{l(event.ends_at, format: "%H:%M")} (#{event.duration} min)
            /#{event.starts_at.strftime("%A")} #{event.starts_at.strftime('%d/%b/%Y %H:%M')} - #{event.ends_at.strftime('%H:%M')} (#{event.duration} min)
          %td
            = status_label(event.status)
            .row
            = number_to_currency(event.client_price_cents, :unit => "#{Tenant.current_tenant.default_currency.upcase} ")
          %td
            - event.jobs.each do |job|
              .row
              .badge.badge-secondary
                = link_to job.service.full_name_with_price, service_path(job.service), class: 'text-white'
                \/
                = link_to job.member, member_path(job.member), class: 'text-white'
            .row
            = truncate(event.notes, length: 25)
%br
