- @events.each do |event|
  .card
    .card-header.bg-light
      .row
        .col-lg-3
          .text-center
            - if policy(event).edit?
              .dropdown.show
                %a#dropdownMenuLink.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = status_label(event.status)
                .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                  .btn-group-vertical
                    - unless event.planned?
                      = link_to t('events.show.planned'), mark_planned_event_path(event), method: :patch, class: 'btn btn-sm btn-primary mr-sm-2 btn-block'
                    - unless event.confirmed?
                      = link_to t('events.show.confirmed'), mark_confirmed_event_path(event), method: :patch, class: 'btn btn-sm btn-success mr-sm-2 btn-block'
                    - unless event.no_show?
                      = link_to t('events.show.no_show'), mark_no_show_event_path(event), method: :patch, class: 'btn btn-sm btn-danger mr-sm-2 btn-block'
                    - unless event.member_cancelled?
                      = link_to t('events.show.member_cancelled'), mark_member_cancelled_event_path(event), method: :patch, class: 'btn btn-sm btn-danger mr-sm-2 btn-block'
                    - unless event.client_cancelled?
                      = link_to t('events.show.client_cancelled'), mark_client_cancelled_event_path(event), method: :patch, class: 'btn btn-sm btn-danger mr-sm-2 btn-block'
                    - unless event.no_show_refunded?
                      = link_to t('events.show.no_show_refunded'), mark_no_show_refunded_event_path(event), method: :patch, class: 'btn btn-sm btn-success mr-sm-2 btn-block'
            - else
              = status_label(event.status)
            .row
            - if event.planned?
              %b= number_to_currency(event.event_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            - else
              %b= number_to_currency(event.event_due_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            .row
            = link_to '', event, class: "btn btn-primary fa fa-eye btn-sm" if policy(event).show?
            = link_to '', edit_event_path(event), class: "btn btn-warning fa fa-edit btn-sm" if policy(event).edit?
            = link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(event).destroy?
        .col-lg-4
          .fa.fa-users
          = link_to event.client.full_name, client_path(event.client)
          .row
          - if event.client.phone_number.present? && policy(Client).show_phone?
            .row
            .fa.fa-phone
            = link_to "tel:#{event.client.phone_number}", class: "button" do
              #{number_to_phone(event.client.phone_number)}
            = link_to "viber://chat?number=#{event.client.phone_number}", class: "button" do
              .fab.fa-viber
          %hr
          .fa.fa-map-marker-alt
          = link_to event.workplace, workplace_path(event.workplace)
          .row
          .fa.fa-clock
          #{l(event.starts_at, format: "%a %d/%b/%Y %H:%M")} - #{l(event.ends_at, format: "%H:%M")} (#{event.duration} min)
        .col-lg-5
          .table-responsive
            - event.jobs.each do |job|
              .row
              %small
                .border.border-info.rounded
                  .mr.ml-1.fa.fa-hand-paper
                  = link_to job.service.full_name_with_price, service_path(job.service), class: 'text-dark'
                  .row
                  .mr.ml-1.fa.fa-user-tie
                  = link_to job.member.short_name, member_path(job.member), class: 'text-dark'
              .mr.mb-1
            - if event.files.any?
              .row
              .fa.fa-paperclip
              = event.files.count
            .row
            %small= simple_format(event.notes)
