- @events.each do |event|
  .card
    .card-header
      .row
        .col-md-2
          .text-center
            = link_to event.slug, event
            - if policy(event).edit?
              .dropdown
                %button#dropdownMenuLink.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = status_label(event.status)
                .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                  - unless event.planned?
                    = link_to mark_planned_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-primary.btn-block
                        = t('events.show.planned')
                  - unless event.confirmed?
                    = link_to mark_confirmed_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-success.btn-block
                        = t('events.show.confirmed')
                  - unless event.no_show?
                    = link_to mark_no_show_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-danger.btn-block
                        = t('events.show.no_show')
                  - unless event.member_cancelled?
                    = link_to mark_member_cancelled_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-danger.btn-block
                        = t('events.show.member_cancelled')
                  - unless event.client_cancelled?
                    = link_to mark_client_cancelled_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-danger.btn-block
                        = t('events.show.client_cancelled')
                  - unless event.no_show_refunded?
                    = link_to mark_no_show_refunded_event_path(event), method: :patch, class: 'dropdown-item' do
                      .btn.btn-sm.btn-success.btn-block
                        = t('events.show.no_show_refunded')
            - else
              = status_label(event.status)
            .row
            - if event.planned?
              %b= number_to_currency(event.event_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            - else
              %b= number_to_currency(event.event_due_price_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            .row
            .btn-group
              - if policy(event).edit?
                = link_to edit_event_path(event), class: "btn btn-warning btn-sm" do
                  .fa.fa-edit
              - if policy(event).destroy?
                = link_to event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do
                  .fa.fa-trash
        .col-md-3
          .far.fa-address-book
          = link_to event.client.full_name, client_path(event.client)
          .row
          - if event.client.phone_number.present?
            .row
            .fa.fa-phone
            = tel_to event.client.phone_number
            = link_to "viber://chat?number=#{event.client.phone_number}" do
              .fab.fa-viber
        .col-md-3
          .fa.fa-map-marker-alt
          = link_to event.workplace, workplace_path(event.workplace)
          .row
          .far.fa-clock
          #{l(event.starts_at, format: "%a %d/%b/%Y %H:%M")} - #{l(event.ends_at, format: "%H:%M")} (#{event.duration} min)
        .col-md-4
          %small
            %ul.list-group
              - event.jobs.each do |job|
                %li.list-group-item.justify-content-between.align-items-center
                  .fa.fa-hand-paper
                  = link_to job.service.full_name_with_price, service_path(job.service), class: 'text-dark'
                  .row
                  .fa.fa-user
                  = link_to job.member.short_name, member_path(job.member), class: 'text-dark'
                  /%span.badge.badge-primary.badge-pill 14
            - if event.files.any?
              .row
              .fa.fa-paperclip
              = event.files.count
            .row
            %small= simple_format(event.notes)
