/%tr.nested-fields
/  /%td
/  /  = f.label :service_id
/  %td
/    = f.error :service, class: 'text-danger'
/    /= f.select :service_id, Service.all.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize'
/    /= f.select :service_id, Service.all.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize', style: 'width: 300px'
/    = f.select :service_id, Service.active_or_id(f.object.service_id).map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize', style: 'width: 300px'
/  %td
/    = f.error :member, class: 'text-danger'
/    /= f.select :member_id, Member.all.map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize', style: 'width: 300px'
/    = f.select :member_id, Member.active_or_id(f.object.member_id).map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize', style: 'width: 300px'
/  %td
/    = link_to_remove_association "", f, class: 'btn fa fa-trash btn-sm btn-secondary'

.nested-fields
  .card.border.border-primary.rounded
    .card-header
      = f.label :service_id
      = f.error :service_id, class: 'text-danger'
      = f.select :service_id, @services.active_or_id(f.object.service_id).map{|c| [c.full_name_with_price, c.id]}, {include_blank: true}, class: 'selectize'
      /MAKE SERVICE ACTIVE OR ID
      /= f.association :service,   as: :check_boxes
      /= f.input :service_id, collection: ServiceCategory.all, as: :grouped_select, group_method: :services, label_method: :name_price_duration_description, class: 'selectize'
      /= f.label :member
      /= f.error :member, class: 'text-danger'
      /= f.association :member, include_blank: false, as: :radio_buttons, selected: Member.first.id
      /= f.association :member, selected: current_user.member.id
      - if f.object.new_record?
        = f.association :member, collection: Member.active_or_id(f.object.member_id), selected: current_user.member.id
      - else
        = f.association :member, collection: Member.active_or_id(f.object.member_id)
      /, :value => current_user.category_country.name, :selected => current_user.category_country_id
      /= f.select :member_id, Member.active_or_id(f.object.member_id).map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize'
      .row
        .col-6
          = f.input :add_amount_cents
        .col-6
          = f.input :production_cost_cents
      .text-right
        = link_to_remove_association "", f, class: 'btn fa fa-trash btn-sm btn-danger'
  %p