/%tr.nested-fields
/  /%td
/  /  = f.label :service_id
/  %td
/    = f.error :service, class: 'text-danger'
/    /= f.select :service_id, Service.all.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize'
/    /= f.select :service_id, Service.all.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize', style: 'width: 300px'
/    = f.select :service_id, Service.active_or_id(f.object.service_id).map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize', style: 'width: 300px'
/  %td
/    = f.error :member, class: 'text-danger'
/    /= f.select :member_id, Member.all.map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize', style: 'width: 300px'
/    = f.select :member_id, Member.active_or_id(f.object.member_id).map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize', style: 'width: 300px'
/  %td
/    = link_to_remove_association "", f, class: 'btn fa fa-trash btn-xs btn-secondary'


.nested-fields
  .card-body.border.border-primary.rounded
    = f.label :service
    = f.error :service, class: 'text-danger'
    = f.select :service_id, Service.active_or_id(f.object.service_id).map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize'
    /= f.input :service_id, collection: ServiceCategory.all, as: :grouped_select, group_method: :services, class: 'selectize'
    /= f.input :country_id, collection: @continents, as: :grouped_select, group_method: :countries
    /= f.grouped_collection_select :service_id, ServiceCategory.all, :services, :name, :id, :name, class: 'form-control'
    /= f.grouped_collection_select(:service, :service_id, ServiceCategory.all, :services, :name, :id, :name)
    /= f.select :service_id, grouped_options_for_select(ServiceCategory.all)

    = f.label :member
    = f.error :member, class: 'text-danger'
    = f.select :member_id, Member.active_or_id(f.object.member_id).map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize'
    .text-right
      = link_to_remove_association "", f, class: 'btn fa fa-trash btn-xs btn-danger'
  %p