- model_class = Job
.table-responsive
  %table#table1
    %thead
      %tr
        %th
          .fa.fa-hand-paper
        - if action_name == 'member_salary'
          %th.bg-light= model_class.human_attribute_name(:event_id)
          %th.bg-light= model_class.human_attribute_name(:client_id)
          %th.bg-light= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:service_id)
        %th= model_class.human_attribute_name(:member_id)
        %th= model_class.human_attribute_name(:service_duration)
        %th= model_class.human_attribute_name(:client_price)
        %th= model_class.human_attribute_name(:add_amount)
        %th= model_class.human_attribute_name(:production_cost)
        %th= model_class.human_attribute_name(:service_member_percent)
        %th= model_class.human_attribute_name(:member_price)
    %tbody
      - @jobs.each_with_index do |job, index|
        %tr
          %td= index +1
          - if action_name == 'member_salary'
            %td.bg-light= link_to l(job.event.starts_at, format: "%a %d/%b/%Y %H:%M"), event_path(job.event)
            %td.bg-light= link_to job.event.client.full_name, client_path(job.event.client)
            %td.bg-light= status_label(job.event.status)
          %td= link_to job.service.name_and_caregory, service_path(job.service)
          %td= link_to job.member, member_path(job.member)
          %td= job.service_duration
          %td
            %b= job.service_client_price_cents
          %td= job.add_amount_cents
          %td= job.production_cost_cents
          %td= number_to_percentage(job.service_member_percent, precision: 0)
          %td= job.member_due_price_cents
