/ Button trigger modal PAYMENT
%button.btn.btn-info.btn-sm{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"}
  .fa.fa-hand-holding-usd
  #{t('sidebar.new_payment')}
/ Modal
#exampleModalCenter.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLongTitle.modal-title #{t('sidebar.new_payment')}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = simple_form_for @inbound_payment do |f|
        .modal-body
          = f.input :client_id, input_html: {value: @event.client.id}, as: :hidden
          = f.input :payable_id, input_html: {value: @event.id}, as: :hidden
          = f.input :payable_type, input_html: {value: 'Event'}, as: :hidden
          = f.input :amount_cents, input_html: { autocomplete: 'off' }
          = f.input :payment_method, collection: InboundPayment::PAYMENT_METHODS, :include_blank => false
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          = f.button :submit, class: "btn btn-success"
