/- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}
- set_var 'events', @events.map{|e| {title: e.employee.person.to_s  + "/" + e.client.person.to_s, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}
%h1 Listing events

%table
  %thead
    %tr
      %th Client
      %th Starts at
      %th Ends at
      %th Status
      %th Service
      %th Location
      %th Employee
      %th Service name
      %th Service description
      %th Service duration
      %th Client price
      %th Employee price
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.client
        %td= event.starts_at
        %td= event.ends_at
        %td= event.status
        %td= event.service
        %td= event.location
        %td= event.employee
        %td= event.service_name
        %td= event.service_description
        %td= event.service_duration
        %td= event.client_price
        %td= event.employee_price
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path

#calendar
