- model_class = Event
= search_form_for @q, url: @ransack_path do |f|
  .card#pills-background
    .card-header
      .row
        .col-md-3
          %h5
            .fa.fa-calendar-alt
            %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
            /%b= t "#{controller_name}_#{action_name}"
            .badge.badge-info
              = @events.count
        .col-md-6
          .nav
            %li.nav-item{class: "#{'active' if current_page?(events_path)}"}
              = link_to events_path, class: "nav-link" do
                #{t('sidebar.events')} #{content_tag :span, Event.count, class: 'badge badge-info'} 
            %li.nav-item{class: "#{'active' if current_page?(close_events_path)}"}
              = link_to close_events_path, class: "nav-link" do
                #{t('sidebar.close_events')} #{content_tag :span, Event.close.count, class: 'badge badge-danger'} 
            %li.nav-item{class: "#{'active' if current_page?(today_events_path)}"}
              = link_to today_events_path, class: "nav-link" do
                #{t('sidebar.events_today')} #{content_tag :span, Event.today.count, class: 'badge badge-info'} 
            %li.nav-item{class: "#{'active' if current_page?(tomorrow_events_path)}"}
              = link_to tomorrow_events_path, class: "nav-link" do
                #{t('sidebar.events_tomorrow')} #{content_tag :span, Event.tomorrow.count, class: 'badge badge-info'} 
        .col-md-3
          .float-right
            - unless params.has_key?(:q)
              %button.btn.btn-sm.btn-secondary{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
                .fa.fa-search
                .fa.fa-chevron-down
            - else
              = link_to "", @ransack_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
            - if policy(Event).create?
              = link_to t('.new', :default => t("helpers.links.new")), new_event_path, class: 'btn btn-sm btn-primary'
    - if params.has_key?(:q)
      #accordion.collapse.show
        .card-header
          .row
            .col-md-4
              = model_class.human_attribute_name(:client_id)
              = f.select :client_last_name_cont, Client.all.map{|c| [c.full_name, c.last_name]}, {include_blank: Client.all.length > 1}, class: 'selectize'
              = model_class.human_attribute_name(:member)
              = f.select :jobs_member_last_name_cont, Member.all.map{|c| [c.full_name, c.last_name]}, {include_blank: Member.all.length > 1}, class: 'selectize'
              Date
              = f.date_field :starts_at_gteq, class: 'form-control'
              = f.hidden_field :starts_at_datelteq
            .col-md-4
              = model_class.human_attribute_name(:status)
              = f.select :status_eq, Event.statuses.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, :class => "form-control"
              = model_class.human_attribute_name(:service)
              /without selectize
              /= f.search_field :jobs_service_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Service name", :autocomplete => :off
              = f.select :jobs_service_name_cont, Service.all.map{|c| [c.name, c.name]}, {include_blank: Service.all.length > 1}, class: 'selectize'
              .row
              = f.submit
    - else
      #accordion.collapse
        .card-header
          .row
            .col-md-4
              = model_class.human_attribute_name(:client_id)
              = f.select :client_last_name_cont, Client.all.map{|c| [c.full_name, c.last_name]}, {include_blank: Client.all.length > 1}, class: 'selectize'
              = model_class.human_attribute_name(:member)
              = f.select :jobs_member_last_name_cont, Member.all.map{|c| [c.full_name, c.last_name]}, {include_blank: Member.all.length > 1}, class: 'selectize'
              Date
              = f.date_field :starts_at_gteq, class: 'form-control'
              = f.hidden_field :starts_at_datelteq
            .col-md-4
              = model_class.human_attribute_name(:status)
              = f.select :status_eq, Event.statuses.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, :class => "form-control"
              = model_class.human_attribute_name(:service)
              /without selectize
              /= f.search_field :jobs_service_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Service name", :autocomplete => :off
              = f.select :jobs_service_name_cont, Service.all.map{|c| [c.name, c.name]}, {include_blank: Service.all.length > 1}, class: 'selectize'
              .row
              = f.submit
%p
= render 'events/index'
%p
.container.table-responsive
  = will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br