%h1 Listing events

%table
  %thead
    %tr
      %th Client
      %th Start
      %th Status
      %th Service
      %th Location
      %th Employee
      %th Service name
      %th Service description
      %th Service duration
      %th Client price
      %th Employee price
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.client
        %td= event.start
        %td= event.status
        %td= event.service
        %td= event.location
        %td= event.employee
        %td= event.service_name
        %td= event.service_description
        %td= event.service_duration
        %td= event.client_price
        %td= event.employee_price
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path

#calendar
