- model_class = Event
.row
  .container
    .card
      .card-header
        .fa.fa-calendar
        =t '.title', :default => model_class.model_name.human.titleize
        /below works the same
        /= model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_event_path(@event), class: "btn btn-warning fa fa-edit btn-sm" if policy(@event).update?
          = link_to '', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@event).destroy?
      .card-body
        %b= model_class.human_attribute_name(:status) + ':'
        = status_label(@event.status)
        %p
        - if policy(@event).update?
          .form-inline
            - unless @event.status == 'planned'
              = button_to "planned", mark_planned_event_path(@event), method: :patch, class: 'btn btn-sm btn-primary mr-sm-2'
            - unless @event.status == 'confirmed'
              = button_to "confirmed", mark_confirmed_event_path(@event), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @event.status == 'client_not_attended'
              = button_to "client_not_attended", mark_client_not_attended_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @event.status == 'member_cancelled'
              = button_to "member_cancelled", mark_member_cancelled_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @event.status == 'client_cancelled'
              = button_to "client_cancelled", mark_client_cancelled_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
        %hr
        %b= model_class.human_attribute_name(:time) + ':'
        #{l(@event.starts_at, format: "%A")} #{l(@event.starts_at, format: "%d/%b/%Y %H:%M")} -  #{l(@event.ends_at, format: "%H:%M")} (#{@event.duration} min)
        /(#{distance_of_time_in_words @event.starts_at, @event.ends_at})
        %hr
        %b= model_class.human_attribute_name(:client_id) + ':'
        = link_to @event.client, client_path(@event.client)
        %br
        %b= model_class.human_attribute_name(:location_id) + ':'
        = link_to @event.location, location_path(@event.location)
        %hr
        %b= model_class.human_attribute_name(:services) + ':'
        /= @event.jobs_count
        %p
        = render 'jobs/index'
        %b= model_class.human_attribute_name(:client_price_cents) + ':'
        = @event.client_price_cents
        %hr
        %b= model_class.human_attribute_name(:notes) + ':'
        = @event.notes

%br
.card.card-default
  .container-fluid
    .card-heading
      %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
        %b Activity
  =  render 'home/activity'
