- model_class = Event
.row
  .container
    .card
      .card-header
        .fa.fa-calendar
        =t '.title', :default => model_class.model_name.human.titleize
        /below works the same
        /= model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_event_path(@event), class: "btn btn-warning fa fa-edit btn-sm" if policy(@event).update?
          = link_to '', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@event).destroy?
      .card-body
        %b= model_class.human_attribute_name(:status) + ':'
        = status_label(@event.status)
        %p
        - if policy(@event).update?
          .form-inline
            - unless @event.status == 'planned'
              = button_to t('.planned'), mark_planned_event_path(@event), method: :patch, class: 'btn btn-sm btn-primary mr-sm-2'
            - unless @event.status == 'confirmed'
              = button_to t('.confirmed'), mark_confirmed_event_path(@event), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @event.status == 'client_not_attended'
              = button_to t('.client_not_attended'), mark_client_not_attended_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @event.status == 'member_cancelled'
              = button_to t('.member_cancelled'), mark_member_cancelled_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @event.status == 'client_cancelled'
              = button_to t('.client_cancelled'), mark_client_cancelled_event_path(@event), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
        %hr
        .fa.fa-user
        %b= model_class.human_attribute_name(:client_id) + ':'
        = link_to @event.client, client_path(@event.client)
        %br
        .fa.fa-map-marker-alt
        %b= model_class.human_attribute_name(:location_id) + ':'
        = link_to @event.location, location_path(@event.location)
        %br
        .fa.fa-clock
        %b= model_class.human_attribute_name(:time) + ':'
        #{l(@event.starts_at, format: "%A")} #{l(@event.starts_at, format: "%d/%b/%Y %H:%M")} -  #{l(@event.ends_at, format: "%H:%M")} (#{@event.duration} min)
        %p
        /%hr
        /%b= model_class.human_attribute_name(:services) + ':'
        /%p
        = render 'jobs/index'
        %b= model_class.human_attribute_name(:client_price_cents) + ':'
        = @event.client_price_cents
        %br
        %b= model_class.human_attribute_name(:client_price_to_pay) + ':'
        = @event.client_price_to_pay_cents
        - if @event.notes.present?
          %hr
          %b= model_class.human_attribute_name(:notes) + ':'
          = @event.notes
      .card-header
        - if @event.inbound_payments.any?
          = render "inbound_payments/index"
        - if @event.confirmed?
          = render 'events/new_payment'
%br
.card.card-default
  .container-fluid
    .card-heading
      %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
        .fa.fa-bell
        %b Activity
  =  render 'dashboard/activity'
