-# frozen_string_literal: true
= simple_form_for(@workplace) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, autofocus: true
    = f.association :location
    /= f.input :status
    = f.input :status, :as => :radio_buttons, :collection => Workplace.statuses.keys.to_a, label:false

  .form-actions
    = f.button :submit
