%p#notice= notice

%p
  %b Name:
  = @workplace.name
%p
  %b Location:
  = @workplace.location
%p
  %b Status:
  = @workplace.status

/= link_to 'Edit', edit_workplace_path(@workplace)
\|
= link_to 'Back', workplaces_path

= render 'static_pages/calendar'