%p#notice= notice

%p
  %b Name:
  = @workplace.name
%p
  %b Location:
  = @workplace.location
%p
  %b Status:
  = @workplace.status

= link_to 'Back to Location', location_path(@workplace.location), class: 'btn btn-sm btn-secondary'

= render 'static_pages/calendar'