%h1 Listing cashouts

%table
  %thead
    %tr
      %th Location
      %th Amount
      %th Member
      %th
      %th
      %th

  %tbody
    - @cashouts.each do |cashout|
      %tr
        %td= cashout.location
        %td= cashout.amount
        %td= cashout.member
        %td= link_to 'Show', cashout
        %td= link_to 'Edit', edit_cashout_path(cashout)
        %td= link_to 'Destroy', cashout, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cashout', new_cashout_path
