!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 A Tenant has been created.
    %p= @tenant.id
    %p= @tenant.name
    %p= @tenant.plan
    %p= @tenant.default_currency
    %p= @tenant.locale
    %p= @tenant.name
    %p Find it at http://xlplan.com/
    %p Have a great day!
