- I18n.locale = @tenant.locale
%p
.container
  - model_class = Lead
  .row
    .col-lg-3
    .col-lg-6
      %small
        .font-weight-light
          = link_to booking_path, class: '' do
            /.fa.fa-step-backward
            booking
          \/
          = link_to I18n.t(@tenant.industry, scope: [:static_pages, :landing_page]), booking_path(q: {industry_cont: @tenant.industry})
          \/
          = link_to booking_show_path(@tenant), class: 'text-dark' do
            = @tenant.name
          \/
          = link_to new_lead_path(@tenant), class: 'text-dark' do 
            .fa.fa-calendar-plus
      .card
        .card-body
          %h5
            .fa.fa-globe-africa
            = t('sidebar.online_booking') + ':'
            /=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
            .badge.badge-default
              = @tenant.name
          %hr
          = render 'leads/form'
          %p
          = link_to t('.cancel', :default => t("helpers.links.cancel")), booking_show_path(@tenant), :class => 'btn btn-danger'
%p
