- content_for :title do
  = @tenant.name
  = t('sidebar.online_booking')

- I18n.locale = @tenant.locale
%p
.container
  - model_class = Lead
  .row
    .col-lg-3
    .col-lg-6
      %small
        .font-weight-light
          = link_to booking_path, class: '' do
            /.fa.fa-step-backward
            booking
          \/
          = link_to I18n.t(@tenant.industry, scope: [:static_pages, :landing_page]), booking_path(q: {industry_cont: @tenant.industry})
          \/
          = link_to booking_show_path(@tenant), class: 'text-dark' do
            = @tenant.name
          \/
          = link_to new_booking_path(@tenant), class: 'text-dark' do 
            .fa.fa-calendar-plus
      .card
        .card-header
          .text-center
            %h5
              - if @tenant.logo.attached?
                = image_tag @tenant.logo, height: "30px", class: "mx-auto d-inline align-top rounded"
              - else
                .fa.fa-globe-africa
              %p
              %b= @tenant.name
              %hr
              = t('sidebar.online_booking').downcase
        .card-body
          = render 'leads/form'
          %p
          = link_to t('.cancel', :default => t("helpers.links.cancel")), booking_show_path(@tenant), :class => 'btn btn-danger'
%p