.container-fluid
  /custom locale for this page. quick workaround without going to application_controller
  - I18n.locale = @tenant.locale
  /= Time.zone.now
  %p
  %small
    .font-weight-light
      = link_to booking_path, class: '' do
        /.fa.fa-step-backward
        booking
      \/
      = I18n.t(@tenant.industry, scope: [:static_pages, :landing_page])
      \/
      = link_to booking_show_path(@tenant), class: 'text-dark' do
        = @tenant.name

  .jumbotron.gradient-purple
    .text-light
      .text-center
        - if @tenant.logo.attached?
          = image_tag @tenant.logo, width: "200px", class: "mx-auto d-inline align-top rounded"
        - else
          .fa.fa-image{:style => "font-size:50px"}
        %h2= @tenant.name
        .row
        - if @tenant.website.present?
          %p= link_to @tenant.website, "http://#{@tenant.website}", target: :_blank, class: 'text-white'
    
        = link_to t('sidebar.online_booking'), new_lead_path(@tenant), class: 'btn btn-success'
      - if @tenant.description.present?
        %p
        .row
          .col-lg-3
          .col-lg-4
            %small= simple_format(@tenant.description)
  .row
    .col-lg-4
      - if @locations.any?
        .text-center
          %h4= t('.location_contacts')
        - @locations.each do |location|
          .card
            .card-header.bg-light
              %b= location.name
              - if location.phone_number.present?
                .row.mt-1
                .form-inline
                  = link_to "tel:#{location.phone_number}", class: "btn btn-outline-secondary btn-block" do
                    .fa.fa-phone.mr.mr-2
                    #{number_to_phone(location.phone_number)}
              - if location.whatsapp.present?
                .row.mt-1
                /= link_to "https://api.whatsapp.com/send?phone=380505532698&text=&source=&data=", class: "button", :target => "_blank" do
                = link_to "https://wa.me/#{location.whatsapp}", class: "btn btn-outline-secondary btn-block", :target => "_blank" do
                  .fab.fa-whatsapp
                  WhatsApp
              - if location.viber.present?
                .row.mt-1
                = link_to "viber://chat?number=#{location.viber}", class: "btn btn-outline-secondary btn-block" do
                  .fab.fa-viber
                  Viber
              - if location.telegram.present?
                .row.mt-1
                = link_to "tg://resolve?domain=#{location.telegram}", class: "btn btn-outline-secondary btn-block" do
                  .fab.fa-telegram-plane
                  Telegram
              - if location.address.present?
                .row.mt-1
                .form-inline
                  .fa.fa-map-marker-alt.mr.mr-2
                  = location.address_line
        %p
      - if @members.any?
        .text-center
          %h4= t('.members_team')
        - @members.each do |member|
          .card
            .card-header
              - if member.avatar.attached?
                = image_tag member.avatar, width: "40px", class: "mx-auto d-inline align-top rounded"
              - else
                .fa.fa-user
              = member.first_name
      %p
    .col-lg-8
      - if @service_categories.any?
        .text-center
          %h4= t('sidebar.services')
        - @service_categories.each do |service_category|
          .card
            .card-header
              = service_category.name
            - service_category.services.active.online_booking.order(jobs_count: :desc).each do |service| 
              .card-header.bg-white
                .row
                  .col-lg-6
                    .form-inline
                      .fa.fa-hand-paper.mr.mr-2
                      %b= service.name
                    .form-inline
                      .fa.fa-clock.mr.mr-2
                      = service.duration
                      min
                    .form-inline
                      .fa.fa-tag.mr.mr-2
                      = number_to_currency(service.client_price_cents, unit: "#{@tenant.default_currency.upcase}", format: "%n %u")
                  .col-lg-6.text-right
                    = link_to new_lead_path(@tenant, service_id: service.id), class: 'btn btn-success btn-xs' do 
                      = t('sidebar.online_booking')
                %small= service.description
          %p
    /.col-lg-5
    /- set_var 'locale', @tenant.locale
    /- set_var 'resources', @members.map{|z| {id: z.id, title: z.short_name.to_s}}
    // - set_var 'events', @jobs.map{|e| {id: e.id, title: "XXX", resourceId: e.member_id.to_s, start: e.event.starts_at, end: e.event.ends_at, url: event_path(e.event), color: "grey"}}
    /- set_var 'events', @events.map{|e| {resourceIds: e.jobs.collect{|r| r.member_id}, title: "BUSY", start: e.starts_at, end: e.ends_at, color: "grey"}}
    /  #event_calendar
    /  %p
  /%br