.row
  .col-lg-3
  .col-lg-6
    .card
      .progress
        .progress-bar{style: "width: #{@progress}%"}
      .card-body
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count

          = step.to_s.humanize
        %hr

        = render layout: 'form' do |f|
          = f.input :first_name, autofocus: true
          = f.input :last_name
          = f.input :phone_number, hint: 'Country code & phone number: +380505532699'
          = f.input :email
          = f.input :comment
          = f.input :coupon
          = f.input :conditions_consent
        
      .card-footer
        = link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, class: 'btn btn-secondary'
      = render 'leads/booking_wizard/footer'
