.row
  .col-lg-3
  .col-lg-6
    .card
      .progress
        .progress-bar{style: "width: #{@progress}%"}
      .card-body
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count

          = step.to_s.humanize
        %hr

        = render layout: 'form' do |f|
          /= f.association :service, as: :radio_buttons, collection: @services, label_method: :name_price_duration_description, checked: params[:service_id]
          = f.association :service, collection: @services, label_method: :name_price_duration_description
        
        %hr
        = link_to t('.cancel', :default => t("helpers.links.cancel")), booking_show_path(Tenant.current_tenant), class: 'btn btn-secondary'
        .float-right
          = link_to t('.skip', :default => t("helpers.links.skip")), next_wizard_path, class: 'btn btn-secondary'
