.row
  .col-lg-3
  .col-lg-6
    .card
      .card-body
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count

          = step.to_s.humanize
        %hr

        = render layout: 'form' do |f|
          = f.association :location, as: :radio_buttons, collection: @locations, label_method: :name_and_address
          /= f.association :location, collection: @locations, label_method: :name_and_address, include_blank: "any location"
          /= f.collection_radio_buttons(:location, @locations, :id, :name_and_address)
        %hr
        = link_to 'Cancel', booking_show_path(Tenant.current_tenant), class: 'btn btn-secondary'
        .float-right
          = link_to 'Skip', next_wizard_path, class: 'btn btn-secondary'
          = link_to 'Any location', next_wizard_path, class: 'btn btn-primary'
