.row
  .col-lg-3
  .col-lg-6
    .card
      .progress
        .progress-bar{style: "width: #{((wizard_steps.index(step) + 1).to_d / wizard_steps.count.to_d) * 100}%"}
      .card-body
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count

          = step.to_s.humanize
        %hr

        = render layout: 'form' do |f|
          = f.association :member, as: :radio_buttons, collection: @members
        
        %hr
        = link_to t('.back', :default => t("helpers.links.back")), previous_wizard_path, class: 'btn btn-secondary'
        .float-right
          = link_to t('.skip', :default => t("helpers.links.skip")), next_wizard_path, class: 'btn btn-secondary'
