= t('.event_created')

- model_class = Job
- @event.jobs.each do |job|
  
  = model_class.human_attribute_name(:service_id) + ':'
  = job.service.name

  = model_class.human_attribute_name(:member_id) + ':'
  = job.member.full_name
- model_class = Event
= model_class.human_attribute_name(:time) + ':'
= @event.starts_at

= t('.address')
= Tenant.current_tenant.name
= @event.location
= @event.location.phone_number
- if @event.location.address?
  = @event.location.address[:country]
  = @event.location.address[:city]
  = @event.location.address[:street]
  = @event.location.address[:zip]

#{t('.powered_by')} XLPLAN
https://www.xlplan.com
