= t('.event_created')

- model_class = Job
= @event.services.pluck(:name).join(', ')
- model_class = Event
= model_class.human_attribute_name(:time) + ':'
= @event.starts_at

= t('.address')
= Tenant.current_tenant.name
= @event.location
= @event.location.phone_number
= @event.location.address_line

#{t('.powered_by')} XLPLAN
https://www.xlplan.com
