Booking created.

- model_class = Job
- @event.jobs.each do |job|
  
    = model_class.human_attribute_name(:service_id) + ':'
    = job.service.name

    = model_class.human_attribute_name(:member_id) + ':'
    = job.member.full_name
- model_class = Event
  = model_class.human_attribute_name(:time) + ':'
  = @event.starts_at

  = model_class.human_attribute_name(:location_id) + ':'
  = Tenant.current_tenant.name
  = @event.location.address

/%p= link_to "This event", @event