= t('.event_created')

- model_class = Job

= @event.client.full_name
= @event.client.phone_number

- @event.jobs.each do |job|
  
  = model_class.human_attribute_name(:service_id) + ':'
  = job.service.name
  (#{job.member.full_name})
- model_class = Event
= model_class.human_attribute_name(:time) + ':'
= @event.starts_at

= t('.address')
= Tenant.current_tenant.name
= @event.workplace.location
= @event.workplace.location.phone_number
= @event.workplace.location.address_line

#{t('.powered_by')} XLPLAN
https://www.xlplan.com
