.row
  .col-lg-3
  .col-lg-6
    .card
      .progress
        .progress-bar{style: "width: #{@progress}%"}
      .card-header
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count
          = I18n.t(step.to_s, scope: [:wicked])
      .card-body
        = simple_form_for @tenant, url: after_signup_wizard_path, method: :put do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
          = f.input :name
          = f.input :subdomain
          = f.input :locale, collection: I18n.available_locales, include_blank: false
          = f.input :default_currency, collection: [ "usd", "eur", "pln", "uah", "rub"], include_blank: false
          = f.input :time_zone
          = f.input :online_booking
          = f.input :industry, collection: Tenant.industries, include_blank: false
          = f.input :website
          = f.input :instagram
          = f.input :description, :input_html => {:rows => 5}
          ///ACTIVE_STORAGE LOGO
          .text-center
            - if @tenant.logo.attached?
              = image_tag @tenant.logo, height: "50px", class: "mx-auto d-inline align-top rounded"
              /%img.rounded{:alt => "XLPLAN", :src => "#{url_for(@tenant.logo)}", :height => "200px"}/
            - else
              .far.fa-calendar-check{:style => "font-size:60px"}
              .row
              = f.label :logo
            %p
            = f.file_field :logo
            %p
          ///END ACTIVE_STORAGE LOGO
          = f.button :submit
        %hr
        .float-right
          = link_to t('.skip', :default => t("helpers.links.skip")), next_wizard_path, class: 'btn btn-secondary'
