.row
  .col-lg-3
  .col-lg-6
    .card
      .card-body
        %h5
          = model_icon(@favicon)
          = wizard_steps.index(step) + 1
          \/
          = wizard_steps.count

          = step.to_s.humanize
        %hr

        = simple_form_for @tenant, url: after_signup_wizard_path, method: :put do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        
          = f.input :name, required: true, class: "form-control"
          = f.input :locale, collection: [['Русский', 'ru'], ['English', 'en'], ['Polski', 'pl']], include_blank: false
          = f.input :default_currency, collection: [ "usd", "eur", "pln", "uah", "rub"], include_blank: false
          = f.input :time_zone
          = f.input :online_booking
          = f.input :industry, collection: Tenant.industries, include_blank: false
          = f.input :website
          = f.input :instagram
          = f.input :description, :input_html => {:rows => 5}
          = f.button :submit

        %hr
        .float-right
          = link_to t('.skip', :default => t("helpers.links.skip")), next_wizard_path, class: 'btn btn-secondary'
