.nested-fields.form-inline
  = f.label :service
  = f.error :service, class: 'text-danger'
  = f.select :service_id, Service.active.map{|c| [c.full_name_with_price, c.id]}, {include_blank: Service.all.length > 1}, class: 'selectize'

  = f.label :member
  = f.error :member, class: 'text-danger'
  = f.select :member_id, Member.active.map{|c| [c.full_name, c.id]}, {include_blank: Member.all.length > 1}, class: 'selectize'

  = link_to_remove_association "remove job", f, class: 'btn btn-xs btn-secondary'
