= search_form_for @q, url: appointments_path do |f|
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          %b= controller.action_name.humanize.titleize
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          %button.btn.btn-sm.btn-default{"data-target" => "#accordion", "data-toggle" => "collapse", :type => "button"}
            .fa.fa-search
            Search
          = link_to "", appointments_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          - if policy(Appointment).create?
            = link_to t('.new', :default => t("helpers.links.new")), new_appointment_path, class: 'btn btn-sm btn-primary'
    #accordion.collapse
      .card-header
        .row
          .col-md-4
            Client
            = f.search_field :client_full_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Client name", :autocomplete => :off
            %br 
              Employee
              = f.search_field :member_full_name_cont, autofocus: true, class: "form-control", style: 'float: left; width: 100%; display: block', placeholder: "Employee name", :autocomplete => :off
          .col-md-4
            .input-daterange
              Starts after
              = f.text_field :starts_at_gteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date >= to", :autocomplete => :off
              Starts before
              = f.text_field :starts_at_lteq, "data-provide" => 'datepicker', class: "form-control", placeholder: "Date <= to", :autocomplete => :off
          .col-md-4
            Status
            = f.select :status_eq, Appointment.statuses.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, :class => "form-control"
            %br
            = f.submit

.table-responsive
  %table#table1
    %thead
      %tr
        %th
        %th
        %th
        %th= sort_link @q, :client_last_name, "Client"
        %th= sort_link @q, :member_last_name, "Member"
        %th= sort_link @q, :location_id, "Location"
        %th= sort_link @q, :starts_at, "Time"
        %th= sort_link @q, :status, "Status"
        %th Jobs
        %th Price
        %th Description
    %tbody
      - @appointments.each do |appointment|
        %tr
          %td= link_to '', appointment, class: "btn btn-primary fa fa-eye btn-sm" if policy(appointment).show?
          %td= link_to '', edit_appointment_path(appointment), class: "btn btn-warning fa fa-edit btn-sm" if policy(appointment).update?
          %td= link_to '', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(appointment).destroy?
          %td= link_to appointment.client, client_path(appointment.client)
          %td= link_to appointment.member, member_path(appointment.member)
          %td= link_to appointment.location, location_path(appointment.location)
          %td #{appointment.starts_at.strftime('%d/%b/%Y %H:%M')} - #{appointment.ends_at.strftime('%H:%M')}
          %td= status_label(appointment.status)
          %td= appointment.jobs_count
          %td= appointment.client_price_cents
          %td= truncate(appointment.description, length: 25)
.container
  = will_paginate @appointments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
