.row
  .container
    .card
      .card-header
        %b Appointment
        .float-right
          = link_to '', edit_appointment_path(@appointment), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@appointment).update?
          = link_to '', @appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@appointment).destroy?
      .card-body
        %b Status:
        = status_label(@appointment.status)
        %p
        - if policy(@appointment).update?
          .form-inline
            - unless @appointment.status == 'planned'
              = button_to "planned", mark_planned_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-primary mr-sm-2'
            - unless @appointment.status == 'member_confirmed'
              = button_to "member_confirmed", mark_member_confirmed_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @appointment.status == 'client_confirmed'
              = button_to "client_confirmed", mark_client_confirmed_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-success mr-sm-2'
            - unless @appointment.status == 'not_attended'
              = button_to "not_attended", mark_not_attended_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-danger mr-sm-2'
            - unless @appointment.status == 'member_cancelled'
              = button_to "member_cancelled", mark_member_cancelled_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
            - unless @appointment.status == 'client_cancelled'
              = button_to "client_cancelled", mark_client_cancelled_appointment_path(@appointment), method: :patch, class: 'btn btn-sm btn-secondary mr-sm-2'
        %hr
        %b Client:
        = link_to @appointment.client, client_path(@appointment.client)
        %br
        %b Employee:
        = link_to @appointment.member, member_path(@appointment.member)
        %br
        %b Location:
        = link_to @appointment.location, location_path(@appointment.location)
        %br
        %b Starts at:
        = @appointment.starts_at.strftime("%A")
        = @appointment.starts_at.strftime('%d/%b/%Y %H:%M')
        %br
        %b Ends at:
        = @appointment.ends_at.strftime('%d/%b/%Y %H:%M')
        (#{@appointment.duration} min)
        /(#{distance_of_time_in_words @appointment.starts_at, @appointment.ends_at})
        %br
        %b Description:
        = @appointment.description
        %hr
        %b Jobs:
        = @appointment.jobs_count
        %p
        = render 'jobs/index'
        %b Total client price:
        = @appointment.client_price_cents
%br
.card.card-default
  .container-fluid
    .card-heading
      %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
        %b Activity
  =  render 'home/activity'
