-# frozen_string_literal: true
= simple_form_for(@transaction) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.association :cash_account, as: :radio_buttons, label_method: :full_name, collection: @cash_accounts
    - if @client.present?
      = f.input :payable_type, input_html: {value: "Client"}, as: :hidden
      = f.input :payable_id, input_html: {value: @client.id}, as: :hidden
    - else
      = f.input :payable_type, input_html: {value: "Client"}, as: :hidden
      /= f.label :member
      /= f.label :client
      = f.label :payable_type
      = f.select :payable_id, @clients.map{|c| [c.full_name, c.id]}, {include_blank: true}, class: 'selectize'
      = f.error :payable_id, class: 'text-danger'
      /= f.input :payable_id, collection: @clients, class: 'selectize'
      /= f.input :payable_id, collection: @clients, input_html: { class: 'selectize' }

    = f.input :amount_cents, input_html: { value: '', autocomplete: 'off' }, placeholder: "0"
    /= f.input :amount_cents, input_html: { autocomplete: 'off' }, placeholder: "0"
    = f.input :comment
  %hr
  .form-actions
    = f.button :submit