- model_class = Transaction
= search_form_for @q, url: transactions_path do |f|
  .card
    .card-header
      %h5.float-left
        .fa.fa-exchange-alt
        %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
        .badge.badge-info
          = @transactions.count
      %h5.float-right
        - if params.has_key?(:q)
          = link_to "", transactions_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
        = link_to t('.new', :default => t("helpers.links.new")), new_transaction_path, class: 'btn btn-sm btn-primary'
    .card-footer
      .row
        .col-md-2
          = f.text_field :slug_cont, class: "form-control", placeholder: model_class.human_attribute_name(:id), style: 'float: left; width: 100%; display: block'
        .col-md-2
          = f.select :cash_account_name_cont, CashAccount.all.map{|c| [c.name, c.name]}, {include_blank: CashAccount.all.length > 1}, class: 'selectize'
        .col-md-2
          = f.date_field :created_at_gteq, class: 'form-control'
          = f.hidden_field :created_at_datelteq
        .col-md-2
          = f.submit
= render 'transactions/index'
.container.table-responsive
  = will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br