- model_class = Transaction
.row
  .col-md-3
  .col-md-6
    .row
      .container
        .card
          .card-header
            .fa.fa-dollar-sign
            =t '.title', :default => model_class.model_name.human.titleize
            .float-right
              = link_to "", transaction_path(@transaction, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank
              = link_to '', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@transaction).destroy?
          .card-body
            %b= model_class.human_attribute_name(:id)
            = link_to @transaction.slug, transaction_path(@transaction)
            .row
            %b= model_class.human_attribute_name(:amount_cents)
            = @transaction.amount_cents
            .row
            %b= model_class.human_attribute_name(:cash_account)
            = @transaction.cash_account
            .row
            %b= model_class.human_attribute_name(:comment)
            = @transaction.comment
            .row
            %b= model_class.human_attribute_name(:payable_type)
            = @transaction.payable_type
            .row
            %b= model_class.human_attribute_name(:payable_id)
            = link_to @transaction.payable, polymorphic_url(@transaction.payable) if @transaction.payable.present?
            .row
            %b= model_class.human_attribute_name(:created_at)
            = l(@transaction.created_at, format: "%a %d/%b/%Y %H:%M")
    %p
    =  render 'dashboard/activity'
