- model_class = Transaction
.row
  .container
    .card
      .card-header
        =t '.title', :default => model_class.model_name.human.titleize
      .card-body
        %b= model_class.human_attribute_name(:id)
        = link_to @transaction.slug, transaction_path(@transaction)
        .row
        %b= model_class.human_attribute_name(:amount_cents)
        = @transaction.amount_cents
        .row
        %b= model_class.human_attribute_name(:cash_account)
        = @transaction.cash_account
        .row
        %b= model_class.human_attribute_name(:comment)
        = @transaction.comment
        .row
        %b= model_class.human_attribute_name(:payable_type)
        = @transaction.payable_type
        .row
        %b= model_class.human_attribute_name(:payable_id)
        = link_to @transaction.payable, polymorphic_url(@transaction.payable) if @transaction.payable.present?
        .row
        %b= model_class.human_attribute_name(:created_at)
        = l(@transaction.created_at, format: "%a %d/%b/%Y %H:%M")
        %br
        - @activities.each do |a|
          %b= model_class.human_attribute_name(:created_at) + ':'
          #{l(a.created_at, format: "%d/%b/%Y %H:%M")}
          .row
          %b= t('member') + ':'
          = link_to a.owner.to_s, member_path(a.owner.member.id) if a.owner.member
