%h1 Listing machines

%table
  %thead
    %tr
      %th Name
      %th Location
      %th Status
      %th
      %th
      %th

  %tbody
    - @machines.each do |machine|
      %tr
        %td= machine.name
        %td= machine.location
        %td= status_label(machine.status)
        %td= link_to 'Show', machine, class: 'btn btn-sm btn-primary'
        %td= link_to 'Edit', edit_machine_path(machine), class: 'btn btn-sm btn-warning'
        %td= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

%br

= link_to 'New Machine', new_machine_path
