-# frozen_string_literal: true
= simple_form_for(@expence) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :amount, autofocus: true
    = f.input :payment_method
    = f.input :expendable_type
    = f.input :expendable_id

  .form-actions
    = f.button :submit, class: "btn btn-success"