-# frozen_string_literal: true
= simple_form_for(@expence) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :amount_cents, input_html: { value: '', autocomplete: 'off' }, placeholder: "0"
    = f.input :payment_method, collection: Expence.payment_methods, include_blank: false, as: :radio_buttons
    = f.input :expendable_type
    = f.input :expendable_id
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success"