- model_class = Expence
- @expences.each do |expence|
  .card
    .card-header.bg-light
      .row
        .col-lg-4
          .text-center
            = link_to expence.slug, expence_path(expence) if policy(expence).show?
            .row
            = link_to "", expence_path(expence, format: :pdf), class: "btn btn-primary fa fa-file-pdf btn-sm", target: :_blank if policy(expence).show?
            = link_to '', expence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(expence).destroy?
        .col-lg-4
          /Expendable type
          = expence.expendable_type
          = link_to expence.expendable, expence.expendable
          /.row
          /Expendable
          /= expence.expendable_id
          .row
          .fa.fa-hand-holding-usd
          = number_to_currency(expence.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          .badge.badge-secondary
            = I18n.t(expence.payment_method, scope: [:activerecord, :attributes, :inbound_payment, :payment_methods])
        .col-lg-4
          .fa.fa-clock
          = l(expence.created_at, format: "%a %d/%b/%Y %H:%M")
