- model_class = Expence
.row
  .container
    .card
      .card-header
        =t '.title', :default => model_class.model_name.human.titleize
      .card-body
        %b= model_class.human_attribute_name(:id) + ':'
        = @expence.slug
        %br
        %b= model_class.human_attribute_name(:expendable_type) + ':'
        = @expence.expendable_type
        = link_to @expence.expendable, @expence.expendable
        /%b= model_class.human_attribute_name(:expendable) + ':'
        /= link_to @expence.client, client_path(@expence.client)
        /.row
        /%b Expendable:
        /= @expence.expendable_id
        %br
        %b= model_class.human_attribute_name(:amount) + ':'
        = number_to_currency(@expence.amount_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        %br
        %b= model_class.human_attribute_name(:payment_method) + ':'
        %br
        - @activities.each do |a|
          %b= model_class.human_attribute_name(:created_at) + ':'
          #{l(a.created_at, format: "%d/%b/%Y %H:%M")}
          .row
          %b= t('member') + ':'
          = link_to a.owner.to_s, member_path(a.owner.member.id) if a.owner.member
