.row
  .col-12
    .card
      .card-header
        Clients registered per month
      .card-body
        = line_chart Client.group_by_month(:created_at).count, download: true
%p
.row
  .col-12
    .card
      .card-header
        Clients birthdays
      .card-body
        = line_chart Client.group_by_month(:date_of_birth).count, download: true
%p
.row
  .col-6
    .card
      .card-header
        Client Status
      .card-body
        = pie_chart Client.group(:status).count, download: true
  .col-6
    .card
      .card-header
        Client Gender
      .card-body
        = pie_chart Client.group(:gender).count, download: true
%p
.row
  .col-6
    - @clients.each do |client|
      .card= link_to "#{client.date_of_birth.strftime('%b, %d')} - #{client}", client_path(client)
