.text-center
  %h3 Event stats
.row
  .col-12
    .card
      .card-header
        .fa.fa-chart-line
        Events per month, quantity
      .card-body
        = line_chart charts_monthly_events_path, download: true
%p
.row
  .col-12
    .card
      .card-header
        .fa.fa-chart-line
        Unique clients that visited events per month, quantity
      .card-body
        = column_chart Event.group_by_month(:starts_at, format: "%b %Y").distinct.count('client_id'), download: true
%p
.row
  .col-3
    .card
      .card-header
        .fa.fa-chart-line
        Event Status
      .card-body
        = pie_chart Event.group(:status).count, download: true
  .col-3
    .card
      .card-header
        Location popularity
      .card-body
        = pie_chart Event.joins(:location).group(:'locations.name').count, download: true
  .col-3
    .card
      .card-header
        Service popularity
      .card-body
        = pie_chart Job.joins(:service).group(:'services.name').count, download: true
