%h3.text-center
  .badge.badge-secondary.btn-block
    Counters
.row
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-calendar
      = Job.count
      %div 
        %b Jobs
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-user
      = Client.count
      %div 
        %b Clients
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-user
      = Member.count
      %div 
        %b Members
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-hand-paper
      = Service.count
      %div 
        %b Services
  .col-md-4
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = number_to_currency(@average_confirmed_earnings, :unit => "")
      %div 
        %b Average confirmed check
%p
%h3.text-center
  .badge.badge-primary.btn-block
    Planned
.row
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-calendar
      = @planned_job_q
      %div 
        %b Jobs
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-clock
      = @planned_hours_worked
      %div 
        %b Hours worked
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_planned_earnings
      %div 
        %b Earnings
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_planned_expences
      %div 
        %b Expences
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_planned_net_income
      %div
        %b Net income
%h3.text-center
  .badge.badge-success.btn-block
    Confirmed
.row
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-calendar
      = @confirmed_job_q
      %div 
        %b Jobs
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-clock
      = @confirmed_hours_worked
      %div 
        %b Hours worked
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_confirmed_earnings
      %div 
        %b Earnings
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_confirmed_expences
      %div 
        %b Expences
  .col-md-2
    .card-header.bg-success
      %i.fa.fa-hand-holding-usd
      = @total_confirmed_net_income
      %div
        %b Net income
%h3.text-center
  .badge.badge-danger.btn-block
    Lost
.row
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-calendar
      = @lost_job_q
      %div 
        %b Jobs
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-clock
      = @lost_hours_worked
      %div 
        %b Hours worked
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_lost_earnings
      %div 
        %b Earnings
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_lost_expences
      %div 
        %b Expences
  .col-md-2
    .card-header.bg-default
      %i.fa.fa-dollar-sign
      = @total_net_losses
      %div
        %b Net income

%br
