.row
  .col-md-4
    %h3.text-center
      Job Status Pie
    - @job_status_pie.each do |key, value|
      .card.text-center= "#{key}: #{value}"
  .col-md-4
    %h3.text-center
      Jobs per month
    - @monthly_jobs.each do |key, value|
      .card.text-center= "#{key}: #{value}"
