.row
  .col-12
    .card
      .card-header
        Member Stats
      .table-responsive
        %table#table1
          %thead
            %tr
              %th Name
              /%th Appointments, Q
              /%th Total jobs
              %th.bg-info Planned jobs
              %th.bg-info Planned work hours
              %th.bg-info Planned earnings $
              %th.bg-info Planned payments $
              %th.bg-success Confirmed jobs
              %th.bg-success Confirmed work hours
              %th.bg-success Confirmed earnings $
              %th.bg-success Confirmed payments $
              %th.bg-danger Cancelled jobs
              %th.bg-danger Cancelled work hours
              %th.bg-danger Cancelled earnings $
              %th.bg-danger Cancelled payments $
              %th.bg-success % of total confirmed revenue
              /%th Cost per hour
              /%th Average service price
          %tbody
            - @members.each do |member|
              %tr
                %td= link_to member.full_name, member_path(member)
                /%td= member.appointments_count
                /%td= member.jobs_count
                %td.bg-info= member.planned_jobs_count
                %td.bg-info= member.planned_work_hours
                %td.bg-info= member.planned_earnings/100.to_d
                %td.bg-info= member.planned_payments/100.to_d
                %td.bg-success= member.confirmed_jobs_count
                %td.bg-success= member.confirmed_work_hours
                %td.bg-success= member.confirmed_earnings/100.to_d
                %td.bg-success= member.confirmed_payments/100.to_d
                %td.bg-danger= member.cancelled_jobs_count
                %td.bg-danger= member.cancelled_work_hours
                %td.bg-danger= member.cancelled_earnings/100.to_d
                %td.bg-danger= member.cancelled_payments/100.to_d
                %td.bg-success= number_to_percentage(member.share_of_revenue, precision: 1)
                /%td= member.cost_per_hour.round(2)
                /%td= member.average_service_price
%br

.row
  .col-12
    .card
      .card-header
        Confirmed Jobs per member per month, quantity
      .card-body
        = line_chart @members.map { |member| {name: member.full_name, data: member.jobs.joins(:appointment).where(appointments: {status: [:confirmed]}).group_by_month('appointments.starts_at').count} }, download: true, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
    %p
  .col-12
    .card
      .card-header
        Confirmed Payments per month
      .card-body
        = line_chart @members.map { |member| {name: member.full_name, data: member.jobs.joins(:appointment).where(appointments: {status: [:confirmed]}).group_by_month('appointments.starts_at').sum('client_due_price / 100')}}, download: true, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
    %p
  .col-12
    .card
      .card-header
        Confirmed Earnings per month
      .card-body
        = line_chart @members.map { |member| {name: member.full_name, data: member.jobs.joins(:appointment).where(appointments: {status: [:confirmed]}).group_by_month('appointments.starts_at').sum('member_due_price / 100')}}, download: true, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
%p
