%h3 Member Stats

.table-responsive
  %table#table1
    %thead
      %tr
        %th Name
        /%th Appointments, Q
        /%th Total jobs
        %th.bg-info Planned jobs
        %th.bg-info Planned work hours
        %th.bg-info Planned work $
        %th.bg-success Confirmed jobs
        %th.bg-success Confirmed work hours
        %th.bg-success Confirmed work $
        %th.bg-danger Cancelled jobs
        %th.bg-danger Cancelled work hours
        %th.bg-danger Cancelled work $
        %th.bg-success % of total confirmed revenue
        /%th Cost per hour
        /%th Average service price
    %tbody
      - @members.each do |member|
        %tr
          %td= link_to member.full_name, member_path(member)
          /%td= member.appointments_count
          /%td= member.jobs_count
          %td.bg-info= member.planned_jobs_count
          %td.bg-info= member.planned_work_hours
          %td.bg-info= member.planned_job_price/100.to_d
          %td.bg-success= member.confirmed_jobs_count
          %td.bg-success= member.confirmed_work_hours
          %td.bg-success= member.confirmed_job_price/100.to_d
          %td.bg-danger= member.cancelled_jobs_count
          %td.bg-danger= member.cancelled_work_hours
          %td.bg-danger= member.cancelled_job_price/100.to_d
          %td.bg-success= number_to_percentage(member.share_of_revenue, precision: 1)
          /%td= member.cost_per_hour.round(2)
          /%td= member.average_service_price

