-# frozen_string_literal: true
= simple_form_for(@location) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, autofocus: true, input_html: { autocomplete: 'off' }
    = f.input :phone_number
    = f.input :email
    = f.input :address
    = f.input :status, :as => :radio_buttons, :collection => Location.statuses.keys.to_a, label:false
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
