-# frozen_string_literal: true
= simple_form_for(@location) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, input_html: { autocomplete: 'off' }
    = f.input :phone_number, hint: 'Country code & phone number: +XXXXXXXXXXXX'
    = f.input :viber, hint: 'Country code & phone: +XXXXXXXXXXXX'
    = f.input :whatsapp, hint: 'Country code & phone: XXXXXXXXXXXX'
    = f.input :telegram, hint: 'Nickname: georgewashington'
    = f.input :email
    /= f.input :address
    / #### ADDRESS FIELD STARTS HERE ####
    .fields
      = f.fields_for :address, OpenStruct.new(f.object.address || {}) do |a|
        = f.label :country
        = a.text_field :country, id: :country, input_html: { autocomplete: 'nope' }, class: 'form-control'
        = f.label :city
        = a.text_field :city, id: :city, input_html: { autocomplete: 'nope' }, class: 'form-control'
        = f.label :street
        = a.text_field :street, id: :street, input_html: { autocomplete: 'nope' }, class: 'form-control'
        = f.label :zip
        = a.text_field :zip, id: :zip, input_html: { autocomplete: 'nope' }, class: 'form-control'
    / #### ADDRESS FIELD ENDS HERE ####

    = f.input :active
    = f.input :online_booking

    %hr
    /.table-responsive
    /  %table
    /    %thead
    /      %tr
    /        %th day
    /        %th start
    /        %th end
    /        %th
    /    %tbody.operating_hours
    /      = f.simple_fields_for :operating_hours do |operating_hour|
    /        = render 'operating_hour_fields', f: operating_hour
    /  .links
    /    = link_to_add_association t('.add_operating_hour'), f, :operating_hours, data: {"association-insertion-node" => "tbody.operating_hours", "association-insertion-method" => "append"}, class: 'btn btn-primary'

    .workplaces
      = f.simple_fields_for :workplaces do |workplace|
        = render 'workplace_fields', f: workplace
    .links
      = link_to_add_association t('.add_workplace'), f, :workplaces, class: 'btn btn-primary', :partial => 'locations/workplace_fields'

  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'