%h1 Listing locations

%table
  %thead
    %tr
      %th Name
      %th Tel
      %th Email
      %th Address
      %th Status
      %th Balance
      %th Jobs
      %th
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td= location.tel
        %td= location.email
        %td= location.address
        %td= status_label(location.status)
        %td= number_to_currency(location.balance_cents, :unit => "$")
        %td= location.jobs_count
        %td= link_to 'Show', location, class: 'btn btn-sm btn-primary'
        %td= link_to 'Edit', edit_location_path(location), class: 'btn btn-sm btn-warning'
        %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

%br

= link_to 'New Location', new_location_path
