- model_class = Location
.card
  .card-header
    %h5.float-left
      .fa.fa-map-marker-alt
      %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
      .badge.badge-info
        = @locations.count
    %h5.float-right
      - if policy(Location).create?
        - if (Tenant.current_tenant.can_create_locations?)
          = link_to t('.new', :default => t("helpers.links.new")), new_location_path, class: 'btn btn-sm btn-primary'
        - else
          = link_to "<i class='fa-fw fa fa-lock'></i> #{t("helpers.links.new")}".html_safe, edit_plan_path, class: "btn btn-sm btn-danger"
.table-responsive
  %table#table1
    %thead
      %tr
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:contacts)
        %th= model_class.human_attribute_name(:active)
        %th= model_class.human_attribute_name(:online_booking)
        %th= model_class.human_attribute_name(:workplaces)
        %th
    %tbody
      - @locations.each do |location|
        %tr
          %td= location.name
          %td
            .btn-group-vertical
              - if location.phone_number.present?
                = link_to "tel:#{location.phone_number}", class: "btn btn-primary btn-sm" do
                  .fa.fa-phone
                  = location.phone_number
              - if location.whatsapp.present?
                /= link_to "https://api.whatsapp.com/send?phone=380505532698&text=&source=&data=", class: "button", :target => "_blank" do
                = link_to "https://wa.me/#{location.whatsapp}", class: "btn btn-success btn-sm", :target => "_blank" do
                  .fab.fa-whatsapp
                  = location.whatsapp
              - if location.viber.present?
                = link_to "viber://chat?number=#{location.viber}", class: "btn btn-purple btn-sm" do
                  .fab.fa-viber
                  = location.viber
              - if location.telegram.present?
                = link_to "tg://resolve?domain=#{location.telegram}", class: "btn btn-info btn-sm" do
                  .fab.fa-telegram-plane
                  = location.telegram
              - if location.email.present?
                = link_to "mailto:#{location.email}", class: "btn btn-secondary btn-sm" do
                  .fa.fa-envelope
                  = location.email
            .row
            .fa.fa-map-marker-alt
            %small= location.address_line
          %td= active_label(location.active)
          %td= active_label(location.online_booking)
          %td
            - location.workplaces.each do |workplace|
              .row
              = workplace.name
              .float-right
                .far.fa-calendar-alt
                = workplace.events_count
                - if workplace.events_count.zero?
                  = link_to '', workplace, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"
          %td
            .btn-group
              = link_to '', edit_location_path(location), class: "btn btn-warning fa fa-edit btn-sm" if policy(location).update?
              = link_to '', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(location).destroy?
%br