%h1 Listing locations

.table-responsive
  %table#table1
    %thead
      %tr
        %th Name
        %th
        %th
        %th Tel
        %th Email
        %th Address
        %th Status
        %th Workplaces
        %th Balance
        %th Jobs
  
    %tbody
      - @locations.each do |location|
        %tr
          %td= link_to location.name, location, class: 'btn btn-sm btn-primary' if policy(location).show?
          %td= link_to 'Edit', edit_location_path(location), class: 'btn btn-sm btn-warning' if policy(location).update?
          %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if policy(location).destroy?
          %td= location.tel
          %td= location.email
          %td= location.address
          %td= status_label(location.status)
          %td= location.workplaces_count
          %td= number_to_currency(location.balance_cents, :unit => "$")
          %td= location.jobs_count

%br

= link_to 'New Location', new_location_path
