- model_class = Location
.card
  .card-header
    %h5.float-left
      .fa.fa-map-marker-alt
      %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
      .badge.badge-info
        = @locations.count
    %h5.float-right
      - if policy(Location).create?
        - if (Tenant.current_tenant.can_create_locations?)
          = link_to t('.new', :default => t("helpers.links.new")), new_location_path, class: 'btn btn-sm btn-primary'
        - else
          = link_to "<i class='fa-fw fa fa-lock'></i> #{t("helpers.links.new")}".html_safe, edit_plan_path, class: "btn btn-sm btn-danger"
- @locations.each do |location|
  .card
    .card-header.bg-light
      .row
        .col-sm-4
          .fa.fa-map-marker-alt
          = link_to location.name, location_path(location) if policy(location).show?
          = status_label(location.status)
          - if location.online_booking?
            .badge.badge-success
              = model_class.human_attribute_name(:online_booking)
          - if location.address.present?
            .row.mt-1
            .form-inline
              .fa.fa-map-marker-alt.mr.mr-2
              = location.address_line
          - if location.phone_number.present?
            .row.mt-1
            .form-inline
              = link_to "tel:#{location.phone_number}", class: "btn btn-outline-secondary btn-block" do
                .fa.fa-phone.mr.mr-2
                #{number_to_phone(location.phone_number)}
          - if location.whatsapp.present?
            .row.mt-1
            /= link_to "https://api.whatsapp.com/send?phone=380505532698&text=&source=&data=", class: "button", :target => "_blank" do
            = link_to "https://wa.me/#{location.whatsapp}", class: "btn btn-outline-success btn-block", :target => "_blank" do
              .fab.fa-whatsapp
              WhatsApp
          - if location.viber.present?
            .row.mt-1
            = link_to "viber://chat?number=#{location.viber}", class: "btn btn-outline-secondary btn-block" do
              .fab.fa-viber
              Viber
          - if location.telegram.present?
            .row.mt-1
            = link_to "tg://resolve?domain=#{location.telegram}", class: "btn btn-outline-info btn-block" do
              .fab.fa-telegram-plane
              Telegram
          - if location.email.present?
            .row.mt-1
            = link_to "mailto:#{location.email}", class: "btn btn-outline-secondary btn-block" do
              .fa.fa-envelope
              = location.email
        .col-sm-2
          = link_to "<i class='fa fa-user-tie'></i> #{location.members_count}".html_safe, members_path(members_search: {location_id_eq: location.id}), class: "nav-link"

        /ADMIN - stats
        - if current_user.has_role?(:admin)
          .col-sm-4
            .fa.fa-calendar-check
            = number_to_currency(location.events_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            (#{location.events_count})
            .row
            /.fa.fa-balance-scale
            .fas.fa-cash-register
            = number_to_currency(location.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            /.row
            /.fa.fa-hand-holding-usd
        .col-sm-2
          = link_to '', location, class: "btn btn-primary fa fa-eye btn-sm" if policy(location).show?
          = link_to '', edit_location_path(location), class: "btn btn-warning fa fa-edit btn-sm"  if policy(location).edit?
          = link_to '', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(location).destroy?

  /.table-responsive
  /  %table#table1
  /    %thead
  /      %tr
  /        %th= model_class.human_attribute_name(:name)
  /        %th= model_class.human_attribute_name(:contacts)
  /        %th= model_class.human_attribute_name(:address)
  /        %th= model_class.human_attribute_name(:status)
  /        %th= model_class.human_attribute_name(:members_count)
  /        %th= model_class.human_attribute_name(:events_count)
  /        %th
  /    %tbody
  /      - @locations.each do |location|
  /        %tr
  /          %td= link_to location.name, location_path(location) if policy(location).show?
  /          %td
  /            = link_to "tel:#{location.phone_number}", class: "button" do
  /              #{number_to_phone(location.phone_number)}
  /            - if location.phone_number.present? && location.phone_number.present?
  /              \/
  /            %a{:href => "mailto:#{location.email}"}= location.email
  /          %td= location.address
  /          %td= status_label(location.status)
  /          %td= location.members_count
  /          %td= location.events_count
  /          %td
  /            = link_to '', edit_location_path(location), class: "btn btn-warning fa fa-edit btn-sm" if policy(location).update?
  /            = link_to '', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(location).destroy?
%br
