- model_class = Location
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-map-marker-alt
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_location_path(@location), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@location).update?
          = link_to '', @location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@location).destroy?
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @location.name
        .row
        = active_label(@location.active)
        - if @location.online_booking?
          .badge.badge-success
            = model_class.human_attribute_name(:online_booking)
        - if @location.address.present?
          .row.mt-1
          .form-inline
            .fa.fa-map-marker-alt.mr.mr-2
            = @location.address_line
        .row

        - if @location.phone_number.present?
          = link_to "tel:#{@location.phone_number}", class: "btn btn-primary btn-sm mr-1" do
            .fa.fa-phone
        - if @location.whatsapp.present?
          /= link_to "https://api.whatsapp.com/send?phone=380505532698&text=&source=&data=", class: "button", :target => "_blank" do
          = link_to "https://wa.me/#{@location.whatsapp}", class: "btn btn-success btn-sm mr-1", :target => "_blank" do
            .fab.fa-whatsapp
        - if @location.viber.present?
          = link_to "viber://chat?number=#{@location.viber}", class: "btn btn-purple btn-sm mr-1" do
            .fab.fa-viber
        - if @location.telegram.present?
          = link_to "tg://resolve?domain=#{@location.telegram}", class: "btn btn-info btn-sm mr-1" do
            .fab.fa-telegram-plane
        - if @location.email.present?
          = link_to "mailto:#{@location.email}", class: "btn btn-secondary btn-sm mr-1" do
            .fa.fa-envelope

        - if @location.operating_hours.any?
          %hr
          - @location.operating_hours.each do |operating_hour|
            .row
            = Date::ABBR_DAYNAMES[operating_hour.day_of_week]
            .float-right
              = operating_hour.opens.strftime("%H:%M")
              \-
              = operating_hour.closes.strftime("%H:%M")
        %hr
        /ADMIN - stats
        /- if policy(@location).show_money?
        /  .fa.fa-calendar-check
        /  = number_to_currency(@location.events_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        /  (#{@location.events_count})
        /  .row
        /  /.fa.fa-balance-scale
        /  .fas.fa-cash-register
        /  = number_to_currency(@location.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        /  /.row
        /  /.fa.fa-hand-holding-usd
      .card-header
        = t('.workplaces') + ":"
        = @location.workplaces.count
        - @location.workplaces.each do |workplace|
          .row
          = workplace.name
    %p
  .col-lg-8
