- model_class = Location
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-industry
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_location_path(@location), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@location).update?
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @location.name
        %br
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = @location.phone_number
        %br
        %b= model_class.human_attribute_name(:email) + ':'
        = @location.email
        %br
        %b= model_class.human_attribute_name(:address) + ':'
        = @location.address
        %br
        %b= model_class.human_attribute_name(:status) + ':'
        = status_label(@location.status)
    %p
  .col-lg-8
    = render 'home/calendar'