%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Tel:
  = @location.tel
%p
  %b Email:
  = @location.email
%p
  %b Address:
  = @location.address
%p
  %b Balance:
  = @location.balance_cents
%p
  %b Status:
  = status_label(@location.status)

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
%p
= @workplaces.map{|p| p.name}.join(", ")
