.row
  .col-lg-4
    .card
      .card-header
        %b Location:
        = @location.name
        .float-right
          = link_to '', edit_location_path(@location), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@location).update?
      .card-body
        .text-center
          .fa.fa-industry.fa-4x
        %b Tel:
        = @location.tel
        %br
        %b Email:
        = @location.email
        %br
        %b Address:
        = @location.address
        %br
        %b Status:
        = status_label(@location.status)
    %p
  .col-lg-8
    = render 'home/calendar'