/- set_var 'locale', Tenant.current_tenant.locale
/- set_var 'events', @events.map{|e| {title: e.client.full_name.to_s + " (" + e.jobs.collect{|r| r.service.name}.join(",").to_s+")", start: e.starts_at, end: e.ends_at, url: event_path(e), color: e.status_color}}
/- set_var 'events', @jobs.map{|e| {title: e.event.client.full_name.to_s + " (" + e.service.name.to_s+")", start: e.event.starts_at, end: e.event.ends_at, url: event_path(e.event), color: e.event.status_color}}
- model_class = Location
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-map-marker-alt
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_location_path(@location), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@location).update?
          = link_to '', @location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@location).destroy?
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @location.name

        = status_label(@location.status)
        - if @location.online_booking?
          .badge.badge-success
            = model_class.human_attribute_name(:online_booking)
        - if @location.address.present?
          .row.mt-1
          .form-inline
            .fa.fa-map-marker-alt.mr.mr-2
            = @location.address_line
        - if @location.phone_number.present?
          .row.mt-1
          .form-inline
            = link_to "tel:#{@location.phone_number}", class: "btn btn-primary btn-block" do
              .fa.fa-phone.mr.mr-2
              #{number_to_phone(@location.phone_number)}
        - if @location.whatsapp.present?
          .row.mt-1
          /= link_to "https://api.whatsapp.com/send?phone=380505532698&text=&source=&data=", class: "button", :target => "_blank" do
          = link_to "https://wa.me/#{@location.whatsapp}", class: "btn btn-success btn-block", :target => "_blank" do
            .fab.fa-whatsapp
            WhatsApp
        - if @location.viber.present?
          .row.mt-1
          = link_to "viber://chat?number=#{@location.viber}", class: "btn btn-purple btn-block" do
            .fab.fa-viber
            Viber
        - if @location.telegram.present?
          .row.mt-1
          = link_to "tg://resolve?domain=#{@location.telegram}", class: "btn btn-info btn-block" do
            .fab.fa-telegram-plane
            Telegram
        - if @location.email.present?
          .row.mt-1
          = link_to "mailto:#{@location.email}", class: "btn btn-secondary btn-block" do
            .fa.fa-envelope
            = @location.email
        %hr
        /ADMIN - stats
        - if current_user.has_role?(:admin)
          .fa.fa-calendar-check
          = number_to_currency(@location.events_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          (#{@location.events_count})
          .row
          /.fa.fa-balance-scale
          .fas.fa-cash-register
          = number_to_currency(@location.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          /.row
          /.fa.fa-hand-holding-usd
    %p
/  .col-lg-8
/    %ul#myTab.nav.nav-tabs{:role => "tablist"}
/      %li.nav-item
/        %a#zero-tab.nav-link.active{"aria-controls" => "zero", "aria-selected" => "true", "data-toggle" => "tab", :href => "#zero", :role => "tab"}
/          .fa.fa-calendar-alt
/          = t('sidebar.calendar')
/    #myTabContent.tab-content
/      #zero.tab-pane.fade.show.active{"aria-labelledby" => "zero-tab", :role => "tabpanel"}
/        %br
/        #event_calendar
/