- set_var 'locale', Tenant.current_tenant.locale
- set_var 'events', @events.map{|e| {title: e.client.full_name.to_s + " (" + e.jobs.collect{|r| r.service.name}.join(",").to_s+")", start: e.starts_at, end: e.ends_at, url: event_path(e), color: e.status_color}}
/- set_var 'events', @jobs.map{|e| {title: e.event.client.full_name.to_s + " (" + e.service.name.to_s+")", start: e.event.starts_at, end: e.event.ends_at, url: event_path(e.event), color: e.event.status_color}}
- model_class = Location
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-map-marker-alt
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_location_path(@location), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@location).update?
          = link_to '', @location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@location).destroy?
      .card-body
        %b= model_class.human_attribute_name(:name) + ':'
        = @location.name
        %br
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = link_to "tel:#{@location.phone_number}", class: "button" do
          #{number_to_phone(@location.phone_number)}
        /%a{:href => "viber://chat?number=#{@location.phone_number}"}
        /  Viber
        %br
        %b= model_class.human_attribute_name(:email) + ':'
        %a{:href => "mailto:#{@location.email}"}= @location.email
        %br
        %b= model_class.human_attribute_name(:address) + ':'
        = @location.address
        %br
        %b= model_class.human_attribute_name(:status) + ':'
        = status_label(@location.status)
    %p
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#zero-tab.nav-link.active{"aria-controls" => "zero", "aria-selected" => "true", "data-toggle" => "tab", :href => "#zero", :role => "tab"}
          .fa.fa-calendar-alt
          = t('sidebar.calendar')
    #myTabContent.tab-content
      #zero.tab-pane.fade.show.active{"aria-labelledby" => "zero-tab", :role => "tabpanel"}
        %br
        #event_calendar
