%footer.bg-dark.text-white
  %hr
  .text-center
    = link_to t('header.sign_up'), new_user_registration_path(plan: 'demo'), class: 'btn btn-lg btn-warning'
    %hr
    %h5
      = t("footer.phone_consult")
    %a{:href => "tel:+48-537-628-023"} +48-537-628-023
  %hr
  .container.text-center.text-md-left
    .row
      .col-md-4.mx-auto
        %h5.text-uppercase.mt-3.mb-4= t("footer.product")
        %ul.list-unstyled
          = link_to t("footer.features"), features_path
          %p
          = link_to t("footer.pricing"), pricing_path
          %p
          = link_to t("footer.about"), about_path
      .col-md-4.mx-auto
        %h5.text-uppercase.mt-3.mb-4= t("footer.legal")
        %ul.list-unstyled
          = link_to t("footer.privacy_policy"), privacy_policy_path
          %p
          = link_to t("footer.terms_of_service"), terms_of_service_path
          %p
          = link_to t("footer.security"), security_path
      .col-md-4.mx-auto
        %h5.text-uppercase.mt-3.mb-4= t("footer.about_us")
        %ul.list-unstyled
          © 2018 - #{Time.now.year}
          %a{:href => "http://www.xlplan.com/"} XLPLAN.com
          %p
          = mail_to 'yshmarov@gmail.com'
          %p
          %a{:href => "tel:+48-537-628-023"}
            = succeed "+48-537-628-023" do
              %span.fa.fa-phone{:style => "padding-left:10px; padding-right:10px;"}
          %p
          %a{:href => "tel:+38-050-55-32-699"}
            = succeed "+38-050-55-32-699" do
              %span.fa.fa-phone{:style => "padding-left:10px; padding-right:10px;"}
          %hr.bg-light
          %li.list-inline-item
            = link_to "https://www.instagram.com/xlplan_com/", target: :_blank do
              %i.fab.fa-instagram{:style => "font-size:25px;color:white"}
          %li.list-inline-item
            = link_to "https://www.youtube.com/channel/UCPc7-Qx0mowN8EI8Yg7Lycw", target: :_blank do
              %i.fab.fa-youtube{:style => "font-size:25px;color:white"}
          %li.list-inline-item
            = link_to "https://www.linkedin.com/company/18937424/", target: :_blank do
              %i.fab.fa-linkedin{:style => "font-size:25px;color:white"}
          %li.list-inline-item
            = link_to "https://www.facebook.com/xlplan/", target: :_blank do
              %i.fab.fa-facebook{:style => "font-size:25px;color:white"}