%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %a.navbar-brand{:href => "/"}
    /= image_tag "jobdone.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "avatar"
    .fa.fa-calendar-check
    JobDone
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to "Features", root_path, class: "nav-link"
      %li.nav-item= link_to "Industries", root_path, class: "nav-link"
      %li.nav-item= link_to "Pricing", root_path, class: "nav-link"
      %li.nav-item= link_to "Why JobDone?", root_path, class: "nav-link"
    %ul.nav.navbar-nav.navbar-right
      %a.btn.btn-primary.mr-sm-2{:href => "tel:+48-537-628-023"}
        = succeed "+48-537-628-023" do
          %span.fa.fa-phone{:style => "padding-left:10px; padding-right:10px;"}
      .form-inline
        = link_to 'Log In', new_user_session_path, class: 'btn btn-light mr-sm-2'
        = link_to 'Sign up', new_user_registration_path(plan: 'free'), class: 'btn btn-light'
