%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary
  %a.text-dark.navbar-brand{:href => "/"}
    .text-white
      %i.far.fa-calendar-check
      .badge.badge-default.text-white XLPLAN
    /.text-secondary
    /  .fa-color-indigo
    /    .far.fa-calendar-check
    /    %b XLPLAN
    /= image_tag "logo and name.png", height: "25px", class: "mx-auto d-inline align-top", :alt => "logo"
    /= image_tag "logo.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "xlplan.com logo"
  - unless current_user
    .btn-group.mr-sm-2
      %a.btn.btn-default.text-white.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = I18n.locale.upcase
        /= request.env['HTTP_ACCEPT_LANGUAGE'].scan(/^[a-z]{2}/)[0]
        /= params['locale'].present?
        /= session['locale'].present?
        /= I18n.available_locales.map(&:to_s).include?(request.env['HTTP_ACCEPT_LANGUAGE'].scan(/^[a-z]{2}/)[0])
        %span.caret
      %ul.dropdown-menu
        - if I18n.locale != :en
          %a= link_to 'English', root_path(locale: 'en'), class: "dropdown-item"
        - if I18n.locale != :pl
          %a= link_to 'Polski', root_path(locale: 'pl'), class: "dropdown-item"
        - if I18n.locale != :ru
          %a= link_to 'Русский', root_path(locale: 'ru'), class: "dropdown-item"
  %button.navbar-toggler{"aria-controls" => "navCol", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navCol", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navCol.collapse.navbar-collapse
    - unless current_user
      %ul.navbar-nav.ml-md-auto.d-md-flex
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to features_path, class: "nav-link" do 
            %b= t('header.features')
        %li.nav-item
          = link_to pricing_path, class: "nav-link" do 
            %b= t('header.pricing')
      %ul.nav.navbar-nav.navbar-right
        = link_to t("header.sign_in"), new_user_session_path, class: 'btn btn-outline-danger mr-sm-2 text-light'
        /.mr.mt-1
        /= link_to t("header.sign_up"), new_user_registration_path, class: 'btn btn-danger mr-sm-2'
        /= link_to t("header.start"), new_user_registration_path, class: 'btn btn-danger mr-sm-2'
        .mr.mt-1
        = link_to t("header.apply_demo"), apply_path, class: 'btn btn-danger mr-sm-2'
    - else
      %ul.navbar-nav.ml-md-auto.d-md-flex
        %li.nav-item
          = link_to calendar_path, class: "nav-link" do 
            .fa.fa-calendar-check
            %b= t('sidebar.calendar')