%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.text-dark.navbar-brand{:href => "/"}
    %h3.text-secondary
      .fa-color-indigo
        .fa.fa-calendar-check
        XLPLAN
    /= image_tag "logo and name.png", height: "25px", class: "mx-auto d-inline align-top", :alt => "logo"
    /= image_tag "logo.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "xlplan.com logo"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-md-auto.d-md-flex
      .btn-group.mr-sm-2
        %a.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          = I18n.locale.upcase
          %span.caret
        %ul.dropdown-menu
          - if I18n.locale != :en
            %li.nav-item= link_to 'English', root_path(locale: 'en'), class: "nav-link"
          - if I18n.locale != :pl
            %li.nav-item= link_to 'Polski', root_path(locale: 'pl'), class: "nav-link"
          - if I18n.locale != :ru
            %li.nav-item= link_to 'Русский', root_path(locale: 'ru'), class: "nav-link"
      /= link_to 'Features', features_path, class: 'btn btn-warning mr-sm-2'
      /= link_to 'Pricing', pricing_path, class: 'btn btn-warning mr-sm-2'
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "/features"}
          %b Features
      %li.nav-item
        %a.nav-link{:href => "/pricing"}
          %b Pricing

    %ul.nav.navbar-nav.navbar-right
      /%a.btn.btn-light.mr-sm-2{:href => "tel:+48-537-628-023"}
      /  = succeed "+48-537-628-023" do
      /    %span.fa.fa-phone{:style => "padding-left:10px; padding-right:10px;"}
      = link_to 'Log In', new_user_session_path, class: 'btn btn-warning mr-sm-2'
      = link_to 'Sign up', new_user_registration_path(plan: 'demo'), class: 'btn btn-warning mr-sm-2'
    /%ul.navbar-nav.mr-auto.mt-2.mt-lg-0
    /  %li.nav-item.active
    /    %a.nav-link{:href => "#"}
    /      Home
    /      %span.sr-only (current)
    /  %li.nav-item
    /    %a.nav-link{:href => "#"} Link
