%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
  %a
    = link_to root_path, class: 'navbar-brand' do
      - if @tenant.logo.attached?
        = image_tag @tenant.logo, size: '20x20', alt: "logo", class: 'rounded'
      - else
        .fa.fa-calendar-check
      %small{:style => "word-break: break-all;"}= @tenant.name
  %a.navbar-toggler{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => ""}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.sidebar
    %ul.navbar-nav.ml-md-auto.d-md-flex
      /SEARCH IN NAVBAR
      = search_form_for @ransack_clients, as: :clients_search, url: clients_path do |f|
        .input-group
          = f.search_field :first_name_or_last_name_or_phone_number_or_email_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    %ul.navbar-nav.side-nav
      /CALENDAR
      %li{class: "#{'active font-weight-bold' if current_page?(calendar_member_path(current_user.member))}"}
        = link_to calendar_member_path(current_user.member), class: "nav-link" do 
          .fa-fw.fa-color-special.far.fa-calendar-alt
          = t('sidebar.calendar')
      /SEARCH CLIENT IN SIDEBAR
      /.input-group
      /  = search_form_for @ransack_clients, as: :clients_search, url: clients_path do |f|
      /    = f.search_field :first_name_or_last_name_or_phone_number_cont, class: 'form-control-sm', style: 'float: left; width: 140px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
      /    %span.input-group-append
      /      %button.btn.btn-primary.btn-sm{:type => "submit"}
      /        %span.fa.fa-search{"aria-hidden" => "true"}
      /CREATE NEW
      %li{class: "#{'active font-weight-bold' if current_page?(new_event_path)}"}
        = link_to new_event_path, class: "nav-link" do 
          .fa-fw.fa-color-special.fa.fa-plus.text-primary
          .fa-color-special.far.fa-calendar-alt.fa-fw
          = t('sidebar.new_event')
      %li{class: "#{'active font-weight-bold' if current_page?(new_client_path)}"}
        = link_to new_client_path, class: "nav-link" do 
          .fa-fw.fa-color-special.fa.fa-plus.text-primary
          .fa-color-special.far.fa-address-book.fa-fw
          = t('sidebar.new_client')
      %li{class: "#{'active font-weight-bold' if current_page?(new_transaction_path)}"}
        = link_to new_transaction_path, class: "nav-link" do 
          .fa-fw.fa-color-special.fa.fa-plus.text-primary
          .fa-color-special.fa.fa-hand-holding-usd.fa-fw
          = t('sidebar.new_payment')
      /LINKS WITH COUNTERS
      - if @event_close_count > 0
        %li{class: "#{'active font-weight-bold' if current_page?(close_events_path)}"}
          = link_to close_events_path, class: "nav-link" do
            .fa-fw.fa-color-special.far.fa-calendar-check
            #{t('sidebar.close_events')} #{content_tag :span, @event_close_count, class: 'badge badge-danger'} 
      - if @client_debtors_count > 0
        %li{class: "#{'active font-weight-bold' if current_page?(debtors_clients_path)}"}
          = link_to debtors_clients_path, class: "nav-link" do
            .fa-fw.fa-color-special.far.fa-address-book
            #{t('sidebar.debtors')} #{content_tag :span, @client_debtors_count, class: 'badge badge-danger'} 
      /LINKS
      %li{class: "#{'active font-weight-bold' if current_page?(clients_path)}"}
        = link_to clients_path, class: "nav-link" do 
          .fa-fw.fa-color-special.far.fa-address-book
          = t('sidebar.clients')
      /%li{class: "#{'active font-weight-bold' if controller_name == "members"}"}
      %li{class: "#{'active font-weight-bold' if current_page?(members_path)}"}
        = link_to members_path, class: "nav-link" do 
          .fa-fw.fa-color-special.fa.fa-users
          = t('sidebar.members')
      %li{class: "#{'active font-weight-bold' if controller_name == "services"}"}
        = link_to services_path, class: "nav-link" do 
          .fa-fw.fa-color-special.far.fa-hand-paper
          = t('sidebar.services')
      %li{class: "#{'active font-weight-bold' if current_page?(leads_path)}"}
        = link_to leads_path, class: "nav-link" do
          .fa-fw.fa-color-special.fa.fa-globe-africa
          #{t('sidebar.leads')} 
          - if @lead_active_no_client_count > 0
            #{content_tag :span, @lead_active_no_client_count, class: 'badge badge-danger'} 
      %li.nav-item.dropdown
        %a#navbarDropdown7.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-fw.fa-color-special.fa.fa-chevron-circle-down
          #{t('sidebar.more')}
        .dropdown-menu#sidebardropdown{"aria-labelledby" => "navbarDropdown7"}
          = link_to booking_show_path(@tenant), class: "dropdown-item" do 
            .fa.fa-globe-africa
            = t('sidebar.public_page')
          = link_to events_path, class: "dropdown-item" do 
            .fa.fa-calendar-alt
            = t('sidebar.events')
          = link_to transactions_path, class: "dropdown-item" do 
            .fa.fa-exchange-alt
            = t('sidebar.transactions')
          = link_to cash_accounts_path, class: "dropdown-item" do 
            .fa.fa-cash-register
            = t('sidebar.cash_accounts')
          = link_to locations_path, class: "dropdown-item" do 
            .fa.fa-map-marker-alt
            = t('sidebar.locations')
          = link_to service_categories_path, class: "dropdown-item" do 
            .far.fa-hand-paper
            = t('sidebar.service_categories')
          = link_to activity_path, class: "dropdown-item" do 
            .fa.fa-history
            = t('sidebar.activity')
          = link_to contacts_path, class: "dropdown-item" do 
            .fa.fa-user-plus
            = t('sidebar.import_contacts')
          = link_to after_signup_wizard_path(:tenant_settings), class: 'dropdown-item' do
            .fa.fa-rocket
            = t('sidebar.start')
      %li.nav-item.dropdown
        %a#navbarDropdown2.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-fw.fa-color-special.fa.fa-chart-line
          #{t('sidebar.stats')}
          .badge.badge-dark admin
        .dropdown-menu#sidebardropdown{"aria-labelledby" => "navbarDropdown2"}
          = link_to dashboard_member_salary_path, class: "dropdown-item" do 
            .fa.fa-dollar-sign
            .fa.fa-users
            = t('dashboard.member_salary.member_salary')
          = link_to dashboard_transaction_stats_path, class: "dropdown-item" do 
            .fa.fa-chart-line
            .fa.fa-exchange-alt
            = t('sidebar.transactions')
          = link_to dashboard_event_stats_path, class: "dropdown-item" do 
            .fa.fa-chart-line
            .far.fa-calendar-alt
            = t('sidebar.events')
          = link_to dashboard_client_stats_path, class: "dropdown-item" do 
            .fa.fa-chart-line
            .far.fa-address-book
            = t('sidebar.clients')
          = link_to dashboard_member_stats_path, class: "dropdown-item" do 
            .fa.fa-chart-line
            .fa.fa-users
            = t('sidebar.members')
          = link_to dashboard_lead_stats_path, class: "dropdown-item" do 
            .fa.fa-chart-line
            .fa.fa-globe-africa
            = t('sidebar.online_booking')
        %li{class: "#{'active font-weight-bold' if current_page?(settings_show_path)}"}
          = link_to settings_show_path, class: "nav-link" do 
            .fa-fw.fa-color-special.fa.fa-cog
            = t('sidebar.settings')
            .badge.badge-dark admin
        %li.nav-item
          = link_to "https://xlplan.corsego.com", target: :_blank, class: "nav-link" do
            %small
              powered by XLPLAN
            = plan_label(@tenant.plan)
    %ul.navbar-nav.ml-md-auto.d-md-flex
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-color-special.fa.fa-user
          = current_user.member.short_name
        .dropdown-menu.dropdown-menu-right#sidebardropdown{"aria-labelledby" => "navbarDropdown"}
          = link_to t('sidebar.my_page'), member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.profile_settings'), edit_member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.account_settings'), edit_user_registration_path, class: "dropdown-item"
          = link_to t('sidebar.logout'), destroy_user_session_path, :method => :delete, class: "dropdown-item"
      ///alternative dropdown
      /%a.nav-link.btn.dropdown-toggle{"data-target" => "#stats", "data-toggle" => "collapse"}
      /  .fa-color-special.fa.fa-chart-line
      /  #{t('sidebar.stats')}
      /%ul#stats.sub-menu.collapse
      /  .nav-item= link_to "<i class='fa-color-special fa-fw fa fa-hand-holding-usd'></i> #{t('sidebar.transactions')}".html_safe, dashboard_payments_path, class: "nav-link"
      /%li.nav-item.dropdown
      /  %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Dropdown
      /  .dropdown-menu
      /    %a.dropdown-item{:href => "#"} Link 1
