%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "/"}
    .fa.fa-calendar-check
    MrJobber
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul.navbar-nav.ml-md-auto.d-md-flex
      .text-light
        .badge.badge-default
          = @org_name
        \|
        .badge.badge-default
          = Tenant.current_tenant.plan
    %ul.navbar-nav.ml-md-auto.d-md-flex
      .input-group
        = search_form_for @ransack_clients, as: :clients_search, url: search_clients_path, html: { method: :post }  do |f|
          = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 100%; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
          .input-group-append
            %button.btn.btn-success{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    %ul.navbar-nav.side-nav
      %li.nav-item= link_to "<i class='fa fa-calendar-plus'></i> #{t('sidebar.new_event')}".html_safe, new_event_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-user-plus'></i> #{t('sidebar.new_client')}".html_safe, new_client_path, class: "nav-link"
      /%li.nav-item= link_to "<i class='fa fa-rocket'></i> Start".html_safe, start_path, class: "nav-link" if current_user.has_role?(:admin)
      /%li.nav-item= link_to "<i class='fa fa-calendar-alt'></i> #{t('sidebar.calendar')}".html_safe, calendar_path(q: {jobs_member_id_eq: current_user.member.id}), class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-calendar-alt'></i> #{t('sidebar.calendar')}".html_safe, calendar_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-calendar-check'></i> #{t('sidebar.checkout_events')}: #{Event.checkout.count}".html_safe, checkout_events_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-calendar'></i> #{t('sidebar.events')}".html_safe, events_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-user'></i> #{t('sidebar.clients')}".html_safe, clients_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-user-tie'></i> #{t('sidebar.members')}".html_safe, members_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-hand-paper'></i> #{t('sidebar.services')}".html_safe, services_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-industry'></i> #{t('sidebar.locations')}".html_safe, locations_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-dollar-sign'></i> #{t('sidebar.inbound_payments')}".html_safe, inbound_payments_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-bell'></i> #{t('sidebar.activity')}".html_safe, activity_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-cog'></i> #{t('sidebar.organization')}".html_safe, organization_show_path, class: "nav-link" if current_user.has_role?(:admin)
      - if current_user.has_role?(:admin)
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .fa.fa-chart-line
            #{t('sidebar.stats')}
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to "#{t('sidebar.finances')}", stats_finances_path, class: "dropdown-item navdrop-link"
            = link_to "#{t('sidebar.members')}", stats_members_path, class: "dropdown-item navdrop-link"
            = link_to "#{t('sidebar.events')}", stats_events_path, class: "dropdown-item navdrop-link"
            = link_to "#{t('sidebar.clients')}", stats_clients_path, class: "dropdown-item navdrop-link"
    /- unless Event.any?
    /  %ul.navbar-nav.ml-md-auto.d-md-flex
    /    %li.nav-item= link_to "<i class='fa fa-rocket'></i>".html_safe, organization_show_path, class: "nav-link" if current_user.has_role?(:admin)
    %ul.navbar-nav.ml-md-auto.d-md-flex
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa.fa-user
          = current_user.member.full_name
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to t('sidebar.my_page'), member_path(current_user.member), class: "dropdown-item navdrop-link"
          = link_to t('sidebar.profile_settings'), edit_member_path(current_user.member), class: "dropdown-item navdrop-link"
          = link_to t('sidebar.account_settings'), edit_user_registration_path, class: "dropdown-item navdrop-link"
          = link_to t('sidebar.logout'), destroy_user_session_path, :method => :delete, class: "dropdown-item navdrop-link"