%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "/"}
    .fa.fa-calendar-check
    JobDone
    \|
    .badge.badge-default
      = Tenant.current_tenant.name
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul.navbar-nav.side-nav
      /%li.nav-item= link_to "Mark attendance: #{Job.mark_attendance.count}", mark_attendance_jobs_path, class: "nav-link btn btn-light btn-sm text-dark mr-sm-2"
      %li.nav-item= link_to "<i class='fa fa-calendar-check'></i> Mark attendance: #{Job.mark_attendance.count}".html_safe, mark_attendance_jobs_path, class: "nav-link"

      %li.nav-item= link_to "<i class='fa fa-calendar'></i> Calendar".html_safe, calendar_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-tachometer-alt'></i> Dashboard".html_safe, dashboard_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-user'></i> Clients".html_safe, clients_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-calendar-check'></i> Jobs".html_safe, jobs_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-user-tie'></i> Members".html_safe, members_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-tag'></i> Services".html_safe, services_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-industry'></i> Locations".html_safe, locations_path, class: "nav-link"
      %li.nav-item= link_to "<i class='fa fa-bell'></i> Activity".html_safe, activity_path, class: "nav-link"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa.fa-chart-line
          Stats
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to "Finances", stats_finances_path, class: "dropdown-item navdrop-link"
          %hr
          = link_to "Clients", stats_clients_path, class: "dropdown-item navdrop-link"
          = link_to "Jobs", stats_jobs_path, class: "dropdown-item navdrop-link"
          = link_to "Members", stats_members_path, class: "dropdown-item navdrop-link"
          = link_to "Services", stats_services_path, class: "dropdown-item navdrop-link"
          = link_to "Locations", stats_locations_path, class: "dropdown-item navdrop-link"
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa.fa-cog
          Settings
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to "Show Company", organization_show_path, class: "dropdown-item navdrop-link"
          = link_to "Edit Company", edit_plan_path, class: "dropdown-item navdrop-link"
          = link_to "Service Categories", service_categories_path, class: "dropdown-item navdrop-link"
    %ul.navbar-nav.justify-content-end
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          + New
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to "+ New Job", new_job_path, class: "dropdown-item navdrop-link"
          = link_to "+ New Client", new_client_path, class: "dropdown-item navdrop-link"
          %hr
          = link_to "+ New Member", new_member_path, class: "dropdown-item navdrop-link"
          = link_to "+ New Service", new_service_path, class: "dropdown-item navdrop-link"
          = link_to "+ New Location", new_location_path, class: "dropdown-item navdrop-link"
      /%li.nav-item= link_to "Mark attendance: #{Job.mark_attendance.count}", mark_attendance_jobs_path, class: "nav-link btn btn-light btn-sm text-dark mr-sm-2"

      .input-group
        = search_form_for @ransack_clients, as: :clients_search, url: search_clients_path, html: { method: :post }  do |f|
          = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: "Search Client", :autocomplete => :off
          .input-group-append
            %button.btn.btn-outline-secondary{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}

    %ul.navbar-nav.ml-md-auto.d-md-flex
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa.fa-user
          = current_user.member.full_name
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to 'My page', member_path(current_user.member), class: "dropdown-item navdrop-link"
          = link_to 'Profile Settings', edit_member_path(current_user.member), class: "dropdown-item navdrop-link"
          = link_to 'Account Settings', edit_user_registration_path, class: "dropdown-item navdrop-link"
          = link_to "Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item navdrop-link"
