%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
  %a.navbar-brand{:href => "/"}
    /= image_tag "logo and name.png", height: "25px", class: "mx-auto d-inline align-top", :alt => "logo"
    - if Tenant.current_tenant.logo.attached?
      = image_tag Tenant.current_tenant.logo, height: "30px", class: "mx-auto d-inline align-top rounded"
    - else
      %i.far.fa-calendar-check
    .badge.badge-default 
      XLPLAN
      = plan_label(Tenant.current_tenant.plan)
      = Tenant.current_tenant.name
      /= @org_name
    /zubCRM
    /= request.referer
    /= request.user_agent
    /= request.remote_ip
    /= request.env['HTTP_USER_AGENT']
    /= link_to plan_label(Tenant.current_tenant.plan), edit_plan_path, class: 'badge badge-default'
    /%ul.navbar-nav
    /= Time.now.in_time_zone(current_user.time_zone)
    /= Time.now
    /= Time.current
    /= Time.zone
    /= Time.zone.now
    /= Time.now.in_time_zone
  %a.navbar-toggler{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => ""}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.sidebar
    - if Tenant.current_tenant.plan == "demo"
      .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-shopping-cart'></i> #{t('sidebar.order_system')}".html_safe, edit_plan_path, class: 'btn btn-sm btn-danger mb-1 mt-1'
    %ul.navbar-nav.ml-md-auto.d-md-flex
      = search_form_for @ransack_clients, as: :clients_search, url: search_clients_path, html: { method: :post }  do |f|
        .input-group
          = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    %ul.navbar-nav.side-nav
      ///alternative dropdown
      /%a.nav-link.btn.dropdown-toggle{"data-target" => "#stats", "data-toggle" => "collapse"}
      /  .fa-color-1.fa.fa-chart-line
      /  #{t('sidebar.stats')}
      /%ul#stats.sub-menu.collapse
      /  .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-hand-holding-usd'></i> #{t('sidebar.inbound_payments')}".html_safe, dashboard_payments_path, class: "nav-link"
      /  .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-calendar'></i> #{t('sidebar.events')}".html_safe, dashboard_events_path, class: "nav-link"
      /  .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-user'></i> #{t('sidebar.clients')}".html_safe, dashboard_clients_path, class: "nav-link"
      /  .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-user-tie'></i> #{t('sidebar.members')}".html_safe, dashboard_members_path, class: "nav-link"
      /CALENDAR
      %li.nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-calendar-alt'></i> #{t('sidebar.calendar')}".html_safe, calendar_path, class: "nav-link"
      /DASHBOARD
      %li.nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-tachometer-alt'></i> #{t('sidebar.dashboard')}".html_safe, dashboard_path, class: "nav-link"
      /SEARCH CLIENT IN SIDEBAR
      /.input-group
      /  = search_form_for @ransack_clients, as: :clients_search, url: search_clients_path, html: { method: :post }  do |f|
      /    = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
      /    %span.input-group-append
      /      %button.btn.btn-secondary{:type => "submit"}
      /        %span.fa.fa-search{"aria-hidden" => "true"}
      /CREATE NEW
      %li.nav-item
        = link_to new_event_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-plus
          .fa-color-1.fa-fw.fa.fa-calendar
          %b= t('sidebar.new_event')
      %li.nav-item
        = link_to new_client_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-plus
          .fa-color-1.fa-fw.far.fa-address-book
          %b= t('sidebar.new_client')
      %li.nav-item
        = link_to new_inbound_payment_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-plus
          .fa-color-1.fa-fw.fa.fa-hand-holding-usd
          %b= t('sidebar.new_payment')
      /LINKS WITH COUNTERS
      - if Tenant.current_tenant.online_booking
        %li
          = link_to leads_path, class: "nav-link" do
            .fa-color-1.fa-fw.fa.fa-globe-africa
            #{t('sidebar.online_booking')} #{content_tag :span, Lead.count, class: 'badge badge-danger'} 
      - if Event.close.count > 0
        %li
          = link_to close_events_path, class: "nav-link" do
            .fa-color-1.fa-fw.fa.fa-calendar-check
            #{t('sidebar.close_events')} #{content_tag :span, Event.close.count, class: 'badge badge-danger'} 
      - if Client.debtors.count > 0
        %li
          = link_to debtors_clients_path, class: "nav-link" do
            .fa-color-1.fa-fw.far.fa-address-book
            #{t('sidebar.debtors')} #{content_tag :span, Client.debtors.count, class: 'badge badge-danger'} 
      /LINKS
      %li.nav-item
        = link_to clients_path, class: "nav-link" do 
          .fa-color-1.fa-fw.far.fa-address-book
          = t('sidebar.clients')
      %li.nav-item
        = link_to members_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-user-tie
          = t('sidebar.members')
      %li.nav-item
        = link_to services_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-hand-paper
          = t('sidebar.services')
      %li.nav-item
        = link_to locations_path, class: "nav-link" do 
          .fa-color-1.fa-fw.fa.fa-map-marker-alt
          = t('sidebar.locations')
      %li.nav-item.dropdown
        %a#navbarDropdown3.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-color-1.fa.fa-chevron-circle-down
          #{t('sidebar.more')}
        .dropdown-menu{"aria-labelledby" => "navbarDropdown3"}
          = link_to events_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-calendar-alt
            = t('sidebar.all_events')
          = link_to inbound_payments_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-hand-holding-usd
            = t('sidebar.all_inbound_payments')
          = link_to expences_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-dollar-sign
            = t('sidebar.all_expences')
          = link_to service_categories_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-hand-paper
            = t('sidebar.service_categories')
          /.dropdown-divider
          = link_to leads_path, class: "dropdown-item navdrop-link" do
            .fa-fw.fa.fa-globe-africa
            #{t('sidebar.online_booking')} 
          = link_to contacts_list_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-user-plus
            = t('sidebar.import_contacts')
          = link_to activity_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-bell
            = t('sidebar.activity')
          = link_to start_path, class: "dropdown-item navdrop-link" do 
            .fa-fw.fa.fa-rocket
            = t('sidebar.start')
      - if current_user.has_role?(:admin)
        %li.nav-item
          = link_to settings_show_path, class: "nav-link" do 
            .fa-color-1.fa-fw.fa.fa-cog
            = t('sidebar.settings')
            /%small= Tenant.current_tenant.name
            .badge.badge-dark admin
        %li.nav-item.dropdown
          %a#navbarDropdown2.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .fa-color-1.fa.fa-chart-line
            #{t('sidebar.stats')}
            .badge.badge-dark admin
          .dropdown-menu{"aria-labelledby" => "navbarDropdown2"}
            = link_to dashboard_payment_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.fa.fa-hand-holding-usd
              = t('sidebar.inbound_payments')
            = link_to dashboard_expence_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.fa.fa-dollar-sign
              = t('sidebar.expences')
            = link_to dashboard_event_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.fa.fa-calendar-alt
              = t('sidebar.events')
            = link_to dashboard_client_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.far.fa-address-book
              = t('sidebar.clients')
            = link_to dashboard_member_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.fa.fa-user-tie
              = t('sidebar.members')
            = link_to dashboard_lead_stats_path, class: "dropdown-item navdrop-link" do 
              .fa-fw.fa.fa-chart-line
              .fa-fw.fa.fa-globe-africa
              = t('sidebar.online_booking')
    %ul.navbar-nav.ml-md-auto.d-md-flex
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-color-1.fa-fw.fa.fa-user
          /- if user_signed_in? && current_user.member.present?
          /- if user_signed_in?
          = current_user.member.short_name
          /- if current_user.has_role?(:admin)
          /  .badge.badge-dark admin
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          = link_to t('sidebar.my_page'), member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.profile_settings'), edit_member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.account_settings'), edit_user_registration_path, class: "dropdown-item"
          = link_to t('sidebar.logout'), destroy_user_session_path, :method => :delete, class: "dropdown-item"
