%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
  %a.navbar-brand{:href => "/"}
    /= image_tag "logo and name.png", height: "25px", class: "mx-auto d-inline align-top", :alt => "logo"
    %i.far.fa-calendar-check
    .badge.badge-default 
      XLPLAN
  %a.navbar-toggler{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => ""}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.sidebar
    /  - if Tenant.current_tenant.logo.attached?
    /    = image_tag Tenant.current_tenant.logo, height: "30px", class: "mx-auto d-inline align-top rounded"
    .badge.badge-default.text-white
      = link_to @org_name, calendar_path, class: 'text-white'
      = plan_label(Tenant.current_tenant.plan)
    /- if Tenant.current_tenant.plan == "demo"
    /  - if current_user.has_role?(:admin)
    /    .nav-item
    /      = link_to edit_plan_path, class: 'btn btn-sm btn-danger mb-1 mt-1 ml-1' do
    /        .fa.fa-shopping-cart
    /        = t('sidebar.order_system')
    %ul.navbar-nav.ml-md-auto.d-md-flex
      = search_form_for @ransack_clients, as: :clients_search, url: clients_path do |f|
        .input-group
          = f.search_field :first_name_or_last_name_or_phone_number_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    %ul.navbar-nav.side-nav
      /CALENDAR
      %li.nav-item.dropdown
        %a#navbarDropdown3.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-fw.fa-color-1.far.fa-calendar-alt
          #{t('sidebar.calendar')}
        .dropdown-menu#sidebardropdown{"aria-labelledby" => "navbarDropdown3"}
          = link_to calendar_member_path(id: current_user.member.id), class: "dropdown-item" do
            .far.fa-calendar-alt
            = current_user.member.short_name
          = link_to calendar_path, class: "dropdown-item" do
            .far.fa-calendar-alt
            = t('sidebar.members')
          = link_to workplaces_path, class: "dropdown-item" do
            .far.fa-calendar-alt
            = t('locations.show.workplaces')
      /SEARCH CLIENT IN SIDEBAR
      /.input-group
      /  = search_form_for @ransack_clients, as: :clients_search, url: clients_path do |f|
      /    = f.search_field :first_name_or_last_name_or_phone_number_cont, class: 'form-control-sm', style: 'float: left; width: 140px; ', placeholder: t('sidebar.search_client'), :autocomplete => :off
      /    %span.input-group-append
      /      %button.btn.btn-primary.btn-sm{:type => "submit"}
      /        %span.fa.fa-search{"aria-hidden" => "true"}
      /CREATE NEW
      %li.nav-item
        = link_to new_event_path, class: "nav-link" do 
          .fa-fw.fa-color-1.fa.fa-plus.text-primary
          .fa-color-1.far.fa-calendar-check.fa-fw
          %b= t('sidebar.new_event')
      %li.nav-item
        = link_to new_client_path, class: "nav-link" do 
          .fa-fw.fa-color-1.fa.fa-plus.text-primary
          .fa-color-1.far.fa-address-book.fa-fw
          %b= t('sidebar.new_client')
      %li.nav-item
        = link_to new_transaction_path, class: "nav-link" do 
          .fa-fw.fa-color-1.fa.fa-plus.text-primary
          .fa-color-1.fa.fa-hand-holding-usd.fa-fw
          %b= t('sidebar.new_payment')
      /LINKS WITH COUNTERS
      - if Event.close.count > 0
        %li
          = link_to close_events_path, class: "nav-link" do
            .fa-fw.fa-color-1.far.fa-calendar-check
            #{t('sidebar.close_events')} #{content_tag :span, Event.close.count, class: 'badge badge-danger'} 
      - if Client.debtors.count > 0
        %li
          = link_to debtors_clients_path, class: "nav-link" do
            .fa-fw.fa-color-1.far.fa-address-book
            #{t('sidebar.debtors')} #{content_tag :span, Client.debtors.count, class: 'badge badge-danger'} 
      - if Lead.has_no_client.count > 0
        %li
          = link_to leads_path, class: "nav-link" do
            .fa-fw.fa-color-1.fa.fa-globe-africa
            #{t('sidebar.online_booking')} 
            #{content_tag :span, Lead.count, class: 'badge badge-danger'} 
      /LINKS
      %li.nav-item
        = link_to clients_path, class: "nav-link" do 
          .fa-fw.fa-color-1.far.fa-address-book
          = t('sidebar.clients')
      %li.nav-item
        = link_to members_path, class: "nav-link" do 
          .fa-fw.fa-color-1.fa.fa-users
          = t('sidebar.members')
      %li.nav-item
        = link_to services_path, class: "nav-link" do 
          .fa-fw.fa-color-1.fa.fa-hand-paper
          = t('sidebar.services')
      %li.nav-item.dropdown
        %a#navbarDropdown7.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-fw.fa-color-1.fa.fa-chevron-circle-down
          #{t('sidebar.more')}
        .dropdown-menu#sidebardropdown{"aria-labelledby" => "navbarDropdown7"}
          = link_to events_path, class: "dropdown-item" do 
            .fa.fa-calendar-alt
            = t('sidebar.events')
          = link_to transactions_path, class: "dropdown-item" do 
            .fa.fa-hand-holding-usd
            = t('sidebar.transactions')
          = link_to locations_path, class: "dropdown-item" do 
            .fa.fa-map-marker-alt
            = t('sidebar.locations')
          = link_to service_categories_path, class: "dropdown-item" do 
            .fa.fa-hand-paper
            = t('sidebar.service_categories')
          = link_to activity_path, class: "dropdown-item" do 
            .fa.fa-bell
            = t('sidebar.activity')
          = link_to start_path, class: "dropdown-item" do 
            .fa.fa-rocket
            = t('sidebar.start')
          = link_to contacts_list_path, class: "dropdown-item" do 
            .fa.fa-user-plus
            = t('sidebar.import_contacts')
      - if current_user.has_role?(:admin)
        %li.nav-item.dropdown
          %a#navbarDropdown2.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .fa-fw.fa-color-1.fa.fa-chart-line
            #{t('sidebar.stats')}
            .badge.badge-dark admin
          .dropdown-menu#sidebardropdown{"aria-labelledby" => "navbarDropdown2"}
            = link_to dashboard_member_salary_path, class: "dropdown-item" do 
              .fa.fa-dollar-sign
              .fa.fa-users
              = t('dashboard.member_salary.member_salary')
            = link_to dashboard_transaction_stats_path, class: "dropdown-item" do 
              .fa.fa-chart-line
              .fa.fa-hand-holding-usd
              = t('sidebar.transactions')
            = link_to dashboard_event_stats_path, class: "dropdown-item" do 
              .fa.fa-chart-line
              .fa.fa-calendar-alt
              = t('sidebar.events')
            = link_to dashboard_client_stats_path, class: "dropdown-item" do 
              .fa.fa-chart-line
              .fa.fa-address-book
              = t('sidebar.clients')
            = link_to dashboard_member_stats_path, class: "dropdown-item" do 
              .fa.fa-chart-line
              .fa.fa-users
              = t('sidebar.members')
            = link_to dashboard_lead_stats_path, class: "dropdown-item" do 
              .fa.fa-chart-line
              .fa.fa-globe-africa
              = t('sidebar.online_booking')
        %li.nav-item
          = link_to settings_show_path, class: "nav-link" do 
            .fa-fw.fa-color-1.fa.fa-cog
            = t('sidebar.settings')
            .badge.badge-dark admin
    %ul.navbar-nav.ml-md-auto.d-md-flex
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          .fa-color-1.fa.fa-user
          = current_user.member.short_name
        .dropdown-menu.dropdown-menu-right#sidebardropdown{"aria-labelledby" => "navbarDropdown"}
          = link_to t('sidebar.my_page'), member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.profile_settings'), edit_member_path(current_user.member), class: "dropdown-item"
          = link_to t('sidebar.account_settings'), edit_user_registration_path, class: "dropdown-item"
          = link_to t('sidebar.logout'), destroy_user_session_path, :method => :delete, class: "dropdown-item"
      ///alternative dropdown
      /%a.nav-link.btn.dropdown-toggle{"data-target" => "#stats", "data-toggle" => "collapse"}
      /  .fa-color-1.fa.fa-chart-line
      /  #{t('sidebar.stats')}
      /%ul#stats.sub-menu.collapse
      /  .nav-item= link_to "<i class='fa-color-1 fa-fw fa fa-hand-holding-usd'></i> #{t('sidebar.transactions')}".html_safe, dashboard_payments_path, class: "nav-link"
