!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title 
      = content_for?(:title) ? yield(:title) : "JobDone - service business management"
    /.fa.fa-calendar
    /= favicon_link_tag 'jobdone.png'
    /= favicon_link_tag '', class: 'fa fa-calendar'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-light
    = render 'layouts/header'
    = render 'layouts/messages'
    /%p.notice= notice
    /%p.alert= alert
    .container
      = yield
