!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{yield(:description)}", :name => "description"}/
    %meta{:content => "#{yield(:keywords)}", :name => "keywords"}/
    %meta{:content => "XLPLAN.com", :name => "author"}/
    %title 
      - if Tenant.current_tenant && current_user
        = content_for?(:title) ? yield(:title) : "XLPLAN | #{Tenant.current_tenant.name}"
      - else
        = content_for?(:title) ? yield(:title) : "XLPLAN | CRM for service business management"
    = favicon_link_tag 'logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
    /needed on static_pages and on devise registration. does not work well with turbolinks
    /= render 'layouts/chaport'
  %body
    - if user_signed_in? && current_user.member.present?
      /- if current_user
      /- unless Tenant.current_tenant.nil?
      #wrapper
        = render 'layouts/sidebar'
        = render 'layouts/messages'
        - unless current_user.confirmed_at
          = render 'layouts/not_confirmed'
        - unless Tenant.current_tenant.onboarding_percent == 100
          = render 'layouts/getting_started'
        /- if Tenant.current_tenant.plan = "demo" && (Tenant.current_tenant.created_at+7.days) < Time.now
        /X demo days left. Order system 
        = yield
        = rjv_tags
    - else
      #padding-50
      /further code is not under wrapper, so that wrapper gives only padding-top
      = render 'layouts/header'
      = render 'layouts/messages'
      = yield
      = rjv_tags
      = render 'layouts/footer'