!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title 
      - if current_user
        = content_for?(:title) ? yield(:title) : "xlplan | #{Tenant.current_tenant.name}"
      - else
        = content_for?(:title) ? yield(:title) : "xlplan | CRM for service business"
    = favicon_link_tag 'logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      #wrapper
        = render 'layouts/sidebar'
        = render 'layouts/messages'
        = yield
        = rjv_tags
    - else
      = render 'layouts/header'
      = render 'layouts/messages'
      .container-fluid
        = yield
      = render 'layouts/footer'
