!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{yield(:description)}", :name => "description"}/
    %meta{:content => "#{yield(:keywords)}", :name => "keywords"}/
    %meta{:content => "XLPLAN.com", :name => "author"}/
    %title 
      - if current_user
        = content_for?(:title) ? yield(:title) : "XLPLAN | #{Tenant.current_tenant.name}"
      - else
        = content_for?(:title) ? yield(:title) : "XLPLAN | CRM for service business"
    = favicon_link_tag 'logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      #wrapper
        = render 'layouts/sidebar'
        = render 'layouts/messages'
        - unless current_user.confirmed_at
          .card.card-header.bg-warning
            Confirm your email #{@current_user.email}
            = link_to "Didn't receive confirmation instructions?", new_user_confirmation_path
          %p
        = yield
        = rjv_tags
    - else
      #wrapper
      /further code is not under wrapper, so that wrapper gives only padding-top
      = render 'layouts/header'
      = render 'layouts/messages'
      .container-fluid
        = yield
