-# frozen_string_literal: true
= simple_form_for(@member) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :last_name, autofocus: true
    = f.input :first_name
    = f.input :phone_number
    = f.input :email
    = f.label :location
    = f.error :location, class: 'text-danger'
    = f.select :location_id, Location.all.map{|c| [c.name, c.id]}, {include_blank: Location.all.length > 1}, class: 'selectize'
    = f.label :'Date of birth'
    = f.date_field :date_of_birth, value: @member.date_of_birth || nil, class: "form-control"
    %p
    = f.label :'gender'
    %br
    = f.radio_button :gender, 'undisclosed'
    = f.label :gender_undisclosed, "Undisclosed"
    = f.radio_button :gender, 'female'
    = f.label :gender_female, "Female"
    = f.radio_button :gender, 'male'
    = f.label :gender_male, "Male"
    = f.radio_button :gender, 'other'
    = f.label :gender_other, "Other"
    = f.input :address
    = f.input :status, :as => :radio_buttons, :collection => Client.statuses.keys.to_a, label:false

    = f.label :skills
    = f.select :service_category_ids, ServiceCategory.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" }

  %br
  .form-actions
    = f.button :submit, class: "btn btn-success", title: 'Create', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
