= simple_form_for(@member) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :phone_number
    = f.input :email
    = f.label :date_of_birth
    = f.date_field :date_of_birth, value: @member.date_of_birth || nil, class: "form-control"
    %p
    = f.label :gender
    %br
    = f.radio_button :gender, 'Undisclosed'
    = f.label :gender_undisclosed
    = f.radio_button :gender, 'Female'
    = f.label :gender_female
    = f.radio_button :gender, 'Male'
    = f.label :gender_male
    = f.radio_button :gender, 'Other'
    = f.label :gender_other
    / #### ADDRESS FIELD STARTS HERE ####
    .fields
      = f.fields_for :address, OpenStruct.new(f.object.address || {}) do |a|
        = f.label :country
        = a.text_field :country, id: :country
        = f.label :city
        = a.text_field :city, id: :city
        = f.label :street
        = a.text_field :street, id: :street
        = f.label :zip
        = a.text_field :zip, id: :zip
    / #### ADDRESS FIELD ENDS HERE ####

    /= f.input :status, :as => :radio_buttons, :collection => Member.statuses.keys.to_a, label:false

    /= f.label :skills
    /= f.select :service_category_ids, ServiceCategory.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" }

    /= f.label :location_id
    /= f.error :location, class: 'text-danger'
    /= f.select :location_id, Location.all.map{|c| [c.name, c.id]}, {include_blank: Location.all.length > 1}, class: 'selectize'
  %hr
  .form-actions
    = f.button :submit, class: "btn btn-success"