- model_class = Member
= search_form_for @ransack_members, as: :members_search, url: members_path do |f|
  .card.bg-light
    .card-header
      .row
        .col-md-4
          %h5
            .fa.fa-user-tie
            %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
            .badge.badge-info
              = @members.count
        .col-md-4
          .input-group
            = f.search_field :first_name_or_last_name_or_phone_number_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: t('.search_member'), :autocomplete => :off
            %span.input-group-append
              %button.btn.btn-secondary{:type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        .col-md-4
          .mr.mt-1.float-right
            - if params.has_key?(:members_search)
              = link_to '', members_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
            - if policy(Member).create?
              - if (Tenant.current_tenant.can_create_members?)
                = link_to t('.new', :default => t("helpers.links.new")), new_member_path, class: 'btn btn-sm btn-primary'
              - else
                = link_to "<i class='fa-fw fa fa-lock'></i> #{t("helpers.links.new")}".html_safe, edit_plan_path, class: "btn btn-sm btn-danger"
- @members.each do |member|
  .card
    .card-header.bg-light
      .row
        /contacts
        .col-md-3
          /- if member.user_online.present?
          /  %i.fa.fa-fire{:style => "color:red;"}
          /  /%i.far.fa-circle{:style => "color:green;"}
          /- if member.id == current_user.member.id
          /  .fa.fa-user
          = link_to member.full_name, member_path(member) if policy(member).show?
          = active_label(member.active)
          - if member.online_booking?
            .badge.badge-success
              = model_class.human_attribute_name(:online_booking)
          - if member.phone_number.present?
            .row
            .fa.fa-phone
            = link_to "tel:#{member.phone_number}", class: "button" do
              #{number_to_phone(member.phone_number)}
          - if member.email.present?
            .row
            .fa.fa-envelope
            %a{:href => "mailto:#{member.email}"}= member.email
          .row
          = link_to '', member, class: "btn btn-primary fa fa-eye btn-sm" if policy(member).show?
          = link_to '', edit_member_path(member), class: "btn btn-warning fa fa-edit btn-sm"  if policy(member).edit?
          = link_to '', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm"  if policy(member).destroy?
        /location & skills
        .col-md-3
          - if member.location.present?
            .fa.fa-map-marker-alt
            = link_to member.location, location_path(member.location)
            .row
          - if member.skills.any?
            .fa.fa-hand-paper
            %small
              /= member.skills.collect{|r| r.service_category}.to_sentence
              - member.skills.each do |skill|
                .badge.badge-secondary.text-white
                  = link_to skill.service_category, members_path(members_search: {skills_service_category_id_eq: skill.service_category.id}), class: 'text-white'
        /ADMIN - stats
        .col-md-2
          - if policy(member).show_money?
            .fa.fa-hand-paper
            = number_to_currency(member.jobs_due_price_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            (#{member.jobs_count})
            .row
            .fa.fa-dollar-sign
            = number_to_currency(member.expences_amount_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
            (#{member.expences_count})
            .row
            .fa.fa-balance-scale
            = number_to_currency(member.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        /USER
        %small.col-md-4
          /////////////////////user account/////////////////////
          - if member.user.present?
            = member.user.email
            .row
            /////////////////////user roles/////////////////////
            /= member.user.roles.where.not("name = 'owner'").collect{|r| r.name}.to_sentence
            - member.user.roles.where.not("name = 'owner'").each do |r| 
              = role_label(r.name)
            - if member.user.confirmed_at?
              .row
              = t('.has_access')
            - else
              .row
              = t('.no_access_resend_invitation_email')
            - unless member == current_user.member
              - if member.user.present?
                .row
                = link_to "<i class='fa-fw fa fa-trash'></i> #{t('.delete_access')}".html_safe, member.user, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" if policy(member.user).destroy?
          - else
            = t('.no_access')
            - if member.active?
              - if member.email.present?
                = t('.invite_user')
                /= button_to t('.invite_user'), invite_user_member_path(member), method: :patch, class: 'btn btn-sm btn-primary mr-md-2'
                /Devise invitable here
                /- if policy(User).create?
                /  = simple_form_for(User.new, url: user_invitation_path) do |z|
                /    = z.input :email, input_html: {value: member.email}, as: :hidden
                /    = z.input :member_id, input_html: {value: member.id}, as: :hidden
                /    = z.button :submit, 'Invite', class: "btn btn-success btn-sm"
              - else
                = t('.add_email_to_invite_user')
            - else
              = t('.terminated')
%p
.container.table-responsive
  = will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
/%br
/= Tenant.current_tenant.users.count
/- Tenant.current_tenant.users.each do |user| 
/  %p= user.email