- model_class = Member
= search_form_for @ransack_members, as: :members_search, url: members_path do |f|
  .card.card-default
    .container-fluid
      .card-heading
        %h4.card-title.float-left{:style => "padding-top: 7.5px;"} 
          .input-group
            .mr-sm-2
              %b=t '.title', :default => model_class.model_name.human.pluralize.titleize
            = f.search_field :full_name_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: "Name"
            %span.input-group-append
              %button.btn.btn-secondary{:type => "submit"}
                %span.fa.fa-search{"aria-hidden" => "true"}
        %h4.card-title.float-right{:style => "padding-top: 7.5px;"} 
          = link_to '', members_path, class: "btn btn-secondary fa fa-redo", title: 'Refresh', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
          - if policy(Member).create?
            - if (Tenant.current_tenant.can_create_members?)
              = link_to 'New Member', new_member_path, class: 'btn btn-sm btn-primary'
.table-responsive
  %table#table1
    %thead
      %tr
        %th= sort_link @ransack_members, :last_name, "Name"
        %th
        %th
          .fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Can delete only if no associated records"}
        %th User Roles
        %th Account status
        %th Account actions

    %tbody
      - @members.each do |member|
        %tr
          %td
            - if member.user_online.present?
              %i.fa.fa-fire{:style => "color:red;"}
            - if member.id == current_user.member.id
              .fa.fa-user
            = link_to member.full_name, member_path(member), class: "btn btn-primary btn-sm", title: 'Show', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(member).show?
          %td= link_to '', edit_member_path(member), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(member).update?
          %td
            = link_to '', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm", title: 'Delete', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(member).destroy?
          %td
            - if current_user.has_role?(:admin) && member.user.present?
              = link_to 'Edit roles', edit_user_path(member.user), class: 'btn btn-warning btn-sm'
            - if member.user.present?
              = member.user.roles.collect{|r| r.name}.to_sentence
          %td
          %td
.container
  = will_paginate @members, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
%br
