.row
  .col-lg-4
    .card
      .card-header
        %b Member:
        = @member.full_name
        .float-right
          = link_to '', edit_member_path(@member), class: "btn btn-warning fa fa-edit btn-sm", title: 'Edit', 'data-toggle' => 'tooltip', 'data-placement' => 'top' if policy(@member).update?
      .card-body
        .text-center
          .fa.fa-user-tie.fa-4x
        %b Phone number:
        = link_to "tel:#{@member.phone_number}", class: "button" do
          #{@member.phone_number}
        /%a{:href => "viber://chat?number=#{@member.phone_number}"}
        /  Viber
        %br
        %b Email:
        %a{:href => "mailto:#{@member.email}"}= @member.email
        %br
        %b Date of birth:
        - if @member.date_of_birth.present?
          = @member.date_of_birth.strftime('%d/%b/%Y') 
          (#{@member.age})
        %br
        %b Gender:
        = @member.gender
        %br
        %b Address:
        = @member.address
        %hr
        %b Balance, #{Tenant.current_tenant.default_currency.upcase}:
        = @member.balance_cents
        %br
        %b Status:
        = status_label(@member.status)
        %br
        %b Location:
        = link_to @member.location, location_path(@member.location) if @member.location.present?
        %hr
        %b Skills:
        /- @member.skills.each do |skill|
        /  = skill.service_category
        = @member.skills.map{|p| p.service_category}.join(", ")
        %hr
        %b Created at:
        = @member.created_at.strftime('%d/%b/%Y, %H:%M')
    %p
    .card
      .card-header
        %b Account & access
        .float-right
          -  if @member.id == current_user.id
            = link_to 'Edit password', edit_user_registration_path(@member.user), class: 'btn btn-sm btn-warning'
      .card-body
        - if @member.user.present?
          %p
            %b Created:
            = @member.user.created_at.strftime('%d/%b/%Y, %H:%M')
            %br
            %b Confirmed:
            = @member.user.confirmed_at.strftime('%d/%b/%Y, %H:%M') if @member.user.confirmed_at.present?
            /%br
            /%b Invited by:
            /= @member.user.invitor
    %p
    .card
      .card-header
        %b Roles
        .float-right
          - if current_user.has_role?(:admin) && @member.user.present?
            = link_to 'Edit roles', edit_user_path(@member.user), class: 'btn btn-warning btn-sm'
      .card-body
        - if @member.user.present?
          = @member.user.roles.collect{|r| r.name}.to_sentence
    %p

  .col-lg-8
    .card
      .card-header
        %b Calendar
      .card-body
        = render 'home/calendar'
    %p
    = render 'appointments/index'
