- model_class = Member
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-user-tie
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_member_path(@member), class: "btn btn-warning fa fa-edit btn-sm" if policy(@member).edit?
          = link_to '', @member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash btn-sm" if policy(@member).destroy?
      .card-body
        - if @member.avatar.attached?
          .text-center
            = image_tag @member.avatar, width: "200px", class: "mx-auto d-inline align-top rounded"
            .row
            %small= link_to 'Remove Avatar', delete_avatar_member_path(@member.avatar.id), method: :delete, data: { confirm: 'Are you sure?' } 
        .row
        %b= model_class.human_attribute_name(:full_name) + ':'
        = @member.full_name
        .row
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = link_to "tel:#{@member.phone_number}", class: "button" do
          #{number_to_phone(@member.phone_number)}
        - if @member.phone_number.present?
          = link_to "viber://chat?number=#{@member.phone_number}", class: "button" do
            .fab.fa-viber
        .row
        %b= model_class.human_attribute_name(:email) + ':'
        - if @member.email.present?
          = link_to @member.email, "mailto:#{@member.email}"
        .row
        %b= model_class.human_attribute_name(:date_of_birth) + ':'
        - if @member.date_of_birth.present?
          = @member.date_of_birth.strftime('%d/%b/%Y') 
          (#{@member.age})
        .row
        %b= model_class.human_attribute_name(:gender) + ':'
        = gender_label(@member.gender)
        .row
        %b= model_class.human_attribute_name(:address) + ':'
        = @member.address_line
        .row
        %b= model_class.human_attribute_name(:active) + ':'
        = active_label(@member.active)
        %hr
        %b
          .fa.fa-hand-paper
          = model_class.human_attribute_name(:skills) + ':'
        - if @member.skills.any?
          %small
            - @member.skills.each do |skill|
              .badge.badge-secondary
                = skill.service_category
        .row
        .fa.fa-map-marker-alt
        = model_class.human_attribute_name(:location_id) + ':'
        = link_to @member.location, location_path(@member.location) if @member.location.present?
        .row
        %b= model_class.human_attribute_name(:online_booking) + ':'
        = active_label(@member.online_booking)
        - if policy(@member).show_money?
          %hr
          .fa.fa-hand-paper
          %b= model_class.human_attribute_name(:event_earnings_sum) + ':'
          = number_to_currency(@member.event_earnings_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          (#{@member.jobs_count})
          .row
          .fa.fa-hand-holding-usd
          %b= model_class.human_attribute_name(:transactions_sum) + ':'
          = number_to_currency(@member.transactions_sum_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
          (#{@member.transactions_count})
          .row
          .fa.fa-balance-scale
          %b= model_class.human_attribute_name(:balance) + ':'
          = number_to_currency(@member.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
    %p
  - if @member.user.present?
    .col-lg-8
      .card
        .card-header
          .fa.fa-lock
          %b= t('.access_rights')
        .card-body
          %b= model_class.human_attribute_name(:time_zone) + ':'
          = @member.time_zone
          /= @member.user.time_zone
          .row
          %b= model_class.human_attribute_name(:created_at) + ':'
          = @member.user.created_at.strftime('%d/%b/%Y, %H:%M')
          .row
          %b= t('.confirmed_at')
          = @member.user.confirmed_at.strftime('%d/%b/%Y, %H:%M') if @member.user.confirmed_at.present?
          /.row
          /%b Invited by:
          /= @member.user.invitor
          -  if @member.id == current_user.id
            .row
            = link_to t('.edit_password'), edit_user_registration_path, class: 'btn btn-sm btn-warning'
          - if @member.user.present?
            .row
            %b= model_class.human_attribute_name(:roles) + ':'
            - @member.user.roles.where.not("name = 'owner'").each do |r| 
              = role_label(r.name)
          - if policy(@member.user).destroy? && @member.user.present?
            .row
            = link_to t('.edit_roles'), edit_user_path(@member.user), class: 'btn btn-warning btn-sm mb-sm-1 mt-sm-1'
            - unless @member == current_user.member
              .row
              = link_to "<i class='fa-fw fa fa-trash'></i> #{t('.delete_access')}".html_safe, @member.user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm mb-sm-1 mt-sm-1"
    %p
