- model_class = Member
.row
  .col-lg-4
    .card
      .card-header
        .fa.fa-user-tie
        =t '.title', :default => model_class.model_name.human.titleize
        .float-right
          = link_to '', edit_member_path(@member), class: "btn btn-warning fa fa-edit btn-sm" if policy(@member).update?
      .card-body
        %b= model_class.human_attribute_name(:full_name) + ':'
        = @member.full_name
        %br
        %b= model_class.human_attribute_name(:phone_number) + ':'
        = link_to "tel:#{@member.phone_number}", class: "button" do
          #{number_to_phone(@member.phone_number)}
        /%a{:href => "viber://chat?number=#{@member.phone_number}"}
        /  Viber
        %br
        %b= model_class.human_attribute_name(:email) + ':'
        %a{:href => "mailto:#{@member.email}"}= @member.email
        %br
        %b= model_class.human_attribute_name(:date_of_birth) + ':'
        - if @member.date_of_birth.present?
          = @member.date_of_birth.strftime('%d/%b/%Y') 
          (#{@member.age})
        %br
        %b= model_class.human_attribute_name(:gender) + ':'
        = @member.gender
        %br
        %b= model_class.human_attribute_name(:address) + ':'
        - if @member.address?
          /= @member.address
          /#{@member.address[:street_address]}, #{@member.address[:city]}, #{@member.address[:state]}, #{@member.address[:zip]}
          = @member.address[:country]
          = @member.address[:city]
          = @member.address[:street]
          = @member.address[:zip]
        %br
        %b= model_class.human_attribute_name(:skills) + ':'
        /- @member.skills.each do |skill|
        /  = skill.service_category
        = @member.skills.map{|p| p.service_category}.join(", ")
        %br
        %b= model_class.human_attribute_name(:location_id) + ':'
        = link_to @member.location, location_path(@member.location) if @member.location.present?
        %br
        %b= model_class.human_attribute_name(:time_zone) + ':'
        = @member.time_zone
        %hr
        %b= model_class.human_attribute_name(:balance) + ':'
        = number_to_currency(@member.balance_cents, unit: "#{Tenant.current_tenant.default_currency.upcase}", format: "%n %u")
        %br
        %b= model_class.human_attribute_name(:status) + ':'
        = status_label(@member.status)
        %hr
        %b User account
        - if @member.user.present?
          %p
            %b Created:
            = @member.user.created_at.strftime('%d/%b/%Y, %H:%M')
            %br
            %b Confirmed:
            = @member.user.confirmed_at.strftime('%d/%b/%Y, %H:%M') if @member.user.confirmed_at.present?
            /%br
            /%b Invited by:
            /= @member.user.invitor
            -  if @member.id == current_user.id
              %br
              = link_to 'Edit password', edit_user_registration_path, class: 'btn btn-sm btn-warning'
            - if @member.user.present?
              %br
              %b= model_class.human_attribute_name(:roles) + ':'
              - @member.user.roles.where.not("name = 'owner'").each do |r| 
                = role_label(r.name)
            - if current_user.has_role?(:admin) && @member.user.present?
              %br
              = link_to 'Edit roles', edit_user_path(@member.user), class: 'btn btn-warning btn-sm'
    %p
  .col-lg-8
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        %a#first-tab.nav-link.active{"aria-controls" => "first", "aria-selected" => "true", "data-toggle" => "tab", :href => "#first", :role => "tab"}
          Planned events:
          = @events.count
      %li.nav-item
        %a#second-tab.nav-link{"aria-controls" => "second", "aria-selected" => "false", "data-toggle" => "tab", :href => "#second", :role => "tab"}
          Salaries/Payments
      %li.nav-item
        %a#third-tab.nav-link{"aria-controls" => "third", "aria-selected" => "false", "data-toggle" => "tab", :href => "#third", :role => "tab"}
          Earnings/month
    #myTabContent.tab-content
      #first.tab-pane.fade.show.active{"aria-labelledby" => "first-tab", :role => "tabpanel"}
        = render 'events/index'
      #second.tab-pane.fade{"aria-labelledby" => "second-tab", :role => "tabpanel"}
        2
      #third.tab-pane.fade{"aria-labelledby" => "third-tab", :role => "tabpanel"}
        - if policy(@member).show_money?
          = bar_chart @member.jobs.joins(:event).where(events: {status: [:confirmed]}).group_by_month('events.starts_at').sum('member_due_price/100'), download: true, prefix: "#{Tenant.current_tenant.default_currency.upcase} "
